<div class="col-12 card mb-2">
  <h1 class="m-0 p-2"><b>REGISTRO DE INGRESOS EXTRA</b></h1>
</div>

<div class="col-12 card p-2 mb-2">
  <form [formGroup]='formularioIngresoExtra'> 
    <div class="row">   
      <div class="col-12 d-flex">
        <h2>DETALLE DE LOS INGREOS EXTRA</h2>
      </div>
      
      <div class="col-12 col-lg-3 d-flex flex-column mb-2 mb-lg-0">
        <label for="gestion">Gestión</label>
        <select class="form-select"
                id="gestion"
                formControlName="gestion"
                [ngClass]="{'is-invalid': campoInvalido('gestion'), 'is-valid': campoValido('gestion')}">
          <option [value]="0" [disabled]="true">Seleccione la gestión...</option>
          <option [value]="anio.idAnio" *ngFor="let anio of listaGestiones">
            {{anio.anio}}
          </option>
        </select>
      </div>

      <div class="col-12 col-lg-3 d-flex flex-column mb-2 mb-lg-0">
        <label for="fechaRegistro">Fecha Registro</label>
        <input  type="date" 
                id="fechaRegistro" 
                class="form-control"
                formControlName="fechaRegistro"
                [ngClass]="{'is-invalid': campoInvalido('fechaRegistro'), 'is-valid': campoValido('fechaRegistro')}">
      </div> 

      <div  class="col-12 m-0"
            formArrayName="ingresosExtra">
        <div  class="row pe-0"
              *ngFor="let ingresoExtra of ingresosExtraList.controls;index as i"
              [formGroupName]="i">  

          <div class="col-12 col-lg-8 pt-2 d-flex flex-column">
            <label for="nombre" class="pb-1">Nombre</label>
            <textarea type="text" 
                      id="nombre" 
                      class="form-control"
                      autocomplete="off"
                      placeholder="Nombre de ingreso extra..."
                      formControlName="nombre"
                      [ngClass]="{'is-invalid': ingresoExtraInvalido(i,'nombre'), 'is-valid': ingresoExtraValido(i,'nombre') }">
            </textarea>
          </div>

          <div class="col-12 col-lg-2 pt-2 d-flex flex-column">
            <label for="costoUnitario" class="pb-1">Costo unitario</label>
            <input  type="number" 
                    id="costoUnitario" 
                    class="form-control"
                    placeholder="Costo unitario..."
                    formControlName="costoUnitario"
                    autocomplete="off"
                    [ngClass]="{'is-invalid': ingresoExtraInvalido(i,'costoUnitario'), 'is-valid': ingresoExtraValido(i,'costoUnitario') }">
          </div>

          <div class="col-12 col-lg-1 pt-2 d-flex flex-column">
            <label for="unidades" class="pb-1">Unidades</label>
            <input  type="text" 
                    id="unidades" 
                    class="form-control"
                    placeholder="Unidades..."
                    formControlName="unidades"
                    autocomplete="off"
                    [ngClass]="{'is-invalid': ingresoExtraInvalido(i,'unidades'), 'is-valid': ingresoExtraValido(i,'unidades') }">
          </div>

          <div  class="col-12 col-lg-1 pt-2 d-flex flex-column justify-content-center"
                *ngIf="i==0">
              <button class="btn btn-outline-success d-flex justify-content-center"
                      type="button"
                      (click)="aniadirIngresoExtra()"
                      [disabled]="ingresoExtraUpdate!=aux">
                <span class="material-icons">add</span>
              </button>
          </div>

          <div  class="ccol-12 col-lg-1 pt-2 d-flex flex-column justify-content-center"
                *ngIf="i!=0">
            <button class="btn btn-outline-danger d-flex justify-content-center"
                    type="button"
                    (click)="eliminarIngresoExtra(i)">
              <span class="material-icons">close</span>
            </button>
          </div>
        </div> 
      </div>
    </div>
    
    <div class="row pt-2 d-flex justify-content-center">
      <div class="d-flex flex-column py-1 col-12 col-md-4 col-lg-3 col-xl-2 mb-2 mb-md-0">    
        <button class="btn btn-outline-danger"
                type="button"
                (click)="cancelarRegistroIngresoExtra()">
          <span class="mdi mdi-trash-can"></span>
          Cancelar
        </button>
      </div>

      <div  class="d-flex flex-column py-1 col-12 col-md-4 col-lg-3 col-xl-2 mb-2 mb-md-0" 
            *ngIf="ingresoExtraUpdate==aux">   
        <button class="btn btn-outline-primary"
                (click)="guardarRegistroIngresoExtra()">
          <span class="mdi mdi-content-save"></span>
          Guardar
        </button>
      </div>

      <div  class="d-flex flex-column py-1 col-12 col-md-4 col-lg-3 col-xl-2 mb-2 mb-md-0" 
            *ngIf="ingresoExtraUpdate!=aux">   
        <button class="btn btn-outline-success"
                type="button"
                (click)="actualizarRegistroIngresoExtra()">
          <span class="mdi mdi-content-save"></span>
          Actualizar
        </button>
      </div>
    </div>  
  </form>
</div>

<div class="col-12 card p-2 mb-2">
  <form [formGroup]='formularioGestion'> 
    <div class="row m-0 p-0 mb-2">   
      <div class="col-12 col-md-8">
        <h2>LISTA DE INGREOS EXTRA</h2>
      </div>

      <div class="col-12 col-lg-4 d-flex flex-column mb-2 mb-lg-0">
        <label for="gestion">Gestión</label>
        <select class="form-select"
                id="gestion"
                formControlName="gestion"
                (change) = "changeGestionListaIngresoExtra()"
                [ngClass]="{'is-invalid': campoInvalidoGestion('gestion'), 'is-valid': campoValidoGestion('gestion')}">
          <option [value]="0" [disabled]="true">Seleccione la gestión...</option>
          <option [value]="anio.idAnio" *ngFor="let anio of listaGestiones">
            {{anio.anio}}
          </option>
        </select>
      </div>
    </div>
  </form>

  <div class="row m-0 p-0">
    <app-tabla  #tablaIngresoExtra
                [tituloItems]              = "tituloItems"
                [campoItems]               = "campoItems"
                [idItem]                   = "idItem"
                [listaItems]               = "listaIngresoExtraVO"
                [editar]                   = "isPresidente()||isAdmin()"
                [eliminar]                 = "isPresidente()||isAdmin()"
                [idTable]                  = "'tablaIngresoExtra'"
                (editarItemSeleccionado)   = "actualizarItemEvent($event)"
                (eliminarItemSeleccionado) = "eliminarItemEvent($event)">
    </app-tabla>
  </div>
</div>

<div class="col-12 card p-2 mb-2">    
  <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoXLSX()">      
  </app-imprimir-pdf>
</div>