<div class="container-fluid row m-0 p-0">
  <div class="col-12 card mb-2">
    <h1 class="m-0 py-2"><b>REGISTRO DE MEDIDORES</b></h1>
  </div>

  <div class="col-12 card py-1 mb-2">
    <form [formGroup]='formularioRegistroMedidor'>
   
      <div class="row">    
        <div class="row">
          <div class="col-12 col-lg-6 d-flex flex-column mb-2 mb-lg-0">
            <h2>DATOS DE MEDIDOR</h2>
          </div>

          <div class="col-12 col-lg-3 d-flex flex-column mb-2 mb-lg-0">
            <label for="fechaRegistro" class="pb-1">Fecha Registro</label>
            <input  type="text" 
                    id="fechaRegistro" 
                    class="form-control"
                    formControlName="fechaRegistro">
          </div>

          <div class="col-12 col-lg-3 d-flex flex-column mb-2 mb-lg-0">
            <label for="responsableRegistro" class="pb-1">Responsable</label>
            <input  type="text" 
                    autocomplete="off"
                    id="responsableRegistro" 
                    class="form-control"  
                    [disabled]='true'
                    formControlName="responsableRegistro">
          </div>
        </div>
        

        <div  class="col-12 m-0"
              formArrayName="medidores">
          <div  class="row pe-0"
                *ngFor="let medidor of medidores.controls;index as i"
                [formGroupName]="i">                             

            <div class="col-12 col-lg-2 pt-2 d-flex flex-column">
              <label for="codigoMedidor" class="pb-1">Codigo medidor</label>
              <input  type="text" 
                      id="codigoMedidor" 
                      class="form-control"
                      autocomplete="off"
                      placeholder="Código de medidor..."
                      formControlName="codigoMedidor"
                      [ngClass]="{'is-invalid': medidorInvalido(i,'codigoMedidor'), 'is-valid': medidorValido(i,'codigoMedidor') }">

                      <div class="my-2 text-primary" *ngIf="medidor.get('codigoMedidor')?.status === 'PENDING'">
                        Verificando...
                      </div>                        

                      <div class="my-2 text-primary" *ngIf="medidor.get('codigoMedidor')?.errors && medidor.get('codigoMedidor')?.value != '' && medidor.get('codigoMedidor')?.value != undefined">
                        Código no disponible
                      </div>
            </div>

            <div class="col-12 col-lg-2 pt-2 d-flex flex-column">
              <label for="nroSerieMedidor" class="pb-1">Nro. Serie medidor</label>
              <input  type="text" 
                      id="nroSerieMedidor" 
                      class="form-control"
                      autocomplete="off"
                      placeholder="Nro. serie de medidor..."
                      formControlName="nroSerieMedidor"
                      [ngClass]="{'is-invalid': medidorInvalido(i,'nroSerieMedidor'), 'is-valid': medidorValido(i,'nroSerieMedidor') }">
            </div>
            
            <div class="col-12 col-lg-2 pt-2 d-flex flex-column">
              <label for="lecturaActual" class="pb-1">Lectura Actual</label>
              <input  type="number" 
                      id="lecturaActual" 
                      class="form-control"
                      placeholder="Lectura actual..."
                      formControlName="lecturaActual"
                      autocomplete="off"
                      [ngClass]="{'is-invalid': medidorInvalido(i,'lecturaActual'), 'is-valid': medidorValido(i,'lecturaActual') }">
            </div>

            <div class="col-12 col-lg-3 pt-2 d-flex flex-column">
              <label for="direccion" class="pb-1">Direcion</label>
              <input  type="text" 
                      id="direccion" 
                      class="form-control"
                      placeholder="Direccion almacenaje medidor..."
                      formControlName="direccion"
                      autocomplete="off"
                      [ngClass]="{'is-invalid': medidorInvalido(i,'direccion'), 'is-valid': medidorValido(i,'direccion') }">
            </div>

            <div class="col-12 col-lg-2 pt-2 d-flex flex-column">
              <label for="lecturaInicial" class="pb-1">Propieatario</label>
              <select class="form-select"
                      formControlName="opcionPropietario" 
                      [ngClass]="{'is-invalid': medidorInvalido(i,'opcionPropietario'), 'is-valid': medidorValido(i,'opcionPropietario') }">
                <option value="true">Cooperativa</option>
                <option value="false">Socio</option>
              </select>
            </div>

            <div  class="col-12 col-lg-1 pt-2 d-flex flex-column justify-content-end"
                  *ngIf="i==0">
                <button class="btn btn-outline-success d-flex justify-content-center"
                        type="button"
                        (click)="aniadirMedidor()"
                        [disabled]="banderaUpdate">
                  <span class="material-icons">add</span>
                </button>
            </div>

            <div  class="ccol-12 col-lg-1 pt-2 d-flex flex-column justify-content-end"
                  *ngIf="i!=0">
              <button class="btn btn-outline-danger d-flex justify-content-center"
                      type="button"
                      (click)="eliminarMedidor(i)">
                <span class="material-icons">close</span>
              </button>
            </div>
          </div> 
        </div>
      </div>
      
      <div class="row pt-2 d-flex justify-content-center">
        <div class="d-flex flex-column py-1 col-12 col-md-4 col-lg-3 col-xl-2 mb-2 mb-md-0">    
          <button class="btn btn-outline-danger"
                  type="button"
                  (click)="cancelarRegistroSocio()">
            <span class="mdi mdi-trash-can"></span>
            Cancelar
          </button>
        </div>

        <div  class="d-flex flex-column py-1 col-12 col-md-4 col-lg-3 col-xl-2 mb-2 mb-md-0" 
              *ngIf="!banderaUpdate">   
          <button class="btn btn-outline-primary"
                  (click)="registrarMedidorDeSocio()">
            <span class="mdi mdi-content-save"></span>
            Guardar
          </button>
        </div>

        <div  class="d-flex flex-column py-1 col-12 col-md-4 col-lg-3 col-xl-2 mb-2 mb-md-0" 
              *ngIf="banderaUpdate">   
          <button class="btn btn-outline-success"
                  type="button"
                  (click)="actualizarDatosDeMedidor()">
            <span class="mdi mdi-content-save"></span>
            Actualizar
          </button>
        </div>
      </div>  
    </form>
  </div>

  <div class="col-12 card py-2">
    <h2>LISTA DE MEDIDORES ASIGNADOS Y NO ASIGNADOS</h2>
    <app-table-paginator  #tablaListaMedidoresRegSocio
                          [tituloItems]      = tituloItems
                          [campoItems]       = campoItems
                          [idItem]           = idItem
                          [listaItems]       = listaMedidores
                          [countItems]       = countItems
                          [update]           = isPresidente()||isAdmin()
                          [idTable]          = "'tablaListaMedidoresRegSocio'"
                          (updateItem)       = "actualizarMedidorEvent($event)"
                          (cambioDePagina)   = "cambioDePagina($event)"
                          >
    </app-table-paginator>
  </div>

  <div class="col-12 mb-2 py-2 my-2 card">    
    <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoXLSX()">
    </app-imprimir-pdf>
  </div>
</div>
