<div class="container-fluid row m-0 p-0">
  <div class="col-12 card mb-2">
    <h1 class="m-0 py-2"><b>DAR DE BAJA A MEDIDOR</b></h1>
  </div>

  <div class="col-12 col-xl-6 p-0 pe-xl-2 mb-2 mb-xl-0">
    <app-lista-medidores-sin-asignar-a-socio  #medidoresDisponiblesComponent
                                              class=""
                                              (seleccionarMedidor)="seleccionarMedidorEvent($event)">      
    </app-lista-medidores-sin-asignar-a-socio>
  </div>

  <div class="col-12 col-xl-6  p-0">
    <form [formGroup]='formularioBajaMedidor'     
          (ngSubmit)='registrarBajaMedidor()'>
      <div class="card p-2">
        <div class="row">

          <div class="col-12 d-flex justify-content-between">
            <h2>REGISTRO PARA DAR DE BAJA MEDIDOR</h2>

            <h3 class="my-0"><strong>Código de medidor : </strong>{{(medidorSeleccionado==undefined)?'':medidorSeleccionado.codigo}}</h3>
          </div>

          <div class="col-12 col-md-6 d-flex flex-column">
            <label for="fechaRegistro" class="pb-1">Fecha Registro</label>
            <input  type="date" 
                    id="fechaRegistro" 
                    class="form-control"
                    formControlName="fechaRegistro"
                    [ngClass]="{'is-invalid': campoInvalido('fechaRegistro'), 'is-valid': campoValido('fechaRegistro') }">
            
          </div> 

          <div class="col-12 col-md-6 d-flex flex-column">
            <label for="responsableBaja" class="pb-1">Responsable</label>
            <input  type="text" 
                    autocomplete="off"
                    id="responsableBaja" 
                    class="form-control"  
                    [disabled]='true'
                    formControlName="responsableBaja">
          </div> 

          <div class="col-12 mt-2 d-flex flex-column">
            <label for="motivo" class="pb-1">Motivo</label>
            <textarea type="text" 
                      id="motivo"
                      rows="6" 
                      class="form-control"  
                      placeholder="Ingrese el motivo de retiro del medidor..."
                      formControlName="motivo"
                      [ngClass]="{'is-invalid': campoInvalido('motivo'), 'is-valid': campoValido('motivo') }">
            </textarea>
          </div> 

          <div class="col-12 mt-2 d-flex flex-column">
            <label for="ubicacionDeRetiro" class="pb-1">Ubicacion de retiro</label>
            <textarea type="text" 
                      id="ubicacionDeRetiro"
                      rows="6" 
                      class="form-control"  
                      placeholder="Ingrese la ubicación de retiro donde se encontrara el medidor..."
                      formControlName="ubicacionDeRetiro"
                      [ngClass]="{'is-invalid': campoInvalido('ubicacionDeRetiro'), 'is-valid': campoValido('ubicacionDeRetiro') }">
            </textarea>
          </div> 

          <div class="col-12 mt-2">
            <div class="row d-flex justify-content-center">              
              <div class="col-12 col-sm-4 col-md-3 py-1 d-flex flex-column">    
                <button class="btn btn-outline-danger"
                        type="button"
                        (click)="cancelarRegistroMedidor()">
                  <span class="mdi mdi-trash-can"></span>
                  Cancelar
                </button>
              </div>

              <div class="col-12 col-sm-4 col-md-3 py-1 d-flex flex-column" *ngIf="!banderaUpdate">   
                <button class="btn btn-outline-primary"
                        type="submit">
                  <span class="mdi mdi-content-save"></span>
                  Guardar
                </button>
              </div>

              <div class="col-12 col-sm-4 col-md-3 py-1 d-flex flex-column" *ngIf="banderaUpdate">   
                <button class="btn btn-outline-success"
                        type="button"
                        (click)="updateBajaMedidor()">
                  <span class="mdi mdi-content-save"></span>
                  Actualizar
                </button>
              </div>
            </div> 
          </div>

        </div>
      </div>
    </form>
  </div>          
  
  <div class="col-12 card p-2 mt-2">
    <h2>HISTORIAL MEDIDORES DADOS DE BAJA ORDENADOS POR FECHA</h2>
    <app-table-paginator  #tablaBajaMedidor
                          [tituloItems]      = "tituloItems"
                          [campoItems]       = "campoItems"
                          [idItem]           = "idItem"
                          [listaItems]       = "listaLogBajaMedidores"
                          [countItems]       = "countMedidor"
                          [update]           = "true"
                          [idTable]          = "'tablaBajaMedidor'"
                          (cambioDePagina)   = "newPageOrChangeSizePage($event)"
                          (itemSeleccionado) = "selectMedidorEvent($event)"
                          (updateItem)       = "updateMedidorEvent($event)"
                        >
    </app-table-paginator>
  </div>

  <div class="col-12 mb-2 py-2 my-2 card">    
    <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoXLSX()">      
    </app-imprimir-pdf>
  </div>
</div>

