<div class="col-12 mb-2 card">
  <h1 class="m-0 p-2"><b>REPORTE DE DEUDAS DE APORTES EVENTUALES</b></h1>
</div>

<div class="col-12 mb-2 card">
  <div class="row m-0 p-0">
    <div class="col-12 col-md-6 d-flex align-items-center">
      <h2 class="m-0 p-0">BUSQUEDA EN RANGO FECHA</h2>
    </div>

    <div class="col-12 col-md-6 my-2">
      <app-rango-fecha  #rangoFechaComponent
                        (cambioFechaEvent)="getReporte($event)">          
      </app-rango-fecha>
    </div>
  </div>
</div>

<div class="col-12 mb-2 card">
  <div class="table-responsive m-2">
    <table  class="table table-hover table-sm" 
            id="tableResultadosAportesEventuales">
      <thead style="background-color: #154360;">
        <tr>
          <th scope="col" 
              class="align-middle fw-normal p-2 text-white text-center"
              *ngFor="let titulo of tituloItems">
            {{titulo}}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let aporteEventual of reporteAporteEventualListTratado"
            (click)="seleccionarItem(aporteEventual)"
            class="pointer">

          <!-- evento -->
          <ng-container *ngIf="aporteEventual.indexItem == 0">
            <td class="align-middle text-center"
                scope="row"
                [attr.rowspan]="aporteEventual.countRows"
                [ngStyle]="{'border-right':'1px solid #EAECEE'}">                      
                {{ aporteEventual['indexGlobal'] }}
            </td>

            <td class="align-middle text-center"
                scope="row"
                [attr.rowspan]="aporteEventual.countRows"
                [ngStyle]="{'border-right':'1px solid #EAECEE'}">                      
                {{ aporteEventual['nombre'] }}
            </td>

            <td class="align-middle text-center"
                scope="row"
                [attr.rowspan]="aporteEventual.countRows"
                [ngStyle]="{'border-right':'1px solid #EAECEE'}">                      
                {{ aporteEventual['fechaRegistro'] }}
            </td>

            <td class="align-middle text-center"
                scope="row"
                [attr.rowspan]="aporteEventual.countRows"
                [ngStyle]="{'border-right':'1px solid #EAECEE'}">                      
                {{ aporteEventual['montoAporte'] }}
            </td>
          </ng-container>
          
          <!-- estado socio seguimineot reunion -->
          <td class="align-middle text-center"
              scope="row"
              [attr.rowspan]="1"
              [ngStyle]="{'border-right':'1px solid #EAECEE', 'background-color': (aporteEventual.seleccionado)?'#85C1E9':'#FFFFFF'}"
              *ngFor="let socioAporte of campoItems">                      
              {{ aporteEventual[socioAporte] }}
          </td>

          <ng-container *ngIf="aporteEventual.indexItem == 0">
            <td class="align-middle text-center"
                scope="row"
                [attr.rowspan]="aporteEventual.countRows"
                [ngStyle]="{'border-right':'1px solid #EAECEE'}">                      
                {{ aporteEventual['sumaTotal'] }}
            </td>
          </ng-container>
        </tr>npm 

        <tr class="text-center fw-bold"
            [ngStyle]="{'background-color': '#EBEDEF'}"
            *ngIf="reporteAporteEventualVO!=aux">
          <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}">
              {{ reporteAporteEventualVO?.countRows+1 }}
          </td>  
          <td [attr.colspan]="9"
              [ngStyle]="{'border-right':'1px solid #ABB2B9'}">
              Suma total
          </td>
          <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}">
              {{ reporteAporteEventualVO?.sumaTotal }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="col-12 mb-2 py-2 card">    
  <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoXLSX()">      
  </app-imprimir-pdf>
</div>

