<div class="container-fluid m-0 p-0">
  <div class="row mb-2 card">
    <h1 class="m-0 py-2"><b>CONFIGURACIÓN COSTO AGUA POR PERIODO</b></h1>
  </div>

  <div class="row mb-2 card">
    <div class="col-12 py-2">
      <h2 class="m-0 p-0">ESTABLECER COSTO AGUA POR PERIODO</h2>
    </div>

    <div class="col-12 pb-2">
      <form [formGroup]='formularioRegistroConfiguracionCostoAgua'>
        <div class="row d-flex justify-content-end">
          <div class="col-12 col-xl-6">
            <div class="row">
              <div class="col-12 col-lg-4 mb-2 mb-lg-0">
                <label for="costoM3">Costo regular M3</label>
                <input  type="number" 
                        id="costoM3"
                        class="form-control" 
                        autocomplete="off"
                        placeholder="Costo del agua M3..."
                        formControlName="costoM3"
                        [ngClass]="{'is-invalid': formularioRegistroConfiguracionCostoAguaInvalido('costoM3'), 'is-valid': formularioRegistroConfiguracionCostoAguaValido('costoM3') }">
              </div>

              <div class="col-12 col-lg-4 mb-2 mb-lg-0">
                <label for="costoMinimoM3">Costo minimo M3</label>
                <input  type="number" 
                        id="costoMinimoM3"
                        class="form-control" 
                        autocomplete="off"
                        placeholder="Costo mínimo M3..."
                        formControlName="costoMinimoM3"
                        [ngClass]="{'is-invalid': formularioRegistroConfiguracionCostoAguaInvalido('costoMinimoM3'), 'is-valid': formularioRegistroConfiguracionCostoAguaValido('costoMinimoM3') }">
              </div>
    
              <div class="col-12 col-lg-4 mb-2 mb-lg-0">
                <label for="volumenMinimoM3">Volumen minimo M3</label>
                <input  type="number" 
                        id="volumenMinimoM3"
                        class="form-control" 
                        autocomplete="off"
                        placeholder="Volumen mínimo M3..."
                        formControlName="volumenMinimoM3"
                        [ngClass]="{'is-invalid': formularioRegistroConfiguracionCostoAguaInvalido('volumenMinimoM3'), 'is-valid': formularioRegistroConfiguracionCostoAguaValido('volumenMinimoM3') }">
              </div>
            </div>
          </div>

          <div class="col-12 col-xl-6">
            <div class="row">
              <div class="col-12 col-md-10 mb-2 mb-md-0">
                <label for="observacion">Observación</label>
                <input  type="text" 
                        autocomplete="off"
                        id="observacion"
                        class="form-control" 
                        autocomplete="off"
                        placeholder="Observación..."
                        formControlName="observacion"
                        [ngClass]="{'is-invalid': formularioRegistroConfiguracionCostoAguaInvalido('observacion'), 'is-valid': formularioRegistroConfiguracionCostoAguaValido('observacion') }">
              </div>
              
              <!--1.- registrar -->
              <div class="col-12 col-md-1 mb-2 mb-md-0 d-flex flex-column justify-content-end" *ngIf="tipoAccion==1">
                <button class="btn btn-outline-primary mb-0  d-flex justify-content-center"
                        type="button"
                        (click)="registrarCostoAguaPorPeriodo()">
                  <span class="material-icons">save</span>
                </button>
              </div>

              <!--2.- actualizar-->
              <div class="col-12 col-md-1 mb-2 mb-md-0 d-flex flex-column justify-content-end" *ngIf="tipoAccion==2">
                <button class="btn btn-outline-success mb-0  d-flex justify-content-center"
                        type="button"
                        (click)="actualizarCostoAguaPorPeriodo()">
                  <span class="material-icons">edit</span>
                </button>
              </div>
            

              <div class="col-12 col-md-1 d-flex flex-column justify-content-end">
                <button class="btn btn-outline-danger mb-0  d-flex justify-content-center"
                        type="button"
                        (click)="cancelCostoAguaPorPeriodo()">
                  <span class="material-icons">close</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row mb-2 card">
    <div class="col-12 py-2">
      <div class="row">
        <div class="col-12 col-lg-4 col-xl-5 mb-2 mb-lg-0">
          <h2 class="m-0 p-0">LISTA COSTO AGUA POR PERIODO</h2>
        </div>
        
        <div class="col-12 col-lg-8 col-xl-7">
          <form [formGroup]='formularioBusquedaConfiguracionCostoAgua'>
            <div class="row">
              <div class="col-12 col-md-4 mb-2 mb-md-0">
                <label for="accion">Tipo de acción</label>
                <select class="form-select"
                        id="accion"
                        (change)="cambioTipoAccion()" 
                        formControlName="accion"
                        [ngClass]="{'is-invalid': formularioBusquedaConfiguracionCostoAguaInvalido('accion'), 'is-valid': formularioBusquedaConfiguracionCostoAguaValido('accion')}">
                  <option [value]="0" [disabled]="true">Seleccione el tipo de acción...</option>
                  <option [value]="1">Registrar</option>
                  <option [value]="2">Actualizar</option>
                  
                </select>
              </div>

              <div class="col-12 col-md-4 mb-2 mb-md-0">
                <label for="gestion">Gestión</label>
                <select class="form-select"
                        id="gestion"
                        (change)="getConfiguracionCostoAguaPorPeriodo()"
                        formControlName="gestion"
                        [ngClass]="{'is-invalid': formularioBusquedaConfiguracionCostoAguaInvalido('gestion'), 'is-valid': formularioBusquedaConfiguracionCostoAguaValido('gestion')}">
                  <option [value]="0" [disabled]="true">Seleccione la gestión...</option>
                  <option [value]="anio.idAnio" *ngFor="let anio of listaItemsAnioConfiguracionCostoAgua">{{anio.anio}}</option>
                </select>
              </div>
              
              <div class="col-12 col-md-4 mb-2 mb-md-0">
                <label for="categoria">Categoria</label>
                <select class="form-select"
                        (change)="getConfiguracionCostoAguaPorPeriodo()"
                        formControlName="categoria"
                        [ngClass]="{'is-invalid': formularioBusquedaConfiguracionCostoAguaInvalido('categoria'), 'is-valid': formularioBusquedaConfiguracionCostoAguaValido('categoria')}">
                  <option [value]="0" [disabled]="true">Seleccione la categoría...</option>
                  <option [value]="categoria.idCategoria" *ngFor="let categoria of listaItemsCategoriaConfiguracionCostoAgua">{{categoria.codigo}}-{{categoria.nombre}}</option>
                </select>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-12 py-2">
      <div *ngIf="tipoAccion==1"> <!-- Registrar -->
        <app-tabla  #tablaCostoAguaRegistrar
                    [tituloItems]  = "listaTituloPeriodosDeAnioSinCostoAguaAsignados"
                    [campoItems]   = "listaCampoItemPeriodosDeAnioSinCostoAguaAsignados"
                    [idItem]       = "idItemPeriodosDeAnioSinCostoAguaAsignados"
                    [listaItems]   = "listaItemsPeriodosDeAnioSinCostoAguaAsignados"
                    [editar]       = "false"
                    [eliminar]     = "false"
                    [labelCheck]   = "'Seleccionar'"
                    [disableCheck] = "false"
                    [checkItems]   = "true"
                    [idTable]      = "'tablaCostoAguaRegistrar'">
        </app-tabla>
      </div>

      <div *ngIf="tipoAccion==2"> <!-- Actualizar -->
        <app-tabla  #tablaCostoAguaActualizar
                    [tituloItems]  = "listaTituloPeriodosDeAnioConCostoAguaAsignados"
                    [campoItems]   = "listaCampoItemPeriodosDeAnioConCostoAguaAsignados"
                    [idItem]       = "idItemPeriodosDeAnioConCostoAguaAsignados"
                    [listaItems]   = "listaItemsPeriodosDeAnioConCostoAguaAsignados"
                    [editar]       = "false"
                    [eliminar]     = "false"
                    [labelCheck]   = "'Seleccionar'"
                    [disableCheck] = "false"
                    [checkItems]   = "true"
                    [idTable]      = "'tablaCostoAguaActualizar'">
        </app-tabla>
      </div>
    </div>
  </div>

  <div class="row mb-2 py-2 my-2 card">    
    <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoXLSX()">      
    </app-imprimir-pdf>
  </div>
</div>