<form [formGroup]='formularioFiltro'
      (ngSubmit)='busqueda()'>
  <div class="col-12 mb-2 py-1">
    <div class="row">
      <div class="col-12 col-sm-2">
        <div class="row ps-3">
          Fecha
        </div>
        <div class="row">
          <mat-slide-toggle [checked]="onOff"
                          [color]="'primary'"
                          (change)="switchOnOff($event)">           
          </mat-slide-toggle>
        </div>
      </div>

      <div class="col-12 col-sm-5">
        <label for="fechaInicio">Fecha Incio:</label>
        <input type="date" 
                class="form-control" 
                name="fechaInicio"
                formControlName="fechaInicio"
                (change)="cambioFechaEvento()"
                [ngClass]="{'is-invalid': !rangofechaValida(), 'is-valid': rangofechaValida()}">
      </div>

      <div class="col-12 col-sm-5">
        <label for="fechaFin">Mes Fin:</label>
        <input type="date" 
                class="form-control" 
                name="fechaFin"
                formControlName="fechaFin"
                (change)="cambioFechaEvento()"
                [ngClass]="{'is-invalid': !rangofechaValida(), 'is-valid': rangofechaValida()}">
      </div>
    </div>
  </div>
</form>