<h2 mat-dialog-title
    class="title-confirm-dialog">
  {{data.title}}
</h2>

<hr>

<div mat-dialog-content>
  {{data.message}}
</div>

<div  mat-dialog-actions
      class="footer-confirm-dialog">
  <div class="cancel-confirm-dialog">
    <button class="btn btn-outline-danger btn-sm" 
          type="button" 
          (click)="onDismiss()">
      <span class="mdi mdi-close"></span>
      {{data.dismiss}}
    </button>
  </div>

  <div class="ok-confirm-dialog">
    <button class="btn btn-outline-primary btn-sm" 
          type="button" 
          (click)="onConfirm()" 
          cdkFocusInitial>
      <span class="mdi mdi-check"></span>
      {{data.confirm}}
    </button>
  </div>
</div>