.title-confirm-dialog{
  text-align: center;
}

.footer-confirm-dialog{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cancel-confirm-dialog{
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 1% 1%;
}

.ok-confirm-dialog{
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 1% 1%;
}

@media (max-width: 600px) {
  .footer-confirm-dialog{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cancel-confirm-dialog{
    width: 80%;
  }
  
  .ok-confirm-dialog{
    width: 80%;
  }
}

@media (max-width: 400px) {
  .cancel-confirm-dialog{
    width: 100%;
  }
  
  .ok-confirm-dialog{
    width: 100%;
  }
}