<div class="col-12 mb-2 card">
  <h1 class="m-0 p-2"><b>REPORTE DE INGRESOS POR CONSUMO DE AGUA - RANGO FECHA</b></h1>
</div>

<div class="col-12 mb-2 card">
  <div class="row m-0 p-0">
    <div class="col-12 col-md-6 d-flex align-items-center">
      <h2 class="m-0 p-0">BUSQUEDA EN RANGO FECHA</h2>
    </div>

    <div class="col-12 col-md-6">
      <app-rango-fecha  #rangoFechaComponent
                        (cambioFechaEvent)="getReporte($event)">          
      </app-rango-fecha>
    </div>
  </div>
</div>

<div class="col-12 mb-2 card">
  <div class="row m-0 mt-2 p-0">
    <h2 class="my-0">RESULTADOS DE LOS COBROS EXTRA</h2>
  </div>

  <div class="table-responsive m-2">
    <table  class="table table-hover table-sm" 
            id="tableCobroExtra">
      <thead style="background-color: #154360;">
        <tr>
          <th scope="col" class="align-middle fw-normal p-2 text-white text-center">#</th>
          <th scope="col" class="align-middle fw-normal p-2 text-white text-center">Código cobro extra</th>
          <th scope="col" class="align-middle fw-normal p-2 text-white text-center">Nombre cobro extra</th>
          <th scope="col" class="align-middle fw-normal p-2 text-white text-center">Suma ingreso</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let cobroExtra of historialLecturaPeriodoData?.cobroExtraPeriodoDataList;let i = index"
            (click)="seleccionarItemCobroExtra(cobroExtra)"     
            [ngStyle]="{'background-color': (cobroExtra.seleccionado)?'#85C1E9':'#FFFFFF'}"
            class="pointer">
    
          <td class="text-center"
              scope="row"
              [attr.rowspan]="1"
              [ngStyle]="{'border-right':'1px solid #EAECEE'}">                      
            {{i + 1}}
          </td>

          <td class="text-center"
              scope="row"
              [attr.rowspan]="1"
              [ngStyle]="{'border-right':'1px solid #EAECEE'}">                      
            {{cobroExtra.nombreCobroExtra}}
          </td>

          <td class="text-center"
              scope="row"
              [attr.rowspan]="1"
              [ngStyle]="{'border-right':'1px solid #EAECEE'}">                      
            {{cobroExtra.detalle}}
          </td>
          
          <td class="text-center"
              scope="row"
              [attr.rowspan]="1"
              [ngStyle]="{'border-right':'1px solid #EAECEE'}">                      
            {{cobroExtra.sumaTotalCobroExtra }}
          </td>          
        </tr>
        
        <tr class="text-center fw-bold"
            [ngStyle]="{'background-color': '#EBEDEF'}"
            *ngIf="historialLecturaPeriodoData!=aux">
          <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}">
              {{ historialLecturaPeriodoData?.cobroExtraPeriodoDataList.length+1 }}
          </td>              
          <td [attr.colspan]="2"
              [ngStyle]="{'border-right':'1px solid #ABB2B9'}">
              Suma total
          </td>
          <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}">
            {{ historialLecturaPeriodoData?.sumaIngresoCobroExtra }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>  
</div>

<div class="col-12 mb-2 py-2 card">    
  <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoCobroExtraXLSX()">      
  </app-imprimir-pdf>
</div>

<div class="col-12 mb-2 card">
  <div class="row m-0 mt-2 p-0">
    <h2 class="my-0">RESUMEN RESULTADOS</h2>
  </div>

  <div class="table-responsive m-2">
    <table  class="table table-hover table-sm" 
            id="tableResultadosGenerales">
      <thead style="background-color: #154360;">
        <tr>
          <th scope="col" class="align-middle fw-normal p-2 text-white text-center">#</th>
          <th scope="col" class="align-middle fw-normal p-2 text-white text-center">Nombre ingreso</th>
          <th scope="col" class="align-middle fw-normal p-2 text-white text-center">Total</th>
        </tr>
      </thead>

      <tbody>
        <tr class="text-center"
            *ngIf="historialLecturaPeriodoData && banderaLecturaCorrecta">
          <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}"> 1 </td>
          <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}"> Ingreso por consumo de agua</td>
          <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}">{{ historialLecturaPeriodoData?.sumaIngresoLecturaAgua }}</td>
        </tr>
        <tr class="text-center" 
            *ngIf="historialLecturaPeriodoData && banderaLecturaCorrecta">
          <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}"> 2 </td>
          <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}"> Ingreso por cobro extra </td>
          <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}">{{ historialLecturaPeriodoData?.sumaIngresoCobroExtra }} </td>
        </tr>
        <tr class="text-center fw-bold" 
            [ngStyle]="{'background-color': '#EBEDEF'}"
            *ngIf="historialLecturaPeriodoData && banderaLecturaCorrecta">
          <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}"> 3 </td>
          <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}"> Suma total </td>
          <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}">{{ historialLecturaPeriodoData?.sumaIngresoTotal }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="col-12 mb-2 py-2 card">    
  <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoResumenCobroExtraXLSX()">      
  </app-imprimir-pdf>
</div>

<div class="col-12 mb-2 card">
  <div class="row m-0 mt-2 p-0">
    <h2 class="my-0">RESULTADOS DETALLADOS POR INGRESO DE CONSUMO DE AGUA</h2>
  </div>

  <div class="table-responsive m-2">
    <table  class="table table-hover table-sm" 
            id="tableResultadosIngresoLecturaPeriodo">
      <thead style="background-color: #154360;">
        <tr>
          <th scope="col" 
              class="align-middle fw-normal p-2 text-white text-center"
              *ngFor="let titulo of listaTituloItemsResultados">
            {{titulo}}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let socioData of listaHistorialLecturaPeriodoDataTratado"
            (click)="seleccionarItem(socioData)"     
            [ngStyle]="{'background-color': (socioData.seleccionado)?'#85C1E9':'#FFFFFF'}"
            class="pointer">

          <!-- socio -->
          <ng-container *ngIf="socioData.indexGlobalSocio==0">
            <td class="align-middle text-center"
                scope="row"
                [attr.rowspan]="socioData.nroRowsLecturaPeriodoDataList"
                [ngStyle]="{'color': (isTypeOfBoolean(socioData[campoSocio]))? (socioData[campoSocio])?'red':'#28B463' : 'black', 'font-weight': (isTypeOfBoolean(socioData[campoSocio]))?'bold':'', 'border-right':'1px solid #EAECEE'}"
                *ngFor="let campoSocio of listaCampoSocios">                      
                {{ getValue(socioData[campoSocio]) }}
            </td>
          </ng-container>
          
          <!-- lectuar medidor -->
          <ng-container *ngIf="socioData.indexGlobalLecturaPeriodo==0">
            <td class="align-middle text-center"
                scope="row"
                [attr.rowspan]="socioData.nroRowsCobroPeriodoDataList"
                [ngStyle]="{'color': (isTypeOfBoolean(socioData[campoLecturaMedidor]))? (socioData[campoLecturaMedidor])?'red':'#28B463' : 'black', 'font-weight': (isTypeOfBoolean(socioData[campoLecturaMedidor]))?'bold':'', 'border-right':'1px solid #EAECEE'}"
                *ngFor="let campoLecturaMedidor of listaCampoLecturaPeriodo">                      
                {{ getValue(socioData[campoLecturaMedidor]) }}
            </td>
          </ng-container>

          <!-- cobro extra -->
          <td class="align-middle"
              scope="row"
              [attr.rowspan]="1"
              [ngStyle]="{'border-right':'1px solid #EAECEE'}">                      
              {{socioData.nombreCobroExtra}}
          </td>
          
          <!-- cobro extra -->
          <td class="align-middle text-center"
              scope="row"
              [attr.rowspan]="1"
              [ngStyle]="{'border-right':'1px solid #EAECEE'}">                      
              {{socioData.costoCobroExtra}}
          </td>

          <!-- suma total : cobro extra -->
          <ng-container *ngIf="socioData.indexGlobalLecturaPeriodo==0">
            <td class="align-middle text-center"
                scope="row"
                [attr.rowspan]="socioData.nroRowsCobroPeriodoDataList"
                [ngStyle]="{'border-right':'1px solid #EAECEE'}">
                {{ socioData.sumaCostoCobroExtra }}
            </td>
          </ng-container>

          <!-- suma total lectura medidor -->
          <ng-container *ngIf="socioData.indexGlobalLecturaPeriodo==0">
            <td class="align-middle text-center"
                scope="row"
                [attr.rowspan]="socioData.nroRowsCobroPeriodoDataList"
                [ngStyle]="{'border-right':'1px solid #EAECEE'}">
                {{ socioData.costoTotalLecturaPeriodo }}
            </td>
          </ng-container>
        </tr>

        <tr class="text-center fw-bold"
            [ngStyle]="{'background-color': '#EBEDEF'}"
            *ngIf="historialLecturaPeriodoData!=aux">
          <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}">
              {{ historialLecturaPeriodoData?.socioDataList.length+1 }}
          </td>              
          <td [attr.colspan]="10"
              [ngStyle]="{'border-right':'1px solid #ABB2B9'}">
              Suma total
          </td>
          <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}">
            {{ historialLecturaPeriodoData?.sumaVolumenM3 }} M3
          </td>
          <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}"></td>
          <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}">
            {{ historialLecturaPeriodoData?.sumaIngresoLecturaAgua }}
          </td>
          <td [attr.colspan]="2"
              [ngStyle]="{'border-right':'1px solid #ABB2B9'}"></td>
          <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}">
            {{ historialLecturaPeriodoData?.sumaIngresoCobroExtra }}
          </td>
          <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}">
              {{ historialLecturaPeriodoData?.sumaIngresoTotal }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="col-12 mb-2 py-2 card">    
  <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoXLSX()">      
  </app-imprimir-pdf>
</div>
