<div class="container-fluid p-0">
  <div class="col-12 mb-2 card">
    <h1 class="m-0 p-2"><b>HISTORIAL DE PAGOS POR CONSUMO DE AGUA</b></h1>
  </div>
  
  <div class="col-12 mb-2 card">
    <div class="row m-0 p-0">
      <div class="col-12 col-lg-5 p-2 p-lg-2">
        <h2 class="m-0 p-0">BUSQUEDA POR CÓDIGO DE MEDIDOR</h2>
      </div>

      <div class="col-12 col-lg-7 py-0 px-2 p-lg-2">
        <form [formGroup]="formularioCodigoMedidor">
          <div class="row d-flex justify-content-end">        
            <div class="col-12 col-md-5">
              <label for="">Gestión</label>
              <select class="form-select"
                        formControlName="gestion"
                        (change)="buscarSocioDataByCodigoMedidor()"
                        [ngClass]="{'is-invalid': campoGestionInvalido(), 'is-valid': campoGestionValido() }">
                  <option [value]="0" [disabled]="true">Seleccione el año...</option>
                  <option [value]="gestion.idAnio" *ngFor="let gestion of listaGestiones">{{gestion.anio}}</option>
              </select>
            </div>
  
            <div class="col-12 col-md-7 pe-2">          
              <label for="codigoMedidor">Código de medidor</label>
              <div class="input-group">          
                <input  id="codigoMedidor" 
                        autocomplete="off"
                        placeholder="Ingrese el código del medidor..."
                        type="text" 
                        class="form-control"
                        formControlName="codigoMedidor"
                        (keyup.enter)="buscarSocioDataByCodigoMedidor()"
                        (ngModelChange)="buscarSocioDataByCodigoMedidor()">
                <button class="btn btn-outline-secondary" 
                        type="button"
                        (click)="buscarSocioDataByCodigoMedidor()">
                  <span class="mdi mdi-account-search"></span>
                </button>
              </div>          
            </div>
          </div>
        </form>
      </div>

      <div class="col-12 my-2">
        <div class="row mx-2 py-2 border-top border-bottom">
          <div class="col-12 col-md-4">
              <p><b>Socio : </b>{{socioData?.nombreSocio}} {{socioData?.apellidoPaterno}} {{socioData?.apellidoMaterno}} </p>
              <p><b>Código de socio : </b>{{socioData?.codigoSocio}}</p>
              <p><b>Dirección : </b>{{socioData?.direccion}}</p>
          </div>
          
          <div class="col-12 col-md-4">
            <p><b>Código de medidor : </b>{{socioData?.codigoMedidor}}</p>
            <p><b>Cód. de categoría : </b>{{socioData?.codigoCategoria}}</p>
            <p><b>Nombre de categoría : </b>{{socioData?.nombreCategoria}}</p>
          </div>

          <div class="col-12 col-md-4">
            <p><b>Lectura inicial : </b>{{socioData?.lecturaInicial}}</p>
            <p><b>Lectura actual : </b>{{socioData?.lecturaActual}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 mb-2 p-2 card">
    <div class="col-12 my-3" *ngIf="isAdmin() || isPresidente()">
      <p id="sumatoria-costo" class="text-end"><b>Sumatoria costo total : </b>{{sumatoriaCosto}}</p>
    </div>   

    <div class="col-12">
      <div class=" table-responsive">
        <table  class="table table-hover table-sm" 
                id="tableCanecelarCobroLecturaPeriodo">
          <thead style="background-color: #154360;">
            <tr>
              <th scope="col"
                class="align-middle fw-normal p-2 text-white text-center"
                *ngFor="let titulo of listaTituloItems">
                {{titulo}}
              </th>
            </tr>
          </thead>
  
          <tbody>
            <tr class="pointer"
                (click)="seleccionarItem(lecturaPeriodo)"     
                [ngStyle]="{'background-color': (lecturaPeriodo.seleccionado)?'#85C1E9':'#FFFFFF'}"
                *ngFor="let lecturaPeriodo of listaLecturaPeriodoTratado; index as i">          
  
                <ng-container *ngIf="lecturaPeriodo.indexGlobal==0">
                  <td class="align-middle text-center"
                      scope="row"
                      [attr.rowspan]="lecturaPeriodo.countItemsCobroExtra"
                      [ngStyle]="{'color': (isTypeOfBoolean(lecturaPeriodo[campoSocio]))? (lecturaPeriodo[campoSocio])?'red':'#28B463' : 'black', 'font-weight': (isTypeOfBoolean(lecturaPeriodo[campoSocio]))?'bold':'', 'border-right':'1px solid #EAECEE'}"
                      *ngFor="let campoSocio of listaCampoLecturaPeriodo">                      
                      {{ getValue(lecturaPeriodo[campoSocio]) }}
                  </td>
                </ng-container>
  
                <td class="align-middle"
                    scope="row"
                    [attr.rowspan]="1"
                    [ngStyle]="{'border-right':'1px solid #EAECEE'}">                      
                    {{lecturaPeriodo.nombreCobroExtra}}
                </td>
  
                <td class="align-middle text-center"
                    scope="row"
                    [attr.rowspan]="1"
                    [ngStyle]="{'border-right':'1px solid #EAECEE'}">                      
                    {{lecturaPeriodo.costoCobroExtra}}
                </td>
                
                <ng-container *ngIf="lecturaPeriodo.indexGlobal==0">
                  <td class="align-middle text-center"
                      scope="row"
                      [attr.rowspan]="lecturaPeriodo.countItemsCobroExtra"
                      [ngStyle]="{'border-right':'1px solid #EAECEE'}">                      
                      {{ lecturaPeriodo.sumaCostoPeriodo }}
                  </td>                  
                  
                  <td class="align-middle text-center" 
                      *ngIf="isAdmin() || isPresidente()"
                      scope="row"
                      [attr.rowspan]="lecturaPeriodo.countItemsCobroExtra"
                      [ngStyle]="{'border-right':'1px solid #EAECEE'}">                      
                      <input  type      = "checkbox" 
                              id        = 'check{{lecturaPeriodo.idLecturaPeriodo}}'
                              [checked] = "false"
                              (change)  = "checkLecturaPeriodo($event,lecturaPeriodo)">
                  </td>                  

                  <td class="align-middle text-center"
                    scope="row"
                    [attr.rowspan]="lecturaPeriodo.countItemsCobroExtra"
                    [ngStyle]="{'border-right':'1px solid #EAECEE'}">
                  
                    <button class="btn btn-sm btn-outline-primary mx-1"
                            type="button"
                            (click)="descargarRecibo(lecturaPeriodo.idLecturaPeriodo)">
                      <span class="mdi mdi-download"></span>
                    </button>
                  </td>
                </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    
    <div  *ngIf="isAdmin() || isPresidente()"
          class="row  d-flex justify-content-center">
      <div class="d-flex flex-column col-12 col-12 col-md-4 col-lg-3 col-xl-2 my-2 m-xl-0">
        <button type="button"
                class="btn btn-outline-danger"
                (click)="cancelarRevertirRegistroPagoLecturaPeriodo()">
          <span class="mdi mdi-trash-can"></span>
          Cancelar
        </button>
      </div>
      
      <div class="d-flex flex-column col-12 col-12 col-md-4 col-lg-3 col-xl-2 my-2 m-xl-0">
        <button type="submit" 
                class="btn btn-outline-primary"
                (click)="canecelarRegistroCobroLecturaPeriodo()">
          <span class="mdi mdi-content-save"></span>
          Revertir cobro
        </button>
      </div>
    </div>  
  </div>

  <div class="col-12 mb-2 py-2 card">    
    <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoXLSX()">      
    </app-imprimir-pdf>
  </div>
</div>