<div class="container-fluid m-0 p-0">
  <div class="row mb-2 card">
    <h1 class="m-0 py-2"><b>BUSQUEDA DE LECTURA DE MEDIDOR POR CÓDIGO DE SOCIO</b></h1>
  </div>

  <div class="row mb-2 card">
    <div class="col-12 mb-2">
      <div class="row my-2 d-flex justify-content-between">
        <div class="col-12 col-lg-5 mb-2 mb-lg-0">
          <h2 class="m-0 p-0">FILTRO PARA LA BUSQUEDA</h2>
        </div>
        <div class="col-12 col-lg-7">
          <form [formGroup]='formularioBusqueda'>
            <div class="row">
              <div class="col-12 col-md-5 mb-2">
                <label for="gestion">Gestión</label>
                <select class="form-select"
                        [ngClass]="{'is-invalid': campoGestionInvalido('gestion'), 'is-valid': campoGestionValido('gestion') }"
                        formControlName="gestion"
                        (change)="buscarLecturaPorCodigoDeSocio()">
                  <option [value]="0" [disabled]="true">Seleccione una gestión...</option>
                  <option value={{gestion.idAnio}} *ngFor="let gestion of listaGestiones">{{gestion.anio}}</option>
                </select>
              </div>

              <div class="col-12 col-md-6 mb-2">
                <label for="codigoSocio">Código socio</label>
                <input  autocomplete="off"
                        type="text" 
                        id="codigoSocio"
                        class="form-control" 
                        placeholder="Ingrese el código del socio..."
                        formControlName="codigoSocio"
                        (keyup.enter)="buscarLecturaPorCodigoDeSocio()"
                        (ngModelChange)="buscarLecturaPorCodigoDeSocio()"
                        [ngClass]="{'is-invalid': campoInvalido('codigoSocio'), 'is-valid': campoValido('codigoSocio') }">
              </div>

              <div class="col-12 col-md-1 mb-2 d-flex flex-column justify-content-end">
                <button class="btn btn-outline-primary mb-0  d-flex justify-content-center"
                        type="button"
                        (click)="buscarLecturaPorCodigoDeSocio()">
                  <span class="material-icons">search</span>
                </button>
              </div>
            </div>  
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2 card">
    <div class="col-12 m-2">
      <h2 class="m-0 p-0">RESULTADOS DE LA BUSQUEDA</h2>
    </div>

    <div class="col-12 mb-2">
      <div class=" table-responsive">
        <table class="table" id="tableBusquedaLecturaSocioPorCodigo">
          <thead style="background-color: #154360;">
            <tr>
              <th scope="col"
                  class="align-middle text-center fw-normal p-2 text-white"
                  *ngFor="let titulo of listaTituloLecturaMedidorSocioDataTratadoVO">
                {{titulo}}
              </th>
            </tr>
          </thead>

          <tbody>
            <tr class="pointer"
                *ngFor="let item of listaItemsLecturaMedidorSocioDataTratadoVO; index as i">          

                <ng-container *ngIf="i==0">
                  <td class="align-middle text-center"
                      scope="row"
                      [attr.rowspan]="sumaRows"
                      [ngStyle]="{'border-right':'1px solid #EAECEE'}">                      
                      1
                  </td>

                  <td class="align-middle text-center"
                      scope="row"
                      [attr.rowspan]="sumaRows"
                      [ngStyle]="{'border-right':'1px solid #EAECEE'}">                      
                      {{socioData.codigo}}
                  </td>

                  <td class="align-middle text-center"
                      scope="row"
                      [attr.rowspan]="sumaRows"
                      [ngStyle]="{'border-right':'1px solid #EAECEE'}"
                      >                      
                      {{socioData.nombre}} {{socioData.apellidoPaterno}} {{socioData.apellidoMaterno}}
                  </td>

                  <td class="align-middle text-center"
                      scope="row"
                      [attr.rowspan]="sumaRows"
                      [ngStyle]="{'border-right':'1px solid #EAECEE'}"
                      >                      
                      {{socioData.countItems}}
                  </td>
                </ng-container>

                <ng-container *ngIf="item.indexItemMedidor == 0">
                  <td *ngFor="let campoItem of listaCamposItemsLecturaMedidorSocioDataTratadoVO"
                      class="align-middle text-center"
                      scope="row"
                      [attr.rowspan]="(item.countItemsLecturaPeriodo==0)?1:item.countItemsLecturaPeriodo"
                      [ngStyle]="{'border-right':'1px solid #EAECEE'}">                      
                      {{item[campoItem]}}
                  </td>
                </ng-container>

                <td *ngFor="let campoSubItem of listaCamposSubItemsLecturaMedidorSocioDataTratadoVO"
                    class="align-middle text-center"
                    scope="row"
                    (click)="seleccionarItem(item)"     
                    [ngStyle]="{'background-color': (item.seleccionado)?'#A9CCE3': (item['consumoMinimo']=='SI')?'#A9CCE3':'#FFFFFF',
                                'border-right':'1px solid #EAECEE',
                                'color':(campoSubItem=='consumoMinimo')? (item[campoSubItem]=='SI')?'red':'black':'black'}">
                  {{ item[campoSubItem] }}
                </td>
            </tr>

            <tr class="text-center fw-bold"
                *ngIf="reporteSocioDataVO!=aux"
                [ngStyle]="{'background-color': '#EBEDEF'}">
              <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}">
                  {{reporteSocioDataVO?.countRows+1}}
              </td>              

              <td [attr.colspan]="19"
                  [ngStyle]="{'border-right':'1px solid #ABB2B9'}">
                  Suma total
              </td>

              <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}">
                {{reporteSocioDataVO?.sumaTotalM3}}
              </td>

              <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}">
                {{reporteSocioDataVO?.sumaTotalCostoPeriodo}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row mb-2 py-2 card">    
    <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoXLSX()">      
    </app-imprimir-pdf>
  </div>
</div>  