<div class="container-fluid m-0 p-0">
  <div class="row mb-2 card">
    <h1 class="m-0 py-2"><b>ASIGNAR COBRO EXTRA A MEDIDOR DE SOCIO</b></h1>
  </div>


  <div class="row mb-2 card">  
    <div class="col-12 my-2">
      <h2 class="m-0 p-0">ASIGNAR COBRO EXTRA A MEDIDOR DE SOCIO</h2>
    </div>

    <form [formGroup]="formularioSeleccionPeriodoCobroExtra">
      <div class="row mb-2">
        <div class="col-12 col-lg-3 mb-2 mb-lg-0">
          <label for="">Gestión</label>
          <select class="form-select"
                    formControlName="gestion"
                    (change)="changeSelectorGestionMesTipoCobroExtra('gestion')"
                    [ngClass]="{'is-invalid': campoInvalidoSeleccionPeriodoCobroExtra('gestion'), 'is-valid': campoValidoSeleccionPeriodoCobroExtra('gestion') }">
              <option [value]="0" 
                      [disabled]="true">
                Seleccione el año...
              </option>
              <option [value]="gestion.idAnio" 
                      *ngFor="let gestion of listaGestiones">
                {{gestion.anio}}
              </option>
          </select>
        </div>

        <div class="col-12 col-lg-3 mb-2 mb-lg-0">
          <label for="">Periodo</label>
          <select class="form-select"
                    formControlName="periodo"
                    (change)="changeSelectorGestionMesTipoCobroExtra('periodo')"
                    [ngClass]="{'is-invalid': campoInvalidoSeleccionPeriodoCobroExtra('periodo'), 'is-valid': campoValidoSeleccionPeriodoCobroExtra('periodo') }">
              <option [value]="0" 
                      [disabled]="true">
                Seleccione el periodo...
              </option>
              <option [value]="periodo.idPeriodo" 
                      *ngFor="let periodo of listaPeriodosDeGestion">
                {{periodo.nombre}}
              </option>
          </select>
        </div>
      
        <div class="col-12 col-lg-6 mb-2 mb-lg-0">
          <label for="">Tipo de cobro extra</label>
          <select   class="form-select"
                    formControlName="cobroExtra"
                    (change)="changeSelectorGestionMesTipoCobroExtra('cobroExtra')"
                    [ngClass]="{'is-invalid': campoInvalidoSeleccionPeriodoCobroExtra('cobroExtra'), 'is-valid': campoValidoSeleccionPeriodoCobroExtra('cobroExtra') }">
              <option [value]="0" 
                      [disabled]="true">
                Seleccione el tipo de cobro...
              </option>
              <option [value]="cobroExtra.idPeriodoCobroExtra" 
                      *ngFor="let cobroExtra of listaCobroExtra">
                      {{cobroExtra.nombre}} - {{cobroExtra.detalle}}
              </option>
            </select>
        </div>
      </div>
    </form>
  </div>

  <div class="row mb-2 card">
    <form [formGroup]="formularioBusqueda">
      <div class="col-12 my-2">
        <div class="row d-flex justify-content-end">
          <div class="col-12 col-lg-6 col-xl-5 d-flex flex-column mb-2 mb-xl-0">
            <h3 class="m-0 p-0"><b>LISTA DE SOCIOS</b></h3>
          </div>
          <div class="col-12 col-lg-6 col-xl-4 d-flex flex-column mb-2 mb-xl-0">
            <input  type="text" 
                    autocomplete="off"
                    class="form-control"
                    formControlName="codigo"
                    (ngModelChange)="buscarSocioPorNombre($event)"
                    placeholder="Busqueda por nombres de socio...">
          </div>

          <div class="col-12 col-lg-6 col-xl-3 d-flex flex-column mb-2 mb-lg-0">
            <input  type="text" 
                    autocomplete="off"
                    class="form-control"
                    formControlName="codigo"
                    (ngModelChange)="buscarSocioPorCodigo($event)"
                    placeholder="Busqueda por código de socio...">
          </div>
        </div>
      </div>
    </form>

    <div class="col-12 my-2">
      <div class=" table-responsive">
        <table class="table table-sm">
          <thead style="background-color: #154360;">
            <th scope="col"
                class="align-middle fw-normal p-2 text-white text-center"
                *ngFor="let titulo of listaTituloItems">
              {{titulo}}
            </th>
          </thead>
  
          <tbody>
            <tr class="pointer"
                (click)="seleccionarItem(socio)"     
                [ngStyle]="{'background-color': (socio.seleccionado)?'#85C1E9':'#FFFFFF'}"
                *ngFor="let socio of listaDeSociosMedidorTratado; index as i">          
  
                <ng-container *ngIf="socio.indexGlobal==0">
                  <td class="align-middle text-center"
                      scope="row"
                      [attr.rowspan]="socio.countMedidores"
                      [ngStyle]="{'border-right':'1px solid #EAECEE'}"
                      *ngFor="let campoSocio of listaCampoItemsSocio">                      
                      {{socio[campoSocio]}}
                  </td>
                </ng-container>
  
                <td class="align-middle text-center"
                    scope="row"
                    [ngStyle]="{'border-right':'1px solid #EAECEE'}"
                    *ngFor="let campoMedidor of listaCampoItemsMedidor">                      
                    {{socio[campoMedidor]}}
                </td>
  
                <td class="align-middle text-center"
                    scope="row"
                    [ngStyle]="{'border-right':'1px solid #EAECEE'}">                      
                    <input  type      = "checkbox" 
                            id        = 'check{{socio.codigoMedidor}}'
                            [checked] = "socio.registroSocioCobroExtra"
                            (change)  = "checkTipoCobroExtraPeriodo($event,socio)">
                </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row">
        <div class="col-12"> 
          <mat-paginator  [length]="lengthList"
                          [pageSize]="pageSize" 
                          [pageSizeOptions]="pageSizeOptions"
                          (page)="cambioSizePaginaOrPagina($event)"
                          aria-label="Select page">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>

