<div class=" table-responsive">   
  <table class="table">
    <thead style="background-color: #154360;">
      <tr>
        <th scope="col"
            class="align-middle fw-normal p-2 text-white"
            *ngFor="let titulo of tituloItems">
          {{titulo}}
        </th>
      </tr>
    </thead>

    <tbody>
      <tr class="pointer"
          *ngFor="let item of listaItemsFiltrado; index as i"
          (click)="seleccionarItem(item)"
          (ngModel)="idItemSeleccionado"          
          [ngStyle]="{'background-color': (item.seleccionado)?'#85C1E9': (idItemSeleccionado==item[idItem])? '#A9CCE3':'#FFFFFF' }">  
          
          <ng-container *ngIf="item.indexLocal==0">
            <td [attr.rowspan]="item.rows"
                class="align-middle"
                scope="row">
              {{item.indexGlobal}}
            </td>
          </ng-container>
          
          <ng-container *ngIf="item.indexLocal==0">
            <td *ngFor="let campo of campoItems"
                [attr.rowspan]="item.rows"
                class="align-middle"
                scope="row"
                >
              {{item[campo]}}
            </td>
          </ng-container>

          <td>
            {{item[idCampoFilaDividida]}}
          </td>
      </tr>
    </tbody>
  </table>
</div>   