<div class="col-12 card my-1 p-2">
  <div class="row">
    <div class="col-12 mb-2">
      <h2 class="m-0 p-0"><b>REPORTE  GENERAL DE EGRESOS ECONÓMICOS </b></h2>
    </div>

    <div class="col-12 mb-2">
      <div class="table-responsive m-2">
        <table  class="table table-hover table-sm" 
                id="tablaReporteEgreso">
          <thead style="background-color: #154360;">
            <tr>
              <th scope="col" 
                    class="align-middle fw-normal p-2 text-white text-center"
                    *ngFor="let itemTitle of tituloItems" >
                  {{ itemTitle }}
              </th>
            </tr>
          </thead>
    
          <tbody>
            <tr class="pointer">    
              <td [ngStyle]="{'border-right':'1px solid #EAECEE'}"
                  class="align-middle text-center" 
                  scope="row"> {{ 1 }}
              </td>

              <td [ngStyle]="{'border-right':'1px solid #EAECEE'}"
                  class="align-middle text-end fw-bold" 
                  scope="row">
                {{ 'Agua de tanque' }}
              </td>

              <td [ngStyle]="{'border-right':'1px solid #EAECEE','background-color':'#FDF2E9'}"
                  class="align-middle text-center" 
                  scope="row">
                {{ reporteEgresoVO?.egresoPagoAguaParaTanque }}
              </td>
            </tr>

            <tr class="pointer">    
              <td [ngStyle]="{'border-right':'1px solid #EAECEE'}"
                  class="align-middle text-center" 
                  scope="row"> {{ 2 }}
              </td>

              <td [ngStyle]="{'border-right':'1px solid #EAECEE'}"
                  class="align-middle text-end fw-bold" 
                  scope="row">
                {{ 'Canastón' }}
              </td>  
              
              <td [ngStyle]="{'border-right':'1px solid #EAECEE','background-color':'#FDF2E9'}"
                  class="align-middle text-center" 
                  scope="row">
                {{ reporteEgresoVO?.egresoCanaston }}
              </td>
            </tr>

            <tr class="pointer">    
              <td [ngStyle]="{'border-right':'1px solid #EAECEE'}"
                  class="align-middle text-center" 
                  scope="row"> {{ 2 }}
              </td>

              <td [ngStyle]="{'border-right':'1px solid #EAECEE'}"
                  class="align-middle text-end fw-bold" 
                  scope="row">
                {{ 'Egreso extra' }}
              </td>  
              
              <td [ngStyle]="{'border-right':'1px solid #EAECEE','background-color':'#FDF2E9'}"
                  class="align-middle text-center" 
                  scope="row">
                {{ reporteEgresoVO?.egresoExtra }}
              </td>
            </tr>

            <tr class="fw-bold"
                [ngStyle]="{'background-color': '#EBEDEF'}">    
              <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}"
                  class="align-middle text-center" 
                  scope="row">{{ 5 }}
              </td>

              <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}"
                  class="align-middle text-center" 
                  scope="row">
                {{ 'Total' }}
              </td>

              <td [ngStyle]="{'border-right':'1px solid #ABB2B9','background-color':'#F6DDCC'}"
                  class="align-middle text-center" 
                  scope="row">
                {{ reporteEgresoVO?.sumaTotalEgreso }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="col-12 mb-2 py-2 card">    
  <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoXLSX()">      
  </app-imprimir-pdf>
</div>