<div class="container-fluid row m-0 p-0">
  <div class="col-12 card mb-2">
      <h1 class="m-0 py-2"><b>LISTA DE USUARIOS</b></h1>
  </div>

  <div class="col-12 card mb-2">
    <div class="row my-2">    
      <div class="col-12 mb-2 mb-lg-0">
        <div class="row">
          <div class="col-12 col-md-8">
            <h2>BUSCAR USUARIO</h2>
          </div>

          <div class="col-12 col-md-4">
            <select class="form-select" 
                    [ngModel]="estadoUsuario" 
                    (change)="cambioEstadoUsuario()">
              <option value="true">
                Usuarios activos
              </option>
              <option value="false">
                Usuarios dados de baja
              </option>
            </select>
          </div>
        </div>
      </div>
     
      <div class="col-12 col-md-4 d-flex flex-column mb-2 mb-lg-0">
        <app-input-form #InputFormComponentEmail
                        [title]="'Buscar socio por email'"
                        [type]="'string'"
                        [placeHolder]="'Email...'"
                        (dataOutput)="buscarUsuarioPorEmail($event)">
        </app-input-form>
      </div>

      <div class="col-12 col-md-4 d-flex flex-column mb-2 mb-lg-0">  
        <app-input-form #InputFormComponentNombre
                        [title]="'Buscar socio por nombres'"
                        [type]="'text'"
                        [placeHolder]="'Nombres...'"
                        (dataOutput)="buscarUsuarioPorNombre($event)">
        </app-input-form>
      </div>
  
      <div class="col-12 col-md-4 d-flex flex-column mb-2 mb-lg-0">
        <app-input-form #InputFormComponentApellido
                        [title]="'Buscar socio por apellido paterno'"
                        [type]="'text'"
                        [placeHolder]="'Apellidos...'"
                        (dataOutput)="buscarUsuarioPorApellido($event)">
        </app-input-form>
      </div>  
    </div>
  </div>

  <div class="col-12 px-2 mb-2 card py-3">   
    <app-table-paginator  #tablaBusquedaUsuarios
                          [tituloItems]      = "tituloItemsUsuario"
                          [campoItems]       = "campoItemsUsuario"
                          [idItem]           = "idAporteEventual"
                          [listaItems]       = "listaUsuarios"
                          [countItems]       = "countItemsUsuario"
                          [idTable]          = "'tableBusquedaUsuarios'"      
                          (cambioDePagina)   = "cambioDePagina($event)"
                      >
    </app-table-paginator>
  </div>

  <div class="col-12 mb-2 py-2 card">    
    <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoXLSX()">      
    </app-imprimir-pdf>
  </div>
</div>

