<form [formGroup]="formularioFecha">
  <div class="row">
    <div class="col-12">
      <span>Busqueda en rango de fecha</span>
    </div>
    <div class="col-12 col-md-6 mb-2 mb-lg-0">
      <input  type="date" 
              class="form-control"
              formControlName="fechaInicio"
              (change)="changeFecha()"
              [ngClass]="{'is-invalid': campoInvalido('fechaInicio'), 'is-valid': campoValido('fechaInicio') }">
    </div>
    <div class="col-12 col-md-6 mb-2 mb-lg-0">
      <input  type="date" 
              class="form-control"
              formControlName="fechaFin"
              (change)="changeFecha()"
              [ngClass]="{'is-invalid': campoInvalido('fechaFin'), 'is-valid': campoValido('fechaFin') }">
    </div>
  </div>
</form>