<div class="col-12 card mb-2">
  <h1 class="m-0 p-2"><b>REPORTE DE DEUDAS POR MES EN RANGO PERIODO</b></h1>
</div>

<div class="col-12 card p-2 mb-2">
  <form [formGroup]='formularioReporte'> 
    <div class="row mb-2">   
      <div class="col-12">
        <h2>DETALLES DEL REPORTE MENSUAL</h2>
      </div>

      <div class="col-12 col-md-3 d-flex flex-column mb-2 mb-lg-0">
        <label for="categoria">Categoria</label>
        <select class="form-select"
                (change)="getReporteCategoria()"
                formControlName="categoria"
                [ngClass]="{'is-invalid': campoInvalido('categoria'), 'is-valid': campoValido('categoria')}">
          <option [value]="-1"  [disabled]="true">Seleccione una categoría</option>
          <option [value]="0">Todas las categorías</option>
          <option [value]="categoria.idCategoria" *ngFor="let categoria of listaCategorias">
            {{categoria.codigo}}-{{categoria.nombre}}
          </option>
        </select>
      </div>

      <div class="col-12 col-md-9 d-flex flex-column mb-2 mb-lg-0">
        <app-rango-periodo #rangoPeriodoComponent
                           (cambioPeriodoEvent) = "getReporte($event)">          
        </app-rango-periodo>
      </div>
    </div>
  </form>
</div>

<div class="col-12 mb-2 card">
  <div class="row m-0 p-0">
    <h2 class="my-0 mt-2">REPORTE DE INGRESOS POR LECTUAR DE MEDIDOR - RANGO PERIODO</h2>
  </div>

  <div class="table-responsive m-2">
    <table  class="table table-hover table-sm" 
            id="tablaDeudaLecturaMesRangoPeriodo">
      <thead style="background-color: #154360;">
        <tr>
          <th scope="col" 
                class="align-middle fw-normal p-2 text-white text-center"
                *ngFor="let itemTitle of tituloItemsLecturaMes" >
              {{ itemTitle }}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr class="pointer"
            *ngFor="let lecturaMes of reporteLecturaMes?.resumenLecturaPeriodoList; index as i"
            (click)="seleccionarLecturaMes(lecturaMes)"
            [ngStyle]="{'background-color': (lecturaMes.seleccionado)?'#A9CCE3':'#FFFFFF'}">

          <td [ngStyle]="{'border-right':'1px solid #EAECEE'}"
              class="align-middle text-center" 
              scope="row">{{i+1}}
          </td>

          <td class="align-middle text-center" 
              *ngFor="let campo of campoItemsLecturaMes"
              [ngStyle]="{'border-right':'1px solid #EAECEE'}">
            {{ lecturaMes[campo] }}
          </td>
        </tr>

        <tr *ngIf="reporteLecturaMes!=null" 
            [ngStyle]="{'background-color': '#EBEDEF'}"
            class="text-center fw-bold">
          <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}"> {{ reporteLecturaMes?.nroRows+1 }} </td>
          <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}" [attr.colspan]="3"> Suma total </td>
          <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}"> {{ reporteLecturaMes?.consumoVolumenM3 }} </td>
          <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}"> {{ reporteLecturaMes?.sumaTotal }} </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="col-12 mb-2 py-2 card">    
  <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoLecturaPeriodoXLSX()">      
  </app-imprimir-pdf>
</div>

<div class="col-12 mb-2 card">
  <div class="row m-0 p-0">
    <h2 class="my-0 mt-2">REPORTE DE DEUDAS POR COBRO EXTRA - RANGO PERIODO</h2>
  </div>

  <div class="table-responsive m-2">
    <table  class="table table-hover table-sm" 
            id="tablaDeudaCobroExtraMesRangoPeriodo">
      <thead style="background-color: #154360;">
        <tr>
          <th scope="col" 
                class="align-middle fw-normal p-2 text-white text-center"
                *ngFor="let itemTitle of tituloItemsCobroExtraMes" >
              {{ itemTitle }}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr class="pointer"
            *ngFor="let cobroExtra of mesCobroExtraVOTratadoList; index as i"
            (click)="seleccionarCobroExtraMes(cobroExtra)"
            [ngStyle]="{'background-color': (cobroExtra.seleccionado)?'#A9CCE3':'#FFFFFF'}">

          <ng-container *ngIf="cobroExtra.indexGlobalMes==0">
            <td class="align-middle text-center" 
                [ngStyle]="{'border-right':'1px solid #EAECEE'}"                
                [attr.rowspan]="cobroExtra.nroRows"
                scope="row">
              {{ cobroExtra['indexMes'] }}
            </td>

            <td class="align-middle text-center" 
                [ngStyle]="{'border-right':'1px solid #EAECEE'}"
                [attr.rowspan]="cobroExtra.nroRows"
                scope="row">
              {{ cobroExtra['nombreMes'] }}
            </td>
          </ng-container>
          
          <td *ngFor="let campoCobroExtra of campoItemsCobroExtraMes"
              class="align-middle text-center"
              scope="row"
              [ngStyle]="{'border-right':'1px solid #EAECEE'}">                      
            {{ cobroExtra[campoCobroExtra] }}
          </td>

          <ng-container *ngIf="cobroExtra.indexGlobalMes==0">
            <td class="align-middle text-center" 
                [ngStyle]="{'border-right':'1px solid #EAECEE'}"                
                [attr.rowspan]="cobroExtra.nroRows"
                scope="row">
              {{ cobroExtra['sumaTotal'] }}
            </td>
          </ng-container>
        </tr>

        <tr *ngIf="reporteLecturaMes!=null" 
            [ngStyle]="{'background-color': '#EBEDEF'}"
            class="text-center fw-bold">
          <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}"> {{ reporteCobroExtraMes?.nroRows+1 }} </td>
          <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}" [attr.colspan]="4"> Suma total </td>
          <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}"> {{ reporteCobroExtraMes?.sumaTotal }} </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="col-12 mb-2 py-2 card">    
  <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoCobroExtraMesXLSX()">      
  </app-imprimir-pdf>
</div>

<div class="col-12 mb-2 card">
  <div class="row m-0 p-0">
    <h2 class="my-0 mt-2">REPORTE DE DEUDAS POR RESUMEN COBRO EXTRA - RANGO PERIODO</h2>
  </div>

  <div class="table-responsive m-2">
    <table  class="table table-hover table-sm" 
            id="tablaDeudaResumenCobroExtraMesRangoPeriodo">
      <thead style="background-color: #154360;">
        <tr>
          <th scope="col" 
              class="align-middle fw-normal p-2 text-white text-center"
              *ngFor="let itemTitle of tituloItemsResumenCobroExtraMes" >
            {{ itemTitle }}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr class="pointer"
            *ngFor="let cobroExtra of reporteResumenCobroExtraMes?.cobroExtraPeriodoDataList index as i"
            (click)="seleccionarResumenCobroExtraMes(cobroExtra)"
            [ngStyle]="{'background-color': (cobroExtra.seleccionado)?'#A9CCE3':'#FFFFFF'}">

          <td [ngStyle]="{'border-right':'1px solid #EAECEE'}"
              class="align-middle text-center" 
              scope="row">{{i+1}}
          </td>

          <td class="align-middle text-center" 
              *ngFor="let campo of campoItemsResumenCobroExtraMes"
              [ngStyle]="{'border-right':'1px solid #EAECEE'}">
            {{ cobroExtra[campo] }}
          </td>
        </tr>

        <tr *ngIf="reporteResumenCobroExtraMes!=null" 
            [ngStyle]="{'background-color': '#EBEDEF'}"
            class="text-center fw-bold">
          <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}"> {{ reporteResumenCobroExtraMes?.nroRows+1 }} </td>
          <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}" [attr.colspan]="2"> Suma total </td>
          <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}"> {{ reporteResumenCobroExtraMes?.sumaTotal }} </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="col-12 mb-4 py-2 card">    
  <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoResumenCobroExtraMesXLSX()">      
  </app-imprimir-pdf>
</div>