<div class="col-12 card mb-2">
  <h1 class="m-0 p-2"><b>REGISTRO DE ENTRAGA DE CANASTÓN A SOCIOS</b></h1>
</div>

<div class="col-12 card p-2 mb-2">
  <div class="row">   
    <div class="col-12 col-md-6">
      <h2>DETALLES DEL CANASTÓN</h2>
    </div>

    <div class="col-12 col-md-6">
      <p class="m-0"><span><b>Cod. Socio : </b> {{ datosSocioMedidor?.codigoSocio }} </span></p>
      <p class="m-0"><span><b>Nombre de Socio : </b> {{ datosSocioMedidor?.nombreCompletoSocio }} </span></p>
    </div>
  </div>

  <form [formGroup]='formularioRegistroSocioCanaston'> 
    <div class="row">  
      <div class="col-12 col-md-5 d-flex flex-column mb-2">
        <label for="gestion">Gestión</label>
        <select class="form-select"
                id="gestion"
                formControlName="gestion"
                (change) = "changeGestionRegistroSocioCanaston()"
                [ngClass]="{'is-invalid': campoInvalido('gestion'), 'is-valid': campoValido('gestion')}">
          <option [value]="0" [disabled]="true">Seleccione la gestión...</option>
          <option [value]="anio.idAnio" *ngFor="let anio of listaGestiones">
            {{anio.anio}}
          </option>
        </select>
      </div>

      <div class="col-12 col-md-7 d-flex flex-column mb-2">
        <label for="nombreCanaston">Nombre del canastón</label>
        <input  type="text" 
                id="nombre" 
                class="form-control"
                placeholder="Nombre de canaston"
                formControlName="nombreCanaston"
                [ngClass]="{'is-invalid': campoInvalido('nombreCanaston'), 'is-valid': campoValido('nombreCanaston') }">
      </div>

      <div class="col-12 col-lg-3 d-flex flex-column mb-2 mb-lg-0">
        <label for="fechaRegistro">Fecha Registro</label>
        <input  type="date" 
                id="fechaRegistro" 
                class="form-control"
                formControlName="fechaRegistro"
                [ngClass]="{'is-invalid': campoInvalido('fechaRegistro'), 'is-valid': campoValido('fechaRegistro')}">
      </div> 

      <div class="col-12 col-lg-3 d-flex flex-column">
        <label for="codigoMedidor">Código de medidor</label>
        <input  type="text" 
                id="codigoMedidor" 
                class="form-control"
                autocomplete="off"
                placeholder="Código del medidor..."
                formControlName="codigoMedidor"
                (ngModelChange)="buscarDatosSocioMedidorService()"
                [ngClass]="{'is-invalid': campoInvalido('codigoMedidor'), 'is-valid': campoValido('codigoMedidor') }">
        
        <p  class="text-danger my-1" 
            *ngIf="formularioRegistroSocioCanaston.get('codigoMedidor')?.hasError('error')">
          No existe este código de medidor 
        </p>
      </div>

      <div class="col-12 col-lg-6 d-flex flex-column">
        <label for="detalle">Detalle</label>
        <input  type="text" 
                id="detalle" 
                class="form-control"
                placeholder="Costo unitario..."
                formControlName="detalle"
                autocomplete="off"
                [ngClass]="{'is-invalid': campoInvalido('detalle'), 'is-valid': campoValido('detalle') }">
      </div>
    </div>

    <div class="row pt-2 d-flex justify-content-center">
      <div class="d-flex flex-column py-1 col-12 col-md-4 col-lg-3 col-xl-2 mb-2 mb-md-0">    
        <button class="btn btn-outline-danger"
                type="button"
                (click)="cancelarRegistroDeSocioCanaston()">
          <span class="mdi mdi-trash-can"></span>
          Cancelar
        </button>
      </div>

      <div  class="d-flex flex-column py-1 col-12 col-md-4 col-lg-3 col-xl-2 mb-2 mb-md-0" 
            *ngIf="socioCanastonUpdate==aux">   
        <button class="btn btn-outline-primary"
                (click)="guardarRegistroDeSocioCanaston()">
          <span class="mdi mdi-content-save"></span>
          Guardar
        </button>
      </div>

      <div  class="d-flex flex-column py-1 col-12 col-md-4 col-lg-3 col-xl-2 mb-2 mb-md-0" 
            *ngIf="socioCanastonUpdate!=aux">   
        <button class="btn btn-outline-success"
                type="button"
                (click)="actualizarRegistroDeSocioCanaston()">
          <span class="mdi mdi-content-save"></span>
          Actualizar
        </button>
      </div>
    </div>
  </form>
</div>

<div class="col-12 card p-2 mb-2">
  <form [formGroup]='formularioSocioCanaston'> 
    <div class="row m-0 p-0 mb-2">   
      <div class="col-12 col-md-4">
        <h2>LISTA DE SOCIOS Y SUS CANASTONES</h2>
      </div>
      
      <div class="col-12 col-md-3 d-flex flex-column mb-2 mb-lg-0">
        <label for="gestion">Gestión</label>
        <select class="form-select"
                id="gestion"
                formControlName="gestion"
                (change) = "changeGestionSocioCanaston()"
                [ngClass]="{'is-invalid': campoInvalidoSocioCanaston('gestion'), 'is-valid': campoValidoSocioCanaston('gestion')}">
          <option [value]="0" [disabled]="true" >Seleccione la gestión...</option>
          <option [value]="anio.idAnio" *ngFor="let anio of listaGestiones">
            {{anio.anio}}
          </option>
        </select>
      </div>

      <div class="col-12 col-md-5 d-flex flex-column mb-2 mb-lg-0">
        <label for="estado">Estado de asignación</label>
        <select class="form-select"
                id="estado"
                formControlName="estado"
                (change) = "changeGestionSocioCanaston()"
                [ngClass]="{'is-invalid': campoInvalidoSocioCanaston('estado'), 'is-valid': campoValidoSocioCanaston('estado')}">
          <option [value]="'con-canaston'">Socios con canastones asignados</option>          
          <option [value]="'sin-canaston'">Socios sin canastones asignados</option>          
        </select>
      </div>
    </div>
  </form>

  <div class="row m-0 p-0">
    <app-tabla  #tablaSociosDeCanaston
                [tituloItems]              = "tituloItemsReporte"
                [campoItems]               = "campoItemsReporte"
                [idItem]                   = "idItemReporte"
                [listaItems]               = "listaReporteSociosCanaston"
                [editar]                   = banderaSocioConCanastonAsignado
                [eliminar]                 = "(isPresidente()||isAdmin())&&banderaSocioConCanastonAsignado"
                [idTable]                  = "'tablaSociosDeCanaston'"
                (editarItemSeleccionado)   = "actualizarItemEvent($event)"
                (eliminarItemSeleccionado) = "eliminarItemEvent($event)">
    </app-tabla>
  </div>
</div>

<div class="col-12 card p-2 mb-2">    
  <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoXLSX()">      
  </app-imprimir-pdf>
</div>