<div class="container-fluid row m-0 p-0">
  <div class="col-12 mb-2 card">
    <h1 class="m-0 py-2"><b>ASIGNAR LICENCIAS A SOCIOS POR EVENTO</b></h1>
  </div>

  <div class="col-12 mb-2 card">
    <form [formGroup]='formularioBuscadorEvento'>
      <div class="row my-2">
        <div class="col-12 mb-0 mb-md-2 buscador">
          <label for="">Buscar eventos realizados</label>
          <div class="input-group">
              <input  id="nombre" 
                  type="text" 
                  autocomplete="off"  
                  class="form-control"
                  placeholder="Buscar evento realizado..."
                  (ngModelChange)="buscarEvento()"
                  formControlName="nombreEvento"
                  [ngClass]="{'is-invalid': campoEventoInvalido('nombreEvento'), 'is-valid': campoEventoValido('nombreEvento') }">
              <button class="btn btn-outline-secondary" 
                      type="button"
                      (click)="buscarEvento()">
                  <span class="material-icons d-flex justify-content-center">search</span>
              </button>
          </div>  

          <div [ngStyle]="{'height': '1px'}">
              <ul class="list-group card">
                <li *ngFor="let evento of listaEventos | async" 
                     class="p-1 px-2 m-0 pointer"  
                     (mouseover)="mouseOver(evento)"
                     (mouseout)="mouseOut(evento)"
                     (click)="seleccionarEvento(evento)"
                     [ngStyle]="{'list-style':'none', 'background-color':(evento.hover)?'#EBEDEF':''}">
                     {{evento.fechaRealizacion}}, {{evento.nombre}}
                </li>
              </ul>
          </div>
        </div>

        <div class="col-12 col-lg-6 mb-0 mb-md-2">
            <label for="">Seleccione un socio con licencia</label>
            <select class="form-select"                             
                    formControlName="socioSeguimientoEvento"
                    [ngClass]="{'is-invalid': campoEventoInvalido('socioSeguimientoEvento'), 'is-valid': campoEventoValido('socioSeguimientoEvento') }">
                <option [value]="0" [disabled]="true">Socio...</option>
                <option [value]="socioSegEvento.idSeguimientoEvento" 
                        *ngFor="let socioSegEvento of listaSocioSeguimientoEvento">
                    {{socioSegEvento.nombreCompleto}}
                </option>
            </select>
        </div>

        <div class="col-12 col-lg-6 mb-0 mb-md-2">
            <label for="">Seleccione un documento como respaldo</label>
            <input  id="file"
                    type="file" 
                    class="form-control"
                    formControlName="documento"
                    accept="application/pdf"
                    (change)="changeFile($event)"
                    [ngClass]="{'is-invalid': campoEventoInvalido('documento'), 'is-valid': campoEventoValido('documento') }">
        </div>

        <div class="col-12">
          <div class="row py-2 d-flex justify-content-center">          
            <div class="d-flex flex-column col-12 col-md-4 col-lg-3 col-xl-2 mb-2 mb-lg-0">
              <button class="btn btn-outline-danger"
                      type="button"
                      (click)="cancelarUploadLicencia()">
                <span class="mdi mdi-close"></span>
                  Cancelar
              </button>
            </div>

            <div  class="d-flex flex-column col-12 col-md-4 col-lg-3 col-xl-2 mb-2 mb-lg-0" 
                  *ngIf="socioSeguimientoUpdate==aux">
              <button class="btn btn-outline-primary"
                      type="button"
                      (click)="uploadLicencia()">
                <span class="mdi mdi-lock-open"></span>
                  Guardar
              </button>
            </div>

            <div  class="d-flex flex-column col-12 col-md-4 col-lg-3 col-xl-2 mb-2 mb-lg-0" 
                  *ngIf="socioSeguimientoUpdate!=aux">
              <button class="btn btn-outline-success"
                      type="button"
                      (click)="uploadLicencia()">
                <span class="mdi mdi-lock-open"></span>
                  Actualizar
              </button>
            </div>
          </div>
        </div>
      </div>       
    </form>
  </div>

  <div class="col-12 mb-2 position-static card" 
       *ngIf="srcBase64!=aux">
    <div class="row pt-2">
      <div class="col-12">
        <h2 class="m-0 py-2 text-center">DOCUMENTO DE RESPALDO PARA LA LICENCIA</h2>
      </div>

      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-3 col-lg-2">
          <div class="row">
            <div class="col-12 col-md-4 d-flex justify-content-end">
              <button type="button" 
                      class="btn btn-outline-secondary"
                      (click)="zoomMinus()">
                <span class="material-icons md-24 m-0 p-0 d-flex align-items-center">remove_circle_outline</span>
              </button>
            </div>
    
            <div class="col-12 col-md-4 d-flex d-block">
              <input  type="number" 
                      autocomplete="off"
                      disabled class="form-control form-control-sm text-center" 
                      [value]="zoomValue">
            </div>
    
            <div class="col-12 col-md-4 d-flex justify-content-start">
              <button type="button" 
                      class="btn btn-outline-secondary"
                      (click)="zoomPlus()">
                <span class="material-icons md-24 d-flex align-items-center pointer">add_circle_outline</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row pt-2 px-5">
      <div class="pdf-container">
        <pdf-viewer
          [src]="srcBase64"
          [rotation]="0"
          [original-size]="false"
          [show-all]="true"
          [fit-to-page]="false"
          [zoom]="zoomValue"
          [zoom-scale]="'page-width'"
          [stick-to-page]="false"
          [render-text]="true"
          [external-link-target]="'blank'"
          [autoresize]="true"
          [show-borders]="false"
          style="width: 100%; height: 60rem"
        ></pdf-viewer>
      </div> 
    </div> 
  </div>
  
  <div class="col-12 mb-2 position-static card">
    <div class="row pt-2">
      <div class="col-12 col-lg-6">
        <h2 class="m-0 py-0">LISTA DE SOCIOS CON LICENCIA</h2>
      </div>

      <div class="col-12 col-lg-6">
        <form [formGroup]='formularioBuscadorEventoTabla'>
          <label for="">Buscar eventos realizados</label>
          <div class="input-group">
              <input  id="nombre" 
                      type="text" 
                      autocomplete="off"  
                      placeholder="Buscar evento realizado..."
                      class="form-control"
                      formControlName="nombreEvento"
                      (ngModelChange)="buscarEventoParaTabla()">
              <button class="btn btn-outline-secondary" 
                      type="button"
                      (click)="buscarEventoParaTabla()">
                  <span class="material-icons d-flex justify-content-center">search</span>
              </button>
          </div>  
  
          <div [ngStyle]="{'height': '1px'}">
              <ul class="list-group card">
                <li *ngFor="let evento of listaEventosTabla | async" 
                     class="p-1 px-2 m-0 pointer"  
                     (mouseover)="mouseOver(evento)"
                     (mouseout)="mouseOut(evento)"
                     (click)="seleccionarEventoParaTabla(evento)"
                     [ngStyle]="{'list-style':'none', 'background-color':(evento.hover)?'#EBEDEF':''}">
                    {{evento.nombre}}, {{evento.fechaRealizacion}}
                </li>
              </ul>
          </div>
        </form>
    </div>
    </div>

    <div class="row pt-2">
      <app-table-paginator  [tituloItems]    = tituloSocioSegEventoLicencia
                            [campoItems]     = campoSocioSegEventoLicencia
                            [idItem]         = idSocioSegEventoLicencia
                            [listaItems]     = listaSociosSegConLicencia
                            [countItems]     = countItemsSocioSegEventoLicencia
                            [descargar]      = true
                            [ver]            = true
                            [update]         = true
                            (verItem)        = "verActaDeEvento($event)"
                            (descargarItem)  = "descargarActaDeEvento($event)"
                            (updateItem)     = "updateEvento($event)"
                            (cambioDePagina) = "cambioDePagina($event)"
                          >
      </app-table-paginator>
    </div>
  </div>
</div>  