<div class="col-12 card my-1 p-2">
  <h1 class="m-0 p-0"><b>REPORTE ECONÓMICO GENERAL </b></h1>
</div>

<div class="col-12 card my-1 p-2">
  <div class="row">
    <div class="col-12 col-md-6">
      <h2 class="m-0 p-0"><b>GENERAR REPORTE </b></h2>
    </div>

    <div class="col-12 col-md-6">
      <form [formGroup]="formulario">
        <span>Gestión</span>
        <select class="form-select"
                formControlName="gestion"
                (change)="changeGestion()"
                [ngClass]="{'is-invalid': campoInvalido(), 'is-valid': campoValido() }">
          <option [value]="0" [disabled]="true">
            Seleccione una gestión...
          </option>

          <option *ngFor="let anio of listaGestion"
                  [value]="anio.idAnio">
            {{ anio.anio }}
          </option>
        </select>
      </form>
    </div>
  </div>
</div>

<app-reporte-ingreso-economico [gestion]   = "gestion"
                               [idGestion] = "idGestion">
</app-reporte-ingreso-economico>

<app-reporte-egreso-economico [gestion]   = "gestion"
                              [idGestion] = "idGestion">  
</app-reporte-egreso-economico>
