<div class="container-fluid m-0 p-0">
  <div class="row mb-2 card">
    <h1 class="m-0 py-2"><b>TIPOS DE COBROS EXTRA</b></h1>
  </div>

  <div class="row mb-2 card">
    <div class="col-12 py-2">
      <h2 class="m-0 p-0">ESTABLECER TIPOS DE COBRO EXTRA</h2>
    </div>

    <div class="col-12 mb-2">
      <form [formGroup]="formularioCobroExtra">
        <div formArrayName="cobroExtra">
          <div class="row mb-2" 
              *ngFor="let item of getItemsCobroExtra().controls;index as i"
              [formGroupName]="i">
              
            <div class="col-12 col-lg-5 mb-2 mb-lg-0">
              <label for="nombre" class="pb-1">Código cobro extra</label>
              <input  type="text" 
                      autocomplete="off"
                      class="form-control"
                      placeholder="Ingrese el código del cobro extra..."
                      formControlName="nombre"
                      [ngClass]="{'is-invalid': campoInvalidoItemCobroExtra(i,'nombre'), 'is-valid': campoValidoItemCobroExtra(i,'nombre') }">          
            </div>

            <div class="col-12 col-lg-6 mb-2 mb-lg-0">
              <label for="detalle" class="pb-1">Nombre cobro extra</label>
              <input  type="text" 
                      autocomplete="off"
                      class="form-control"
                      placeholder="Ingrese el nombre del cobro extra..."
                      formControlName="detalle"
                      [ngClass]="{'is-invalid': campoInvalidoItemCobroExtra(i,'detalle'), 'is-valid': campoValidoItemCobroExtra(i,'detalle') }">
            </div>

            <div class="d-flex flex-column justify-content-end col-12 col-lg-1 mb-2 mb-lg-0" *ngIf="i==0">
              <button class="btn btn-outline-primary d-flex justify-content-center"
                      type="button"
                      (click)="addItemsCobroExtra()"
                      [disabled]="cobroExtraUpdate!=aux">
                <span class="material-icons">add</span>
              </button>
            </div>

            <div class="d-flex flex-column justify-content-end col-12 col-lg-1 mb-2 mb-lg-0" *ngIf="i!=0">
              <button class="btn btn-outline-danger d-flex justify-content-center"
                      type="button"
                      (click)="removeItemCobroExtra(i)">
                <span class="material-icons" >close</span>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="row m-0 p-0 mb-2 d-flex justify-content-center">
      <div class="d-flex flex-column col-12 col-md-4 col-lg-3 col-xl-2 mb-2 mb-md-0">
        <button class="btn btn-outline-danger"
                type="button"
                (click)="cancelarGuardarTipoCobroExtra()">
          <span class="mdi mdi-trash-can"></span>
          Cancelar
        </button>
      </div>
      
      <div  class="d-flex flex-column col-12 col-md-4 col-lg-3 col-xl-2 mb-2 mb-md-0" 
            *ngIf="cobroExtraUpdate==aux">
        <button class="btn btn-outline-primary"
                type="button"
                (click)="guardarTipoCobroExtra()">
          <span class="mdi mdi-content-save"></span>
          Guardar
        </button>
      </div>

      <div  class="d-flex flex-column col-12 col-md-4 col-lg-3 col-xl-2 mb-2 mb-md-0" 
            *ngIf="cobroExtraUpdate!=aux">
        <button class="btn btn-outline-success"
                    type="button"
                    (click)="actualizarTipoCobroExtra()">
          <span class="mdi mdi-content-save"></span>
          Actualizar
        </button>
      </div>
    </div>
  </div>

  <div class="row mb-2 card">    
    <div class="col-12 py-2">
      <div class="col-12">
        <h2 class="m-0 p-0">LISTA DE TIPOS DE COBRO EXTRA</h2>
      </div>
    </div>

    <div class="col-12">
      <app-tabla  #tablaTiposCobroExtra
                  [tituloItems]            = "listaTituloCobroExtra"
                  [campoItems]             = "listaCampoCobroExtra"
                  [idItem]                 = "idCobroExtra"
                  [listaItems]             = "listaCobroExtra"
                  [editar]                 = "banderaHabilitado"
                  [idTable]                = "'tablaTiposCobroExtra'"
                  (editarItemSeleccionado) = "updateCobroExtraEvent($event)">
      </app-tabla>
    </div>
  </div> 
  
  <div class="row mb-2 py-2 card atras">    
    <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoXLSX()">      
    </app-imprimir-pdf>
  </div>
</div>

