<div class="col-12 card mb-2">
  <h1 class="m-0 p-2"><b>REGISTRO DETALLES DE CANASTÓN POR GESTIÓN</b></h1>
</div>

<div class="col-12 card p-2 mb-2">
  <div class="row">   
    <h2>DETALLES DEL CANASTÓN</h2>
  </div>

  <form [formGroup]='formularioCanaston'> 
    <div class="row">   
      <div class="col-12 col-md-5 d-flex flex-column mb-2 mb-lg-0">
        <label for="gestion">Gestión</label>
        <select class="form-select"
                id="gestion"
                formControlName="gestion"
                (change) = "changeGestionRegistroDetalleCanaston()"
                [ngClass]="{'is-invalid': campoInvalido('gestion'), 'is-valid': campoValido('gestion')}">
          <option [value]="0" [disabled]="true">Seleccione la gestión...</option>
          <option [value]="anio.idAnio" *ngFor="let anio of listaGestiones">
            {{anio.anio}}
          </option>
        </select>
      </div>

      <div class="col-12 col-md-7 d-flex flex-column mb-2 mb-lg-0">
        <label for="nombreCanaston">Nombre del canastón</label>
        <input  type="text" 
                id="nombre" 
                class="form-control"
                formControlName="nombreCanaston"
                [ngClass]="{'is-invalid': campoInvalido('nombreCanaston'), 'is-valid': campoValido('nombreCanaston') }">
      </div>

      <div  class="col-12 m-0"
            formArrayName="detalleCanaston">
        <div  class="row pe-0"
              *ngFor="let itemCanaston of detalleCanastonList.controls;index as i"
              [formGroupName]="i">  

          <div class="col-12 col-lg-5 pt-2 d-flex flex-column">
            <label for="nombre" class="pb-1">Nombre del detalle</label>
            <input  type="text" 
                    id="nombre" 
                    class="form-control"
                    autocomplete="off"
                    placeholder="Nombre del detalle..."
                    formControlName="nombre"
                    [ngClass]="{'is-invalid': detalleCanastonInvalido(i,'nombre'), 'is-valid': detalleCanastonValido(i,'nombre') }">
          </div>

          <div class="col-12 col-lg-3 pt-2 d-flex flex-column">
            <label for="costoUnitario" class="pb-1">Costo unitario</label>
            <input  type="number" 
                    id="costoUnitario" 
                    class="form-control"
                    placeholder="Costo unitario..."
                    formControlName="costoUnitario"
                    autocomplete="off"
                    [ngClass]="{'is-invalid': detalleCanastonInvalido(i,'costoUnitario'), 'is-valid': detalleCanastonValido(i,'costoUnitario') }">
          </div>

          <div class="col-12 col-lg-3 pt-2 d-flex flex-column">
            <label for="unidades" class="pb-1">Unidades</label>
            <input  type="number" 
                    id="unidades" 
                    class="form-control"
                    placeholder="Unidades..."
                    formControlName="unidades"
                    autocomplete="off"
                    [ngClass]="{'is-invalid': detalleCanastonInvalido(i,'unidades'), 'is-valid': detalleCanastonValido(i,'unidades') }">
          </div>

          <div  class="col-12 col-lg-1 pt-2 d-flex flex-column justify-content-end"
                *ngIf="i==0">
              <button class="btn btn-outline-success d-flex justify-content-center"
                      type="button"
                      (click)="aniadirDetalleCanaston()"
                      [disabled]="detalleCanastonUpdate!=aux">
                <span class="material-icons">add</span>
              </button>
          </div>

          <div  class="ccol-12 col-lg-1 pt-2 d-flex flex-column justify-content-end"
                *ngIf="i!=0">
            <button class="btn btn-outline-danger d-flex justify-content-center"
                    type="button"
                    (click)="eliminarDetalleCanaston(i)">
              <span class="material-icons">close</span>
            </button>
          </div>
        </div> 
      </div>
    </div>

    <div class="row pt-2 d-flex justify-content-center">
      <div class="d-flex flex-column py-1 col-12 col-md-4 col-lg-3 col-xl-2 mb-2 mb-md-0">    
        <button class="btn btn-outline-danger"
                type="button"
                (click)="cancelarRegistroDeCanaston()">
          <span class="mdi mdi-trash-can"></span>
          Cancelar
        </button>
      </div>

      <div  class="d-flex flex-column py-1 col-12 col-md-4 col-lg-3 col-xl-2 mb-2 mb-md-0" 
            *ngIf="detalleCanastonUpdate==aux">   
        <button class="btn btn-outline-primary"
                (click)="guardarRegistroDeCanaston()">
          <span class="mdi mdi-content-save"></span>
          Guardar
        </button>
      </div>

      <div  class="d-flex flex-column py-1 col-12 col-md-4 col-lg-3 col-xl-2 mb-2 mb-md-0" 
            *ngIf="detalleCanastonUpdate!=aux">   
        <button class="btn btn-outline-success"
                type="button"
                (click)="actualizarRegistroDeCanaston()">
          <span class="mdi mdi-content-save"></span>
          Actualizar
        </button>
      </div>
    </div>
  </form>
</div>

<div class="col-12 card p-2 mb-2">
  <form [formGroup]='formularioGestion'> 
    <div class="row m-0 p-0 mb-2">   
      <div class="col-12 col-md-9">
        <h2>LISTA DE DETALLE DE CANASTÓN</h2>
      </div>
      
      <div class="col-12 col-md-3 d-flex flex-column mb-2 mb-lg-0">
        <label for="gestion">Gestión</label>
        <select class="form-select"
                id="gestion"
                formControlName="gestion"
                (change) = "changeGestionListarDetalleCanaston()"
                [ngClass]="{'is-invalid': campoInvalidoDetalleGestion('gestion'), 'is-valid': campoValidoDetalleGestion('gestion')}">
          <option [value]="0" [disabled]="true">Seleccione la gestión...</option>
          <option [value]="anio.idAnio" *ngFor="let anio of listaGestiones">
            {{anio.anio}}
          </option>
        </select>
      </div> 
    </div>
  </form>

  <div class="row m-0 p-0">
    <app-tabla  #tablaDetalleCanaston
                [tituloItems]              = "tituloItems"
                [campoItems]               = "campoItems"
                [idItem]                   = "idItem"
                [listaItems]               = "listaDetalleCanaston"
                [editar]                   = true
                [eliminar]                 = "isPresidente()||isAdmin()"
                [idTable]                  = "'tablaDetalleCanaston'"
                (editarItemSeleccionado)   = "actualizarItemEvent($event)"
                (eliminarItemSeleccionado) = "eliminarItemEvent($event)">
    </app-tabla>
  </div>
</div>

<div class="col-12 card p-2 mb-2">    
  <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoXLSX()">      
  </app-imprimir-pdf>
</div>