<div class="container-fluid row m-0 p-0">
  <div class="col-12 px-2 mb-2 card">
    <h1 class="m-0 py-2"><b>MESA DIRECTIVA</b></h1>
  </div>
  
  <div class="mb-3 pb-2 card">
    <div class="col-12 pt-2">
      <h2 class="">CREAR MESA DIRECTIVA</h2>
    </div>

    <form [formGroup]='formularioMesaDirectiva'>
      <div class="row mb-2 pb-2">      
        <div class="col-12 col-lg-6 mb-2 mb-lg-0">
          <label class="pb-1">Nombre de la mesa directiva</label>
          <input  type="text"
                  class="form-control"
                  placeholder="Ingrese el nombre de la mesa directiva..."
                  formControlName="nombreMesaDirectiva"
                  [ngClass]="{'is-invalid': formularioMesaDirectivaInvalido('nombreMesaDirectiva'), 'is-valid': formularioMesaDirectivaValido('nombreMesaDirectiva') }">
        </div>
        
        <div class="col-12 col-md-6 col-lg-3 mb-2 mb-lg-0">
          <label class="pb-1">Gestión</label>
          <select class="form-select"
                  formControlName="gestion"
                  [ngClass]="{'is-invalid': formularioMesaDirectivaInvalido('gestion'), 'is-valid': formularioMesaDirectivaValido('gestion') }">
            <option [value]="-1">Seleccione una gestión</option>
            <option value={{gestion.idAnio}} *ngFor="let gestion of listaGestiones">{{gestion.anio}}</option>
          </select>
        </div>

        <div class="col-12 col-md-6 col-lg-3 mb-2 mb-lg-0">
          <label class="pb-1">Fecha creación</label>
          <input  class="form-select"
                  type="date"
                  formControlName="fechaCreacion">
        </div>
      </div>

      <div class="row pt-2 d-flex justify-content-center">        
        <div class="d-flex flex-column col-12 col-md-4 col-lg-3 col-xl-2 mb-2 mb-md-0">    
          <button class="btn btn-outline-danger"
                  type="button"
                  (click)="cancelarRegistroMesaDirectiva()">
            <span class="mdi mdi-trash-can"></span>
            Cancelar
          </button>
        </div>

        <div  class="d-flex flex-column col-12 col-md-4 col-lg-3 col-xl-2 mb-2 mb-md-0" 
              *ngIf="mesaDirectivaEditar==aux">   
          <button class="btn btn-outline-primary"
                  type="button"
                  (click)="crearMesaDirectiva()">
            <span class="mdi mdi-content-save"></span>
            Guardar
          </button>
        </div>

        <div  class="d-flex flex-column col-12 col-md-4 col-lg-3 col-xl-2 mb-2 mb-md-0" 
              *ngIf="mesaDirectivaEditar!=aux">   
          <button class="btn btn-outline-success"
                  type="button"
                  (click)="actualizarMesaDirectiva()">
            <span class="mdi mdi-content-save"></span>
            Actualizar
          </button>
        </div>
      </div> 
    </form>
  </div>

  <div class="mb-3 pb-2 card">
    <div class="row my-2">
      <div class="col-12 col-lg-6 col-xl-8">
        <h2 class="m-0 p-0">LISTA DE MESA DIRECTIVA</h2>
      </div>

      <div class="col-12 col-lg-6 col-xl-4">
        <form [formGroup]='formularioListaMesaDirectiva'>
          <div class="row d-flex justify-content-end">
            <div class="col-12">
              <span>Estado mesa directiva</span>
              <select class="form-select"
                      formControlName="activo"
                      (change)="changeEstadoMesaDirectiva()">
                <option value="1">Mesa directiva vigente</option>
                <option value="0">Mesas directiva no vigente</option>
              </select>
            </div>            
          </div>
        </form>
      </div>
    </div>  
      
    <div class="row">
      <app-tabla  #tablaMiembrosMesaDirectiva
                  [tituloItems]              = "tituloItemsMesaDirectiva"
                  [campoItems]               = "campoItemsMesaDirectiva"
                  [idItem]                   = "idItemMesaDirectiva"
                  [listaItems]               = "listaItemsMesaDirectiva"
                  [editar]                   = "true"
                  [eliminar]                 = "isPresidente()||isAdmin()"
                  (editarItemSeleccionado)   = "updateMesaDirectivaEvent($event)"
                  (eliminarItemSeleccionado) = "eliminarMesaDirectivaEvent($event)">
      </app-tabla>
    </div>
  </div>
</div>