<div class="row">
  <p class="mb-1">{{titulo}}</p>
</div>

<form [formGroup]='formularioBuscadorEvento'>
  <div class="row">
    <div class="input-group">
      <input  id="texto" 
              type={{type}}
              autocomplete="off" 
              placeholder="{{placeholder}}"
              class="form-control"
              (ngModelChange)="buscartexto()"
              formControlName="texto"              
              [ngClass]="{'is-invalid': campoBusquedaInvalido('texto'), 'is-valid': campoBusquedaValido('texto') }">
      <button class="btn btn-outline-secondary" 
              type="button"
              (click)="buscartexto()"
              [disabled]="buttonDisabled">
          <span class="material-icons d-flex justify-content-center">search</span>
      </button>
    </div> 
  </div>

  <div [ngStyle]="{'height': '1px'}">
    <ul class="list-group card">
      <li *ngFor="let evento of listaItems | async" 
           class="p-1 px-2 m-0 pointer"  
           (mouseover)="mouseOver(evento)"
           (mouseout)="mouseOut(evento)"
           (click)="seleccionarEvento(evento)"
           [ngStyle]="{'list-style':'none', 'background-color':(evento.hover)?'#EBEDEF':''}">
          {{evento[campo]}}
      </li>
    </ul>
  </div>
</form>