<div class="col-12 card mb-2">
  <h1 class="m-0 p-2"><b>REPORTE DE EGRESOS EXTRA EN RANGO FECHA</b></h1>
</div>

<div class="col-12 card p-2 mb-2">
  <form [formGroup]='formularioGestion'> 
    <div class="row mb-2">   
      <div class="col-12 col-md-6">
        <h2>DETALLE DE LOS EGREOS EXTRA</h2>
      </div>

      <div class="col-12 col-lg-6 d-flex flex-column mb-2 mb-lg-0">
        <app-rango-fecha  #rangoFechaComponent
                          (cambioFechaEvent)="getReporteIngresoExatraEnRangoFecha($event)">          
        </app-rango-fecha>
      </div>
    </div>
  </form>

  <div class="row">
    <div class="table-responsive"> 
      <table  class="table table-hover table-sm"
              id=idTableReporteEgresoExtra>
        <thead style="background-color: #154360;">
          <tr>
            <th scope="col" 
                class="align-middle fw-normal p-2 text-white text-start"
                *ngFor="let itemTitle of tituloItems" >
              {{ itemTitle }}
            </th>
          </tr>
        </thead>

        <tbody>
          <tr class="pointer"
              *ngFor="let item of listaEgresoExtraVO; index as i"
              (click)="seleccionarItem(item)"
              [ngStyle]="{'background-color': (item.selecionado)?'#A9CCE3':'#FFFFFF'}">
    
              <td class="align-middle text-center" 
                  scope="row">{{i+1}}
              </td>

              <td class="align-middle text-start"
                  [ngStyle]="{'border-right':'1px solid #EAECEE'}">
                {{ item['nombre'] }}
              </td>

              <td class="align-middle text-center" 
                  *ngFor="let campo of campoItems"
                  [ngStyle]="{'border-right':'1px solid #EAECEE'}">
                {{ item[campo] }}
              </td>
          </tr>

          <tr class="text-center fw-bold"
              [ngStyle]="{'background-color': '#EBEDEF'}"
              *ngIf="reporteEgresoExtraVO!=aux">
            <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}">
                {{ listaEgresoExtraVO?.length + 1}} 
            </td>
            <td [attr.colspan]="4"
                [ngStyle]="{'border-right':'1px solid #ABB2B9'}">
                Suma total
            </td>
            <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}">
                {{ reporteEgresoExtraVO?.sumaCostoTotal }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="col-12 card p-2 mb-2">    
  <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoXLSX()">      
  </app-imprimir-pdf>
</div>