<div class="container-fluid row m-0 p-0">
  <div class="col-12 card mb-2">
      <h1 class="m-0 py-2"><b>BUSQUEDA DE SOCIOS</b></h1>
  </div>

  <div class="col-12 p-0">
    <app-buscar-socio [opcionEstado]    = "opcionEstado"
                      [tituloItems]     = "tituloItems"
                      [campoItems]      = "campoItems"
                      (itemSeleccionado)= "socioSeleccionado($event)"
                    > 
    </app-buscar-socio>
  </div>
</div>