<div class="container-fluid row m-0 p-0">
  <div class="col-12 card mb-2">
      <h1 class="m-0 py-2"><b>LISTA DE MEDIDORES ASIGNADOS A SOCIOS</b></h1>
  </div>

  <div class="col-12 card mb-2">
    <div class="row my-2">    
      <div class="col-12">
        <h2>BUSCAR MEDIDOR</h2>
      </div>
     
      <div class="col-12 col-lg-6 d-flex flex-column mb-2 mb-lg-0">
        <app-input-form #InputFormComponentCodigo
                        [title]="'Buscar por codigo de socio'"
                        [type]="'text'"
                        [placeHolder]="'Código de socio...'"
                        (dataOutput)="busquedaPoCodigoDeSocio($event)">
        </app-input-form>
      </div>
  
      <div class="col-12 col-lg-6 d-flex flex-column mb-2 mb-lg-0">
        <app-input-form #InputFormComponentApellido
                        [title]="'Buscar por codigo de medidor'"
                        [type]="'text'"
                        [placeHolder]="'Código de medidor...'"
                        (dataOutput)="busquedaPoCodigoDeMedidor($event)">
        </app-input-form>
      </div>  
    </div>
  </div>

  <div class="col-12 px-2 card py-3">    
    <form [formGroup]='formularioFiltro'>
      <div class="row mb-3">
        <div class="col-12 col-lg-4 mb-2 mb-lg-0">
          <p class="mb-1">
            Estado de Socios
          </p>
          <select class="form-select form-select-sm" 
                  (change)="cambioBusquedaFiltroEvent('estadoSocio')"
                  formControlName="estadoSocio"
                  [ngClass]="{'is-invalid': formularioFiltroInvalido('estadoSocio'), 'is-valid': formularioFiltroValido('estadoSocio') }">
            <option [value]="1">Socios activos</option>
            <option [value]="0">Socios dados de baja</option>
          </select>
        </div>

        <div class="col-12 col-lg-4 mb-2 mb-lg-0">
          <p class="mb-1">
            Estado de asignacion de medidor
          </p>               
          <select class="form-select form-select-sm" 
                  (change)="cambioBusquedaFiltroEvent('estadoAsignacionMedidor')"
                  formControlName="estadoAsignacionMedidor"
                  [ngClass]="{'is-invalid': formularioFiltroInvalido('estadoAsignacionMedidor'), 'is-valid': formularioFiltroValido('estadoAsignacionMedidor') }">
            <option value="1">Estado activo ( Asignado y vigente )</option>
            <option value="0">Estado inactivo ( Dado de baja )</option>
          </select>
        </div>
        
        <div class="col-12 col-lg-4 mb-2 mb-lg-0">
          <p class="mb-1">
            Estado de medidor
          </p>               
          <select class="form-select form-select-sm" 
                  (change)="cambioBusquedaFiltroEvent('estadoMedidor')"
                  formControlName="estadoMedidor"
                  [ngClass]="{'is-invalid': formularioFiltroInvalido('estadoMedidor'), 'is-valid': formularioFiltroValido('estadoMedidor') }">
            <option value="1">Estado activo (Aun en funcionamiento)</option>
            <option value="0">Estado inactivo ( Dado de baja )</option>
          </select>
        </div>

        
      </div>
    </form>

    <div class="row">
      <div class="col-12">
        <app-table-paginator-multiple-rows-v2 #tablaMedidoresDeSocio
                                              [tituloItemsTabla]      = "tituloItemsTabla"
                                              [campoItemsFiltrado]    = "campoItemsFiltrado"
                                              [campoSubItemsFiltrado] = "campoSubItemsFiltrado"
                                              [idItemFiltrado]        = "idItemFiltrado"
                                              [idItem]                = "idItem"
                                              [countItems]            = "countSocios"
                                              [camposItem]            = "camposItem"
                                              [idCampoSubItem]        = "idCampoSubItem"
                                              [camposSubItem]         = "camposSubItem"
                                              [listaItems]            = "listaDeSociosMedidor"
                                              [idTable]               = "'tablaMedidoresDeSocio'"
                                              (cambioDePagina)        = "newPageOrChangeSizePage($event)"
                                              (itemSeleccionado)      = "selectMedidor($event)"
                                          >
        </app-table-paginator-multiple-rows-v2>
      </div>      
    </div>    
  </div>
  
  <div class="col-12 mb-2 py-2 my-2 card">    
    <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoXLSX()">      
    </app-imprimir-pdf>
  </div>
</div>

