  <div class="row mb-2 card">
    <h1 class="m-0 py-2"><b>COBROS EXTRA EN UNA GESTIÓN</b></h1>
  </div>

  <div class="row mb-2 card">  
    <div class="col-12 my-3">
      <div class="row">
        <div class="col-12 col-lg-8 col-xl-9">
          <h2 class="m-0 p-0">LISTA DE COBROS EXTRA EN UNA GESTIÓN POR PERIODO</h2>
        </div>

        <div class="col-12 col-lg-4 col-xl-3">
          <form [formGroup]="formularioGestion">
            <label for="">Gestión</label>
            <select class="form-select"
                      formControlName="gestion"
                      (change)="changeGestionCobroExtra()"
                      [ngClass]="{'is-invalid': campoInvalido('gestion'), 'is-valid': campoValido('gestion') }">
                <option [value]="0" [disabled]="true">Seleccione el año...</option>
                <option [value]="gestion.idAnio" *ngFor="let gestion of listaGestiones">{{gestion.anio}}</option>
            </select>                 
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2 card">      
    <div class="col-12">
      <div class=" table-responsive my-2">
        <table class="table table-sm" id="tablaCobroExtraGestion">
          <thead style="background-color: #154360;">
            <tr>
              <th scope="col"
                  class="align-middle fw-normal p-2 text-white text-center"
                  *ngFor="let titulo of listaTituloPeriodoCobroExtra">
                {{titulo}}
              </th>
            </tr>
          </thead>

          <tbody>
            <tr class="pointer"
                (click)="seleccionarItem(periodo)"     
                [ngStyle]="{'background-color': (periodo.seleccionado)?'#85C1E9':'#FFFFFF'}"
                *ngFor="let periodo of listaPeriodoDataTratadoVO; index as i">          

                <ng-container *ngIf="periodo.indexGlobal==0">
                  <td class="align-middle text-center"
                      scope="row"
                      [attr.rowspan]="periodo.countItemsCobroExtra"
                      [ngStyle]="{'border-right':'1px solid #EAECEE', 'border-left':'1px solid #EAECEE'}"
                      >                      
                      {{periodo.indexMes}}
                  </td>

                  <td class="align-middle text-center"
                      scope="row"
                      [attr.rowspan]="periodo.countItemsCobroExtra"
                      [ngStyle]="{'border-right':'1px solid #EAECEE'}"
                      >                      
                      {{periodo.nroMes}}
                  </td>

                  <td class="align-middle text-center"
                      scope="row"
                      [attr.rowspan]="periodo.countItemsCobroExtra"
                      [ngStyle]="{'border-right':'1px solid #EAECEE'}"
                      >                      
                      {{periodo.nombreMes}}
                  </td>
                </ng-container>

                <td class="align-middle text-center"
                      scope="row"
                      [ngStyle]="{'border-right':'1px solid #EAECEE', 'border-left':'1px solid #EAECEE'}"
                      >                      
                      {{periodo.nombreCobroExtra}}
                </td>

                <td class="align-middle text-center"
                      scope="row"
                      [ngStyle]="{'border-right':'1px solid #EAECEE'}"
                      >                      
                      {{periodo.costoCobroExtra}}
                </td>

                <td class="align-middle text-center"
                      scope="row"
                      [ngStyle]="{'border-right':'1px solid #EAECEE','color': (periodo.todos)?'#1D8348':'red','font-weight':'bold'}"
                      >                      
                      {{stringFromBoolean(periodo.todos)}}
                </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row mb-2 py-2 my-2 card">    
    <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoXLSX()">      
    </app-imprimir-pdf>
  </div>


