<div class="col-12 m-0 card mb-2">
  <h1 class="m-0 p-2"><b>COBRO POR CONSUMO DE AGUA - SOCIOS DADOS DE BAJA</b></h1>
</div>

<div class="col-12 mb-2">
  <app-buscar-socio [tituloItems]      = "tituloItems"
                    [campoItems]       = "campoItems"
                    [busquedaTodos]    = "true"
                    (itemSeleccionado) = "socioSeleccionadoEvent($event)"
                    (nuevaBusqueda)    = "nuevaBusquedaBuscadorSocio($event)">
  </app-buscar-socio>
</div>

<div class="col-12 px-2 mb-2 card">
  <div class="py-2">
    <h2 class="m-0 p-0">MEDIDORES DE SOCIO</h2>
  </div>

  <div class="pb-2">
    <app-tabla  #tablaMedidoresSocioComponent
                [tituloItems]       = "tituloItemsMedidor"
                [campoItems]        = "campoItemsMedidor"
                [idItem]            = "idItemMedidor"
                [listaItems]        = "listaMedidoresDeSocio"
                [textPosition]      = "'text-center'"
                (itemSeleccionado)  = "medidorSeleccionadoEvent($event)">
    </app-tabla>
  </div>
</div>

<div class="col-12 mb-2 p-2 card">
  <div class="col-12 my-3">
    <h2 class="m-0 p-0">LECTURA DE PERIODOS</h2>
  </div>   

  <div class="col-12">
    <div class="table-responsive">
      <table class="table table-hover table-sm" id="tableLecturaPeriodo">
        <thead style="background-color: #154360;">
          <tr>
            <th scope="col"
                class="align-middle fw-normal p-2 text-white text-center"
                *ngFor="let titulo of listaTituloItems">
              {{titulo}}
            </th>
          </tr>
        </thead>

        <tbody>
          <tr class="pointer"
              (click)="seleccionarItemLecturaPeriodo(lecturaPeriodo)"     
              [ngStyle]="{'background-color': (lecturaPeriodo.seleccionado)?'#85C1E9':'#FFFFFF'}"
              *ngFor="let lecturaPeriodo of listaLecturaPeriodoTratado; index as i">          

              <ng-container *ngIf="lecturaPeriodo.indexGlobal==0">
                <td class="align-middle text-center"
                    scope="row"
                    [attr.rowspan]="lecturaPeriodo.countItemsCobroExtra"
                    [ngStyle]="{'color': (isTypeOfBooleanLecturaPeriodo(lecturaPeriodo[campoSocio]))? (lecturaPeriodo[campoSocio])?'red':'#28B463' : 'black', 'font-weight': (isTypeOfBooleanLecturaPeriodo(lecturaPeriodo[campoSocio]))?'bold':'', 'border-right':'1px solid #EAECEE'}"
                    *ngFor="let campoSocio of listaCampoLecturaPeriodo">                      
                    {{ getValueLecturaPeriodo(lecturaPeriodo[campoSocio]) }}
                </td>
              </ng-container>

              <td class="align-middle text-center"
                  scope="row"
                  [attr.rowspan]="1"
                  [ngStyle]="{'border-right':'1px solid #EAECEE'}">                      
                  {{lecturaPeriodo.nombreCobroExtra}}
              </td>

              <td class="align-middle text-center"
                  scope="row"
                  [attr.rowspan]="1"
                  [ngStyle]="{'border-right':'1px solid #EAECEE'}">                      
                  {{lecturaPeriodo.costoCobroExtra}}
              </td>
              
              <ng-container *ngIf="lecturaPeriodo.indexGlobal==0">
                <td class="align-middle text-center"
                    scope="row"
                    [attr.rowspan]="lecturaPeriodo.countItemsCobroExtra"
                    [ngStyle]="{'border-right':'1px solid #EAECEE'}">                      
                    {{ lecturaPeriodo.sumaCostoPeriodo }}
                </td>

                <td class="align-middle text-center"
                    scope="row"
                    [attr.rowspan]="lecturaPeriodo.countItemsCobroExtra"
                    [ngStyle]="{'border-right':'1px solid #EAECEE'}">                      
                    <input  type      = "checkbox" 
                            id        = 'check{{lecturaPeriodo.idLecturaPeriodo}}'
                            [checked] = "false"
                            (change)  = "checkLecturaPeriodo($event,lecturaPeriodo)">
                </td>
              </ng-container> 
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-12 my-3">
    <p id="sumatoria-costo" class="text-end"><b>Sumatoria costo total : </b>{{sumatoriaCosto}} </p>
  </div>   

  <div class="row d-flex justify-content-center">
    <div class="d-flex flex-column col-12 col-md-4 col-lg-3 col-xl-2 mt-2 my-2 m-xl-0">
      <button type="button"
              class="btn btn-outline-danger"
              (click)="cancelarRegistroPagoLecturaPeriodo()">
        <span class="mdi mdi-trash-can"></span>
        Cancelar
      </button>
    </div>
    
    <div class="d-flex flex-column col-12 col-md-4 col-lg-3 col-xl-2 mt-2 my-2 m-xl-0">
      <button type="submit" 
              class="btn btn-outline-primary"
              (click)="registrarCobroLecturaPeriodo()">
        <span class="mdi mdi-content-save"></span>
        Guardar
      </button>
    </div>
  </div>    
</div>

<div class="col-12 mb-2 py-2 card">    
  <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoXLSX()">      
  </app-imprimir-pdf>
</div>