<div class="container-fluid m-0 p-0">
  <div class="row mb-2 card">
    <h1 class="m-0 py-2"><b>APORTE EVENTUAL</b></h1>
  </div>

  <div class="row mb-2 card">
    <form [formGroup]="formularioAporteEventual">
      <div class="col-12 py-2">
        <div class="row">
          <div class="col-12 col-lg-10">
            <h2 class="m-0 p-0">REGISTRO APORTE EVENTUAL</h2>
          </div>

          <div class="col-12 col-lg-2">
            <label for="fechaRegistro" class="pb-1">
              Fecha
            </label>
            <input  type="date" 
                    class="form-control" 
                    id="fechaRegistro" 
                    formControlName="fechaRegistro"
                    [ngClass]="{'is-invalid': campoAporteEventualInvalido('fechaRegistro'), 'is-valid': campoAporteEventualValido('fechaRegistro') }">
          </div>
        </div>
      </div>

      <div class="col-12">      
        <div class="row pb-2">
          <div class="col-12 col-lg-8">
            <label for="nombre" class="pb-1">Nombre</label>
            <input  type="text" 
                    autocomplete="off"
                    class="form-control" 
                    id="nombre" 
                    placeholder="Ingrese un nombre..."
                    formControlName="nombre"
                    [ngClass]="{'is-invalid': campoAporteEventualInvalido('nombre'), 'is-valid': campoAporteEventualValido('nombre') }">
          </div>

          <div class="col-12 col-lg-4">
            <label for="montoAporte" class="pb-1">Monto aporte</label>
            <input  type="number" 
                    autocomplete="off"
                    class="form-control" 
                    id="montoAporte" 
                    placeholder="Ingrese el monto..."
                    formControlName="montoAporte"
                    [ngClass]="{'is-invalid': campoAporteEventualInvalido('montoAporte'), 'is-valid': campoAporteEventualValido('montoAporte') }">
          </div>

          <div class="col-12 col-lg-12">
            <label for="descripcion" class="pb-1">Descripción</label>
            <textarea type="text" 
                      autocomplete="off"
                      class="form-control" 
                      id="descripcion" 
                      placeholder="Ingrese una descripción"
                      formControlName="descripcion"
                      [ngClass]="{'is-invalid': campoAporteEventualInvalido('descripcion'), 'is-valid': campoAporteEventualValido('descripcion') }"                        
                      rows="3">                
            </textarea>
          </div>     
        </div> 

        <div class="row pb-2 d-flex justify-content-center">
          <div class="d-flex flex-column col-12 col-md-4 col-lg-3 col-xl-2 mb-2 mb-md-0">
            <button class="btn btn-outline-danger" type="button" (click)="cancelarAporteEventual()">
              <span class="mdi mdi-trash-can"></span>
              Cancelar
            </button>
          </div>
          
          <div  class="d-flex flex-column col-12 col-md-4 col-lg-3 col-xl-2 mb-2 mb-md-0" 
                *ngIf="aporteEventualEditar==aux">
            <button class="btn btn-outline-primary" type="button" (click)="guardarAporteEventual()">
              <span class="mdi mdi-content-save"></span>
              Guardar
            </button>
          </div>

          <div  class="d-flex flex-column col-12 col-md-4 col-lg-3 col-xl-2 mb-2 mb-md-0" 
                *ngIf="aporteEventualEditar!=aux">   
            <button class="btn btn-outline-success"
                    type="button"
                    (click)="actualizarAporteEventual()">
              <span class="mdi mdi-content-save"></span>
              Actualizar
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="row mb-2 card">
    <div class="col-12 col-lg-6 my-2">
      <h2 class="m-0 p-0">LISTA DE APORTES EVENTUALES</h2>
    </div>

    <div class="col-12 mb-2">
      <div class="input-group">
        <input  type=text
                autocomplete="off"
                class="form-control"
                placeholder="Buscar aporte eventual..."
                [(ngModel)]="textoBusqueda" 
                (ngModelChange)="buscarNombreEvento()">
        <button class="btn btn-outline-secondary" 
                type="button"
                (click)="buscarNombreEvento()">
            <span class="mdi mdi-account-search"></span>
        </button>
      </div>
    </div>

    <app-table-paginator  #tablaAporteEventual
                          [tituloItems]      = "tituloAporteEventual"
                          [campoItems]       = "campoAporteEventual"
                          [idItem]           = "idAporteEventual"
                          [listaItems]       = "listaItemsAporteEventual"
                          [countItems]       = "countlistaItemsAporteEventual"
                          [update]           = isPresidente()||isAdmin()||isSecretaria()
                          [delete]           = isPresidente()||isAdmin()
                          [idTable]          = "'tablaAporteEventual'"
                          (updateItem)       = "updateAporteEventual($event)"
                          (deleteItem)       = "deleteAporteEventual($event)"
                          (cambioDePagina)   = "cambioDePagina($event)"
                      >
    </app-table-paginator>
  </div>
</div>

<div class="col-12 mb-2 py-2 card">    
  <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoXLSX()">      
  </app-imprimir-pdf>
</div>