<div class="col-12 card my-1 p-2">
  <h1 class="m-0 p-0"><b> {{titulo}} </b></h1>
</div>

<div class="col-12 card my-1 p-2">
  <form [formGroup]="formularioTanqueAgua">
    <div class="row d-flex justify-content-between mb-2">
      <h2 class="my-0 py-0">BUSQUEDA EN RANGO DE FECHA</h2>
    </div>

    <div class="row  mb-2">
      <div class="col-12 col-lg-5">
        <span class="my-5">Seleccione el tanque de agua</span>
        <select class="form-select"
                formControlName="tanqueAgua"
                (change)="getReporteEnRangoFecha()"
                [ngClass]="{'is-invalid': campoInvalido('tanqueAgua'), 'is-valid': campoValido('tanqueAgua')}">
          <option [value]="0" [disabled]="true">Seleccione un tanque de agua...</option>
          <option [value]="tanqueAgua.idTanqueAgua" *ngFor="let tanqueAgua of listaTanquesDeAgua">
            {{tanqueAgua.nombre}}
          </option>
        </select>
      </div>

      <div class="col-12 col-lg-7">
        <app-rango-fecha  #rangoFechaComponent
                          (cambioFechaEvent)="getReporteIngresoDeAguaATanqueEnRangoFecha($event)">          
        </app-rango-fecha>
      </div>
    </div>
  </form>
</div>

<div class="col-12 card my-1 p-2">
  <h3><b>RESULTADO POR MES</b></h3>

  <div class="table-responsive"> 
    <table  class="table table-hover table-sm"
            id=idTableReporteIngresoAguaMensual>
      <thead style="background-color: #154360;">
        <tr>
          <th scope="col" 
              class="align-middle fw-normal p-2 text-white text-start"
              *ngFor="let itemTitle of tituloItemsMes" >
            {{ itemTitle }}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr class="pointer"
            *ngFor="let item of reporteMensualList; index as i"
            (click)="seleccionarItemMes(item)"
            [ngStyle]="{'background-color': (item.seleccionado)?'#A9CCE3':'#FFFFFF'}">
  
            <td class="align-middle text-center" 
                scope="row">{{i+1}}
            </td>

            <td class="align-middle text-center" 
                *ngFor="let campo of campoItemsMes"
                [ngStyle]="{'border-right':'1px solid #EAECEE'}">
              {{ item[campo] }}
            </td>
        </tr>

        <tr class="text-center fw-bold"
            [ngStyle]="{'background-color': '#EBEDEF'}"
            *ngIf="reporteMensual!=aux">
          <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}">
              {{ reporteMensual?.countRows+1 }}
          </td>  
          <td [attr.colspan]="1"
              [ngStyle]="{'border-right':'1px solid #ABB2B9'}">
              Suma total
          </td>            
          <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}">
            {{ reporteMensual?.totalVolumenM3 }}
          </td>
          <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}">
            {{ reporteMensual?.totalVolumenLts }}
          </td>
          <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}">
              {{ reporteMensual?.sumaCostoTotal }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="col-12 mb-2 py-2 card">    
  <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoXLSX('idTableReporteIngresoAguaMensual')">      
  </app-imprimir-pdf>
</div>

<div class="col-12 card my-1 p-2">
  <h3><b>RESULTADO DETALLADO DEL REPORTE</b></h3>

  <div class="table-responsive"> 
    <table  class="table table-hover table-sm"
            id=idTableReporteIngresoAgua>
      <thead style="background-color: #154360;">
        <tr>
          <th scope="col" 
              class="align-middle fw-normal p-2 text-white text-start"
              *ngFor="let itemTitle of tituloItems" >
            {{ itemTitle }}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr class="pointer"
            *ngFor="let item of listaIngresoAgua; index as i"
            (click)="seleccionarItem(item)"
            [ngStyle]="{'background-color': (item.seleccionado)?'#A9CCE3':'#FFFFFF'}">
  
            <td class="align-middle text-center" 
                scope="row">{{i+1}}
            </td>

            <td class="align-middle text-center" 
                *ngFor="let campo of campoItems"
                [ngStyle]="{'border-right':'1px solid #EAECEE'}">
              {{ item[campo] }}
            </td>
        </tr>

        <tr class="text-center fw-bold"
            [ngStyle]="{'background-color': '#EBEDEF'}"
            *ngIf="reporteIngresoTanqueAgua!=aux">

          <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}">
              {{ reporteIngresoTanqueAgua?.countRows+1 }}
          </td>  
          <td [attr.colspan]="3"
              [ngStyle]="{'border-right':'1px solid #ABB2B9'}">
              Suma total
          </td>            
          <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}">
            {{ reporteIngresoTanqueAgua?.totalVolumenM3 }}
          </td>
          <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}">
            {{ reporteIngresoTanqueAgua?.totalVolumenLts }}
          </td>
          <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}">
              {{ reporteIngresoTanqueAgua?.sumaCostoTotal }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="col-12 mb-2 py-2 card">    
  <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoXLSX('idTableReporteIngresoAgua')">      
  </app-imprimir-pdf>
</div>

