<div class="col-12 mb-2 p-2 card">
  <h1 class="m-0 py-2"><b>COBRO DE APORTE EVENTUAL</b></h1>
</div>

<div class="col-12 px-2 mb-2 card">
  <div class="row mb-2">
    <h2 class="m-0 pt-2">BUSCAR APORTES EVENTUALES</h2>
  </div>

  <div class="row py-2 buscador">
    <app-buscador #buscardorComponent
            [titulo]                 = "'Buscar aportes eventuales por nombre'"
            [type]                   = "'text'"
            [placeholder]            = "'Ingrese el nombre del aporte eventual'"
            [idCampo]                = "'idAporteEventual'"
            [campo]                  = "'nombre'"
            [listaResultadoBusqueda] = "listaAportesEventualesBusqueda"
            (buscarTextoEvent)       = "buscarAporteEventualService($event)"
            (itemSeleccionadoEvent)  = "seleccionarEventoBusqueda($event)">            
    </app-buscador>
  </div>
</div>

<div class="col-12 mb-2 card">
  <div class="row m-0 p-0">
    <h2 class="my-0 mt-2">LISTA DE SOCIOS</h2>
  </div>

  <div class="table-responsive m-2">
    <table  class="table table-hover table-sm" 
            id="sociosAporteEventual">
      <thead style="background-color: #154360;">
        <tr>
          <th scope="col" 
              class="align-middle fw-normal p-2 text-white text-center"
              *ngFor="let itemTitle of tituloItems" >
            {{ itemTitle }}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr class="pointer"
            *ngFor="let socioAporte of listaSociosSinCancelarAporte; index as i"
            (click)="seleccionarItem(socioAporte)"
            [ngStyle]="{'background-color': (socioAporte.seleccionado)?'#A9CCE3':'#FFFFFF'}">

          <td [ngStyle]="{'border-right':'1px solid #EAECEE'}"
              class="align-middle text-center" 
              scope="row">{{i+1}}
          </td>

          <td class="align-middle text-center" 
              *ngFor="let campo of campoItems"
              [ngStyle]="{'border-right':'1px solid #EAECEE'}">
            {{ socioAporte[campo] }}
          </td>

          <td class="align-middle text-center" 
              [ngStyle]="{'border-right':'1px solid #EAECEE'}">
            <input  class      = "form-check-input mx-2"  
                    id="check{{socioAporte.idSocioMedidor}}"              
                    type       = "checkbox"             
                    (change)   = "checkSocioAporte(socioAporte,$event)">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="col-12 mb-2 py-2 card">    
  <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoXLSX()">      
  </app-imprimir-pdf>
</div>