<div class="container-fluid m-0 p-0">
  <div class="row mb-2 card">
    <h1 class="m-0 py-2"><b>BUSQUEDA DE LECTURA DE MEDIDOR POR CÓDIGO DE MEDIDOR</b></h1>
  </div>

  <div class="row mb-2 card">
    <div class="col-12 mb-2">
      <div class="row my-2 d-flex justify-content-between">
        <div class="col-12 col-lg-5 mb-2 mb-lg-0">
          <h2 class="m-0 p-0">FILTRO PARA LA BUSQUEDA</h2>
        </div>
        <div class="col-12 col-lg-7">
          <form [formGroup]='formularioBusqueda'>
            <div class="row">
              <div class="col-12 col-md-5 mb-2">
                <label for="gestion">Gestión</label>
                <select class="form-select"
                        [ngClass]="{'is-invalid': campoGestionInvalido('gestion'), 'is-valid': campoGestionValido('gestion') }"
                        formControlName="gestion"
                        (change)="buscarLecturaPorCodigoDeMedidor()">
                  <option [value]="0" [disabled]="true">Seleccione una gestión...</option>
                  <option value={{gestion.idAnio}} *ngFor="let gestion of listaGestiones">{{gestion.anio}}</option>
                </select>
              </div>

              <div class="col-12 col-md-6 mb-2">
                <label for="codigoMedidor">Código de medidor</label>
                <input  autocomplete="off"
                        type="text" 
                        id="codigoMedidor"
                        class="form-control" 
                        placeholder="Ingrese el código del medidor..."
                        formControlName="codigoMedidor"
                        (keyup.enter)="buscarLecturaPorCodigoDeMedidor()"
                        (ngModelChange)="buscarLecturaPorCodigoDeMedidor()"
                        [ngClass]="{'is-invalid': campoInvalido('codigoMedidor'), 'is-valid': campoValido('codigoMedidor') }">
              </div>

              <div class="col-12 col-md-1 mb-2 d-flex flex-column justify-content-end">
                <button class="btn btn-outline-primary mb-0  d-flex justify-content-center"
                        type="button"
                        (click)="buscarLecturaPorCodigoDeMedidor()">
                  <span class="material-icons">search</span>
                </button>
              </div>
            </div>  
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2 card">
    <div class="col-12 my-2">
      <h2 class="m-0 p-0">RESULTADOS DE LA BUSQUEDA</h2>
    </div>

    <div class="col-12 mb-2">
      <h3 class="m-0 p-0 my-2">DATOS DE SOCIO & MEDIDOR</h3>
      <app-tabla  [tituloItems] = "tituloItemsSocioMedidor"
                  [campoItems]  = "campoItemsSocioMedidor"
                  [idItem]      = "idItemSocioMedidor"
                  [listaItems]  = "listaItemsSocioMedidor">
      </app-tabla>
    </div>

    <div class="col-12 mb-2">
      <h3 class="m-0 p-0 my-2">REGISTRO DE LA LECTURA DEL MEDIDOR</h3>

      <div class="col-12 mb-2">
        <div class=" table-responsive">
          <table class="table" id="tableBusquedaLecturaSocioPorCodigoMedidor">
            <thead style="background-color: #154360;">
              <tr>
                <th scope="col"
                    class="align-middle fw-normal p-2 text-white"
                    *ngFor="let titulo of tituloItemsLecturaMedidor">
                  {{titulo}}
                </th>
              </tr>
            </thead>
  
            <tbody>
              <tr class="pointer"
                  *ngFor="let lecturaPeriodo of listaItemsLecturaMedidor; index as i">          
  
                  <ng-container *ngIf="lecturaPeriodo.index==0">
                    <td class="align-middle text-center"
                        scope="row"
                        (click)="seleccionarItem(lecturaPeriodo)"
                        [attr.rowspan]="lecturaPeriodo.countItems"
                        [ngStyle]="{'background-color': (lecturaPeriodo.seleccionado)?'#85C1E9':'#FFFFFF',
                                    'border-right':'1px solid #EAECEE'}"
                        >                      
                        {{i+1}}
                    </td>
  
                    <td class="align-middle text-center"
                        scope="row"
                        (click)="seleccionarItem(lecturaPeriodo)"
                        [attr.rowspan]="lecturaPeriodo.countItems"
                        [ngStyle]="{'background-color': (lecturaPeriodo.seleccionado)?'#85C1E9':'#FFFFFF',
                                    'border-right':'1px solid #EAECEE'}"
                        >                      
                        {{lecturaPeriodo.codigoSocio}}
                    </td>
  
                    <td class="align-middle text-center"
                        scope="row"
                        (click)="seleccionarItem(lecturaPeriodo)"
                        [attr.rowspan]="lecturaPeriodo.countItems"
                        [ngStyle]="{'background-color': (lecturaPeriodo.seleccionado)?'#85C1E9':'#FFFFFF',
                                    'border-right':'1px solid #EAECEE'}"
                        >                      
                        {{lecturaPeriodo.nombreCompletoSocio}}
                    </td>

                    <td class="align-middle text-center"
                        scope="row"
                        (click)="seleccionarItem(lecturaPeriodo)"
                        [attr.rowspan]="lecturaPeriodo.countItems"
                        [ngStyle]="{'background-color': (lecturaPeriodo.seleccionado)?'#85C1E9':'#FFFFFF',
                                    'border-right':'1px solid #EAECEE'}"
                        >                      
                        {{lecturaPeriodo.countItems}}
                    </td>
                  </ng-container>
  
                
  
                  <td *ngFor="let campoLectura of campoItemsLecturaMedidor"
                      class="align-middle text-center"
                      scope="row"
                      (click)="seleccionarItem(lecturaPeriodo)"     
                      [ngStyle]="{'background-color': (lecturaPeriodo.seleccionado)?'#A9CCE3':'#FFFFFF',
                                  'color':(campoLectura=='consumoMinimo')? (lecturaPeriodo['campoLectura']=='SI')?'red':'green':'black',
                                  'border-right':'1px solid #EAECEE'}">
                    {{ lecturaPeriodo[campoLectura] }}
                  </td>
              </tr>
              
              <tr class="text-center fw-bold"
                  *ngIf="reporteMedidorDataVO!=aux"
                  [ngStyle]="{'background-color': '#EBEDEF'}">
                <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}">
                    {{reporteMedidorDataVO?.countRows+1}}
                </td>              

                <td [attr.colspan]="12"
                    [ngStyle]="{'border-right':'1px solid #ABB2B9'}">
                    Suma total
                </td>

                <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}">
                  {{reporteMedidorDataVO?.sumaTotalM3}}
                </td>

                <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}">
                  {{reporteMedidorDataVO?.sumaTotalCostoPeriodo}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2 py-2 card">    
    <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoXLSX()">      
    </app-imprimir-pdf>
  </div>
</div>  