  <div class="col-12 mb-2 card">
    <h1 class="m-0 p-2"><b>LISTA DE MEDIDORES</b></h1>
  </div>  

  <div class="col-12 card">
    <form [formGroup]='formularioEstadoMedidor'>
      <div class="row mx-0 my-1">
        <div class="col-12 col-lg-4 mb-2 mb-lg-0">
          <h2 class="m-0 p-0">FILTRAR MEDIDORES</h2>
        </div>

        <div class="col-12 col-lg-4 mb-2 mb-lg-0">
          <label for="estado">Estado del medidor</label>
          <select name="estado" 
                  id="estado" 
                  class="form-select"
                  formControlName="estado"
                  (change)="changeFiltroMedidor()">
            <option value="none" [disabled]="true">Seleccione el estado del medidor...</option>
            <option value="1">Medidores activos</option>
            <option value="0">Medidores dados de baja</option>
          </select>
        </div>

        <div class="col-12 col-lg-4 mb-2 mb-lg-0">
          <label for="disponible">Disponibilidad del medidor</label>
          <select name="disponible" 
                  id="disponible" 
                  class="form-select"
                  formControlName="disponible"
                  (change)="changeFiltroMedidor()">
            <option value="none" [disabled]="true">Seleccione la disponibilidad del medidor...</option>
            <option value="1">Medidores disponibles</option>
            <option value="0">Medidores asignados a socio / en uso</option>
          </select>
        </div>
      </div>
    </form>

    <div class="row mx-0 my-1">
      <app-table-paginator  #tablaListaDeMedidores
                            [tituloItems]      = tituloItems
                            [campoItems]       = campoItems
                            [idItem]           = idItem
                            [listaItems]       = listaMedidores
                            [countItems]       = "countItems?.countItem"
                            [idTable]          = "'tablaListaDeMedidores'"
                            (cambioDePagina)   = "cambioDePagina($event)">
      </app-table-paginator>
    </div>
  </div>

  <div class="col-12 mb-2 py-2 my-2 card">    
    <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoXLSX()">      
    </app-imprimir-pdf>
  </div>


