<div class="container-fluid m-0 p-0">
  <div class="row mb-2 card">
    <h1 class="m-0 py-2"><b>BUSQUEDA DE LECTURA DE MEDIDOR POR RANGO MES, CONSUMO MÍNIMO</b></h1>
  </div>

  <div class="row mb-2 card">
    <div class="col-12 mb-2">
      <div class="row my-2 d-flex justify-content-between">
        <div class="col-12 col-xl-5 mb-2 mb-xl-0">
          <h2 class="m-0 p-0">FILTRO PARA LA BUSQUEDA</h2>
        </div>
        <div class="col-12 col-xl-7">
          <form [formGroup]='formularioBusqueda'>
            <div class="row justify-content-end">
              <div class="col-12 col-md-3 mb-2">
                <label for="gestion">Gestión</label>
                <select class="form-select"
                        [ngClass]="{'is-invalid': campoRangoMesInvalido('gestion'), 'is-valid': campoRangoMesValido('gestion') }"
                        formControlName="gestion"
                        (change)="buscarLecturaPorRangoMes()">
                  <option [value]="0" [disabled]="true">Gestion...</option>
                  <option value={{gestion.idAnio}} *ngFor="let gestion of listaGestiones">
                    {{gestion.anio}}
                  </option>
                </select>
              </div>

              <div class="col-12 col-md-4 mb-2">
                <label for="mesInicio">Mes Inicio</label>
                <select class="form-select"
                        [ngClass]="{'is-invalid': campoRangoMesInvalido('mesInicio'), 'is-valid': campoRangoMesValido('mesInicio') }"
                        formControlName="mesInicio"
                        (change)="buscarLecturaPorRangoMes()">
                  <option [value]="0" [disabled]="true">Mes inicio..</option>
                  <option value={{mes.idMes}} *ngFor="let mes of listaMes">
                    {{mes.nombre}}
                  </option>
                </select>
              </div>

              <div class="col-12 col-md-4 mb-2">
                <label for="mesInicio">Mes Fin</label>
                <select class="form-select"
                        [ngClass]="{'is-invalid': campoRangoMesInvalido('mesFin'), 'is-valid': campoRangoMesValido('mesFin') }"
                        formControlName="mesFin"
                        (change)="buscarLecturaPorRangoMes()">
                  <option [value]="0" [disabled]="true">Mes fin...</option>
                  <option value={{mes.idMes}} *ngFor="let mes of listaMes">{{mes.nombre}}</option>
                </select>
              </div>

              <div class="col-12 col-md-1 mb-2 d-flex flex-column justify-content-end">
                <button class="btn btn-outline-primary mb-0  d-flex justify-content-center"
                        type="button"
                        (click)="buscarLecturaPorRangoMes()">
                  <span class="material-icons">
                    search
                  </span>
                </button>
              </div>
            </div>  
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2 card">
    <div class="col-12 m-2">
      <h2 class="m-0 p-0">RESULTADOS DE LA BUSQUEDA</h2>
    </div>

    <div class="col-12 mb-2">
      <div class=" table-responsive">
        <table class="table" id="tableBusquedaPorRangoMesMinimo">
          <thead style="background-color: #154360;">
            <tr>
              <th scope="col"
                  class="align-middle fw-normal p-2 text-white"
                  *ngFor="let titulo of listaTituloLecturaMedidorSocioDataTratadoVO">
                {{titulo}}
              </th>
            </tr>
          </thead>

          <tbody>
            <tr class="pointer"
                (click)="seleccionarItem(item)"     
                *ngFor="let item of listaItemsLecturaMedidorSocioDataTratadoVO; index as i">          

                <ng-container *ngIf="item.indexItemSocio==0">
                  <td class="align-middle text-center"
                      scope="row"
                      [attr.rowspan]="(item.countItemsSocio==0)?1:item.countItemsSocio"
                      [ngStyle]="{'background-color': (item.seleccionado)?'#85C1E9': '#FFFFFF',
                                  'border-right':'1px solid #EAECEE'}">                      
                      {{item.numberSocio}}
                  </td>

                  <td class="align-middle text-center"
                      scope="row"
                      [attr.rowspan]="(item.countItemsSocio==0)?1:item.countItemsSocio"
                      [ngStyle]="{'background-color': (item.seleccionado)?'#85C1E9': '#FFFFFF',
                                  'border-right':'1px solid #EAECEE'}">                      
                      {{item.codigoSocio}}
                  </td>

                  <td class="align-middle text-center"
                      scope="row"
                      [attr.rowspan]="(item.countItemsSocio==0)?1:item.countItemsSocio"
                      [ngStyle]="{'background-color': (item.seleccionado)?'#85C1E9': '#FFFFFF',
                                  'border-right':'1px solid #EAECEE'}">                      
                      {{item.nombreCompletoSocio}}
                  </td>

                  <td class="align-middle text-center"
                      scope="row"
                      [attr.rowspan]="(item.countItemsSocio==0)?1:item.countItemsSocio"
                      [ngStyle]="{'background-color': (item.seleccionado)?'#85C1E9': '#FFFFFF',
                                  'border-right':'1px solid #EAECEE'}">                      
                      {{item.countItemsMedidoresDeSocio}}
                  </td>
                </ng-container>

                <ng-container *ngIf="item.indexItemMedidor==0">
                  <td *ngFor="let campoItem of listaSubCamposMedidor"
                      class="align-middle text-center"
                      scope="row"
                      [attr.rowspan]="(item.countItemsLecturaPeriodo==0)?1:item.countItemsLecturaPeriodo"
                      [ngStyle]="{'background-color': (item.seleccionado)?'#85C1E9': '#FFFFFF',
                                  'border-right':'1px solid #EAECEE'}"
                      >                      
                      {{item[campoItem]}}
                  </td>
                </ng-container>

                <td *ngFor="let campoSubItem of listaSubCamposLecturaMedidor"
                    class="align-middle text-center"
                    scope="row"
                    [ngStyle]="{'background-color': (item.seleccionado)?'#85C1E9': (campoSubItem=='consumoVolumenM3LecturaMedidor' || campoSubItem=='volumenMinimoM3LecturaMedidor')?'#FEF5E7':'#FFFFFF',
                                'color':(campoSubItem=='consumoVolumenM3LecturaMedidor' || campoSubItem=='volumenMinimoM3LecturaMedidor')?'#28B463':'black'}">
                  {{item[campoSubItem]}}
                </td>
            </tr>

            <tr class="text-center fw-bold"
                *ngIf="reporteSocioDataVO!=aux"
                [ngStyle]="{'background-color': '#EBEDEF'}">
              <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}">
                  {{reporteSocioDataVO?.countRows+1}}
              </td>              

              <td [attr.colspan]="19"
                  [ngStyle]="{'border-right':'1px solid #ABB2B9'}">
                  Suma total
              </td>

              <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}">
                {{reporteSocioDataVO?.sumaTotalM3}}
              </td>

              <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}">
                {{reporteSocioDataVO?.sumaTotalCostoPeriodo}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row mb-2 py-2 card">    
    <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoXLSX()">      
    </app-imprimir-pdf>
  </div>
</div>  