<div class="container-fluid row m-0 p-0">
  <div class="col-12 px-2 mb-2 card">
    <h1 class="m-0 py-2"><b>EVENTOS</b></h1>
  </div>
  
  <div class="mb-2 pb-2 card">
    <div class="col-12 py-2">
      <h2 class="m-0 p-0">CONFIGURACIÓN DEL EVENTO</h2>
    </div>

    <form [formGroup]='formularioEvento'>
      <div class="row ">      
        <div class="col-12 col-lg-6 mb-2 d-flex flex-column">
          <label for="mesaDirectiva" class="pb-1">Mesa directiva</label>
          <select type="text" 
                  autocomplete="off" 
                  class="form-select"
                  formControlName="mesaDirectiva"
                  [ngClass]="{'is-invalid': campoEventoSelectInvalido('mesaDirectiva'), 'is-valid': campoEventoSelectValido('mesaDirectiva') }">
            <option [value]="0" [disabled]="true">Seleccione la mesa directiva...</option>
            <option [value]="mesaDirectiva.id" *ngFor="let mesaDirectiva of listaMesaDirectiva"> {{mesaDirectiva.nombre}} </option>
          </select>
        </div>
        
        <div class="col-12 col-lg-6 mb-2 d-flex flex-column">
          <label for="tipoEvento" class="pb-1">Tipo de evento</label>
          <select  type="text" 
                  autocomplete="off" 
                  class="form-select"
                  formControlName="tipoEvento"
                  [ngClass]="{'is-invalid': campoEventoSelectInvalido('tipoEvento'), 'is-valid': campoEventoSelectValido('tipoEvento') }">
            <option [value]="0" [disabled]="true">Seleccione el tipo de evento...</option>
            <option [value]="tipoEvento.idTipoEvento" *ngFor="let tipoEvento of listaTipoEvento"> {{tipoEvento.nombre}} </option>
          </select>
        </div>
        
        <div class="col-12 col-lg-2  mb-2 d-flex flex-column">
          <label for="fechaRegistro" class="pb-1">Fecha registro</label>
          <input  type="date" 
                  class="form-control"
                  formControlName="fechaRegistro"
                  [ngClass]="{'is-invalid': campoEventoInvalido('fechaRegistro'), 'is-valid': campoEventoValido('fechaRegistro') }">
        </div>

        <div class="col-12 col-lg-2  mb-2 d-flex flex-column">
          <label for="fechaRealizacion" class="pb-1">Fecha realización</label>
          <input  type="date" 
                  class="form-control"
                  formControlName="fechaRealizacion"
                  [ngClass]="{'is-invalid': campoEventoInvalido('fechaRealizacion'), 'is-valid': campoEventoValido('fechaRealizacion') }">
        </div>
      
     
        <div class="col-12 col-lg-4  mb-2 d-flex flex-column">
          <label for="nombre" class="pb-1">Nombre de evento</label>
          <input  type="text" 
                  autocomplete="off"
                  class="form-control"
                  placeholder="Nombre del evento..."
                  formControlName="nombre"
                  [ngClass]="{'is-invalid': campoEventoInvalido('nombre'), 'is-valid': campoEventoValido('nombre') }">
        </div>

        <div class="col-12 col-lg-4 mb-2 d-flex flex-column">
          <label for="ubicacion" class="pb-1">Ubicación del evento</label>
          <input  type="text" 
                  autocomplete="off"
                  class="form-control"
                  placeholder="Ubicación del evento..."
                  formControlName="ubicacion"
                  [ngClass]="{'is-invalid': campoEventoInvalido('ubicacion'), 'is-valid': campoEventoValido('ubicacion') }">
        </div>

        <div class="col-12 col-lg-2 mb-2 d-flex flex-column">
          <label for="multaRetrazo" class="pb-1">Multa por retrazo previo</label>
          <input  type="number" 
                  autocomplete="off"
                  class="form-control"
                  placeholder="Multa por retrazo.."
                  formControlName="multaRetrazo"
                  [ngClass]="{'is-invalid': campoEventoInvalido('multaRetrazo'), 'is-valid': campoEventoValido('multaRetrazo') }">
        </div>

        <div class="col-12 col-lg-2 mb-2 d-flex flex-column">
          <label for="multaRetrasoFinal" class="pb-1">Multa por retrazo final</label>
          <input  type="number" 
                  autocomplete="off"
                  class="form-control"
                  placeholder="Multa por retrazo.."
                  formControlName="multaRetrasoFinal" 
                  [ngClass]="{'is-invalid': campoEventoInvalido('multaRetrasoFinal'), 'is-valid': campoEventoValido('multaRetrasoFinal') }">
        </div>

        <div class="col-12 col-lg-2 mb-2 d-flex flex-column">
          <label for="multaFalta" class="pb-1">Multa por falta</label>
          <input  type="number" 
                  autocomplete="off"
                  class="form-control"
                  placeholder="Multa por falta..."
                  formControlName="multaFalta"
                  [ngClass]="{'is-invalid': campoEventoInvalido('multaFalta'), 'is-valid': campoEventoValido('multaFalta') }">
        </div>

        <div class="col-12 col-lg-2 mb-2 d-flex flex-column">
          <label for="horaReunion" class="pb-1">Hora de ingreso</label>
          <input  type="time" 
                  class="form-control"
                  formControlName="horaReunion"
                  [ngClass]="{'is-invalid': campoEventoInvalido('horaReunion'), 'is-valid': campoEventoValido('horaReunion') }">
        </div>

        <div class="col-12 col-lg-2 mb-2 d-flex flex-column">
          <label for="horaRetrazo" class="pb-1">Hora de retrazo</label>
          <input  type="time" 
                  class="form-control"
                  formControlName="horaRetrazo"
                  [ngClass]="{'is-invalid': campoEventoInvalido('horaRetrazo'), 'is-valid': campoEventoValido('horaRetrazo') }">
        </div>

        <div class="col-12 col-lg-1 mb-2 d-flex flex-column">
          <label for="obligatorio" class="pb-1 text-center">Obligatorio</label>
          <div class="d-flex justify-content-center card py-2">
            <input  type="checkbox" 
                    class="bg-danger m-1"
                    formControlName="obligatorio"
                    [ngClass]="{'is-invalid': campoEventoInvalido('obligatorio'), 'is-valid': campoEventoValido('obligatorio') }">
          </div>          
        </div>

        <div class="col-12 col-lg-1 mb-2 d-flex flex-column">
          <label for="todos" class="pb-1 text-center">Todos los socios</label>
          <div class="d-flex justify-content-center card py-2">
            <input  type="checkbox" 
                    class="bg-danger m-1"
                    formControlName="todos"
                    (change)="changeTodos()"
                    [ngClass]="{'is-invalid': campoEventoInvalido('todos'), 'is-valid': campoEventoValido('todos') }">
          </div>          
        </div>        
      </div>

      <div class="row m-0 p-0 d-flex justify-content-center">
        <div class="d-flex flex-column py-1 col-12 col-md-4 col-lg-3 col-xl-2">                
          <button type="button"
                  class="btn btn-outline-danger"
                  (click)="cancelEvento()">
            <span class="mdi mdi-trash-can"></span>
            Cancelar
          </button>
        </div>

        <div  class="d-flex flex-column py-1 col-12 col-md-4 col-lg-3 col-xl-2"
              *ngIf="eventoEditar==aux">                
          <button type="button" 
                  class="btn btn-outline-primary"
                  (click)="createEvento()">
              <span class="mdi mdi-content-save"></span>
              Guardar
          </button>
        </div>

        <div  class="d-flex flex-column py-1 col-12 col-md-4 col-lg-3 col-xl-2"
            *ngIf="eventoEditar!=aux">                
          <button type="button"
                  class="btn btn-outline-success"
                  (click)="updateEvento()">
              <span class="mdi mdi-content-save"></span>
              Actualizar
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="mb-2 pb-2 card" *ngIf="!banderaTodos">
    <div class="row mt-2">
      <div class="col-12 col-md-6">
        <app-buscar-socio [tituloItems]          = "tituloItems"
                          [campoItems]           = "campoItems"
                          [busquedaSocioMedidor] = "true"
                          (itemSeleccionado)     = "socioSeleccionadoEvent($event)">
        </app-buscar-socio>
      </div>

      <div class="col-12 col-md-6 card">
        <div class="col-12 py-2">
          <h2 class="m-0 p-0">SOCIOS SELECCIONADOS</h2>
        </div>

        <app-tabla  [tituloItems]="tituloSocioSeleccionado"
                    [campoItems]="campoSocioSeleccionado"
                    [idItem]="idSocioSeleccionado"
                    [listaItems]="listaSocioSeleccionado"
                    [eliminar]="true"
                    (eliminarItemSeleccionado)="deleteSocioSeleccionadoEvent($event)">
        </app-tabla>
      </div>
    </div>
  </div>

  <div class="mb-2 pb-2 card" *ngIf="!false">
    <div class="row">
      <div class="col-12 py-2 my-2">
        <div class="row">
          <div class="col-12 col-lg-8">
            <h2 class="m-0 p-0">LISTA DE EVENTOS</h2>
          </div>

          <div class="col-12 col-lg-4">
            <form action="" [formGroup]="formularioEstadoEvento">
              <select class="form-select"
                      (ngModelChange) = "cambioEstadoEvento()"
                      formControlName = "estadoEvento">
                <option [value]="0" [disabled]="true">Seleccione el estado de un evento...</option>
                <option [value]="estadoEvento" *ngFor="let estadoEvento of getEstadoEvento()"> 
                  {{estadoEvento|uppercase}} 
                </option>
              </select>
            </form>
          </div>
        </div>
      </div>
      
      <div class="col-12">
        <app-table-paginator  #tablaEvento
                              [tituloItems]            = "listatituloEvento"
                              [campoItems]             = "listaCampoEvento"
                              [idItem]                 = "idItemEvento"
                              [listaItems]             = "listaEventos"
                              [countItems]             = "countItemsEventos"
                              [idTable]                = "'tableBusquedaUsuarios'" 
                              [update]                 = "estadoEvento=='PENDIENTE' || estadoEvento=='REALIZANDO'"
                              (itemSeleccionado)       = "selectEventoEvent($event)"
                              (updateItem)             = "editarEventoEvent($event)"     
                              (cambioDePagina)         = "cambioDePaginaEventos($event)">
        </app-table-paginator>
      </div>
    </div>
  </div>

  <div class="mb-2 pb-2 card" *ngIf="!false">
    <div class="row">
      <div class="col-12 col-lg-8 py-2">
        <h2 class="m-0 p-0">LISTA DE SOCIOS DEL EVENTO</h2>
      </div>

      <div class="col-12 col-lg-4 py-2">
        <form [formGroup]="formularioSociosEvento">
          <select class="form-select" 
                  formControlName="estadoSeguimientoSocioEvento" 
                  (change)="cambioEstadoSeguimientoEvento()">
            <option [value]="0" [disabled]="true">Selecione estado del socio....</option>
            <option [value]="estadoSocio" *ngFor="let estadoSocio of listaEstadoSocio"> {{estadoSocio}} </option>
          </select>
        </form>
      </div>
    </div>
      
    <div class="col-12">
      <app-tabla  #tablaSocio
                  [tituloItems]               = "listaTituloSocioEvento"
                  [campoItems]                = "listaCampoSocioEvento"
                  [idItem]                    = "idSocioEvento"
                  [listaItems]                = "listaSocioSeguimientoEvento"
                  [idTable]                   = "'tablaSociosEvento'"
                  [habilitar]                 = "formularioSociosEvento.get('estadoSeguimientoSocioEvento')?.value=='CANCELADO' && eventoSeleccionado?.estadoEvento!='CANCELADO'"
                  (habilitarItemSeleccionado) = "darDeAltaASocioDeEvento($event)">
      </app-tabla>
    </div>
  </div>

  <div class="col-12 mb-2 py-2 card">    
    <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoXLSX()">      
    </app-imprimir-pdf>
  </div>
</div>
