<div class="container-fluid m-0 p-0">
  <div class="row mb-2 card">
    <h1 class="m-0 py-2"><b>COBRO EXTRA POR PERIODO</b></h1>
  </div>

  <div class="row mb-2 card">  
    <div class="col-12 my-2">
      <h2 class="m-0 p-0">ESTABLECER COBRO EXTRA POR PERIODO</h2>
    </div>

    <div class="row mb-2 d-flex justify-content-between">
      <div class="col-12 col-lg-8">
        <form [formGroup]="formularioSeleccionPeriodoCobroExtra">
          <div class="row">
            <div class="col-12 col-md-3">
              <label for="">Gestión</label>
              <select class="form-select"
                        formControlName="gestion"
                        (change)="changeGestionCobroExtra()"
                        [ngClass]="{'is-invalid': campoInvalidoSeleccionPeriodoCobroExtra('gestion'), 'is-valid': campoValidoSeleccionPeriodoCobroExtra('gestion') }">
                  <option [value]="0" [disabled]="true">Seleccione el año...</option>
                  <option [value]="gestion.idAnio" *ngFor="let gestion of listaGestiones">{{gestion.anio}}</option>
              </select>
            </div>
          
            <div class="col-12 col-md-9">
              <label for="">Tipo de cobro extra</label>
              <select   class="form-select"
                        formControlName="cobroExtra"
                        (change)="changeGestionCobroExtra()"
                        [ngClass]="{'is-invalid': campoInvalidoSeleccionPeriodoCobroExtra('cobroExtra'), 'is-valid': campoValidoSeleccionPeriodoCobroExtra('cobroExtra') }">
                  <option [value]="0" [disabled]="true">Seleccione el tipo de cobro...</option>
                  <option [value]="cobroExtra.idCobroExtra" *ngFor="let cobroExtra of listaCobroExtra"> {{cobroExtra.nombre}} - {{cobroExtra.detalle}} </option>
                </select>
            </div>
          </div>
        </form>
      </div>

      <div class="col-12 col-lg-4">
        <form [formGroup]="formularioEstablecerPeriodoCobroExtra">
          <div class="row">
            <div class="col-12 col-md-6">
              <label for="">Costo del cobro extra</label>
              <input  type="number" 
                      autocomplete="off"
                      class="form-control"
                      placeholder="Costo..."
                      formControlName="costo"
                      [ngClass]="{'is-invalid': campoInvalidoEstablecerPeriodoCobroExtra('costo'), 'is-valid': campoValidoEstablecerPeriodoCobroExtra('costo') }">
            </div>

            <div class="col-12 col-md-4 mb-2 mb-lg-0">
              <div class="col-12">
                <label for="">Todos los socios</label>
              </div>

              <div class="col-12 card form-check form-switch d-flex align-items-center">
                <input  class="form-check-input check my-2" 
                        type="checkbox"
                        formControlName="todos"
                        [ngClass]="{'is-invalid': campoInvalidoEstablecerPeriodoCobroExtra('todos'), 'is-valid': campoValidoEstablecerPeriodoCobroExtra('todos') }">
              </div>
            </div>

            <div class="col-12 col-md-2 d-flex flex-column justify-content-end ">
              <button class="btn btn-outline-primary mb-1  d-flex justify-content-center"
                      type="button"
                      (click)="guardarPeriodoCobroExtra()">
                <span class="material-icons">save</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <app-tabla  #tablaPeriodoCobroExtra
                  [tituloItems]              = "listaTituloPeriodoCobroExtra"
                  [campoItems]               = "listaCampoPeriodoCobroExtra"
                  [idItem]                   = "idPeriodoCobroExtra"
                  [listaItems]               = "listaPeriodoCobroExtra"
                  [checkItems]               = "true"
                  [labelCheck]               = "'Seleccionar'"
                  [disableCheck]             = "false"
                  [eliminar]                 = "true"
                  [idTable]                  = "'tablaPeriodoCobroExtra'"
                  [reload]                   = "true"
                  (eliminarItemSeleccionado) = "deleteCobroExtra($event)"
                  (reloadItem)               = "reloadPedriodoCobroExtraTodos($event)">
      </app-tabla>
    </div>
  </div>

  <div class="row mb-2 py-2 my-2 card">    
    <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoXLSX()">      
    </app-imprimir-pdf>
  </div>
</div>

