<div class="container-fluid m-0 p-0">
  <div class="row mb-2 card">
    <h1 class="m-0 py-2"><b>CONFIGURACIÓN DE GESTIÓN</b></h1>
  </div>

  <div class="row mb-2 card">
    <div class="col-12 mb-2">
      <div class="row my-2 d-flex justify-content-between">
        <div class="col-12 col-md-6 col-lg-7 col-xl-8">
          <h2 class="m-0 p-0">LISTA GESTIONES DISPONIBLES</h2>
        </div>
        <div class="col-12 col-md-6  col-lg-5 col-xl-4">
          <form [formGroup]='formularioGestion'>
            <div class="row">
              <div class="col-12 col-md-8 mb-2">
                <label for="gestion">Gestión</label>
                <input  type="number" 
                        class="form-control" 
                        autocomplete="off"
                        id="gestion"                      
                        placeholder="Ingrese la gestión..."
                        formControlName="gestion"
                        [ngClass]="{'is-invalid': formularioAnioInvalido('gestion'), 'is-valid': formularioAnioValido('gestion') }">
              </div>

              <div class="col-12 col-md-2 mb-2 d-flex flex-column justify-content-end" *ngIf="gestionSeleccionado==undefined">
                <button class="btn btn-outline-primary mb-0  d-flex justify-content-center"
                        type="button"
                        (click)="createGestion()">
                  <span class="material-icons">save</span>
                </button>
              </div>

              <div class="col-12 col-md-2 mb-2 d-flex flex-column justify-content-end" *ngIf="gestionSeleccionado!=undefined">
                <button class="btn btn-outline-success mb-0  d-flex justify-content-center"
                        type="button"
                        (click)="updateGestion()">
                  <span class="material-icons">mode_edit</span>
                </button>
              </div>


              <div class="col-12 col-md-2 mb-2 d-flex flex-column justify-content-end">
                <button class="btn btn-outline-danger mb-0  d-flex justify-content-center"
                        type="button"
                        (click)="cancelGestion()">
                  <span class="material-icons">close</span>
                </button>
              </div>
            </div>  
          </form>
        </div>
      </div>
    </div>

    <div class="col-12 mb-2">
      <app-tabla  [tituloItems]              = "tituloItemsGestion"
                  [campoItems]               = "campoItemsGestion"
                  [idItem]                   = "idItemGestion"
                  [listaItems]               = "listaItemsGestion"
                  [editar]                   = true
                  [eliminar]                 = isPresidente()||isAdmin()
                  (editarItemSeleccionado)   = "updateGestionEvent($event)"
                  (eliminarItemSeleccionado) = "deleteGestion($event)">
      </app-tabla>
    </div>
  </div>

  <div class="row mb-2 card">
    <div class="col-12 my-2">
      <h2 class="m-0 p-0">LISTA DE PERIODOS POR GESTIÓN</h2>
    </div>

    <div class="col-12">
      <div class="row">
        <div class="col-12 col-md-6">
          <app-tabla  [tituloItems]      = "tituloItemsPeriodoAnio"
                      [campoItems]       = "campoItemsPeriodoAnio"
                      [idItem]           = "idItemPeriodoAnio"
                      [listaItems]       = "listaItemsGestion"
                      (itemSeleccionado) = "getPeriodosDeAnio($event)">
          </app-tabla>
        </div>

        <div class="col-12 col-md-6">
          <app-tabla  [tituloItems]              = "tituloItemsPeriodoMes"
                      [campoItems]               = "campoItemsPeriodoMes"
                      [idItem]                   = "idItemPeriodoMes"
                      [listaItems]               = "listaItemsPeriodoMes"
                      [habilitar]                = "true"
                      (habilitarItemSeleccionado)= "establecerPeriodoActivo($event)">
          </app-tabla>
        </div>
      </div>
    </div>
  </div>
</div>