<div class="content-navbar">
    <div class="title-navbar" (click)="home()">
        <h4 class="m-0 p-2 pointer">
            <span class="mdi mdi-home"></span>
             ASOCIACIÓN DE AGUA POTABLE “CABAÑA VIOLETA”
        </h4>
    </div>
    
    <div class="iniciar-session">
        <h4  class="m-0 p-2 pointer"
            [routerLink]="'/guest/login'">
            <span class="mdi mdi-account-arrow-right"></span>
            Iniciar Sesión
        </h4>
    </div>
</div>