.content-navbar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0px 1%;
}

.title-navbar{
  display: flex;
  flex-direction: column;
  width: 80%;
}

.iniciar-session{
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 20%;
}



@media (max-width: 800px) {
  .title-navbar{
    display: none;
  }
  
  .iniciar-session{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
