<div class="content-pdf">
  <div class="content-button">
    <button type="button" 
            class="btn btn-sm btn-outline-dark d-flex align-items-center justify-content-center"
            (click)="generarArchivoXSLXEvent()">
      <span class="material-icons m-1">backup_table</span>
            Generar XLSX
    </button>  
  </div>
</div>