.content-pdf{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.content-button{
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media only screen and (min-width: 0px) and (max-width: 500px) {
	.content-button {
    width: 100%;
  }
}

@media only screen and (min-width: 501px) and (max-width: 700px) {
	.content-button {
    width: 70%;
  }
}

@media only screen and (min-width: 701px) and (max-width: 1000px) {
	.content-button {
    width: 37%;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1500px) {
	.content-button {
    width: 27%;
  }
}

@media (min-width: 1501px) {
  .content-button {
    width: 15%;
  }
}
