<div class="m-0 p-0 card">
  <div class="col-12 p-2 mb-2 ">
    <div class="row ">    
      <div class="col-12">
        <div class="row">      
            <div class="col-12 col-md-8">
              <h2>BUSCAR SOCIO</h2>
            </div>

            <div class="col-12 col-md-4"  *ngIf="opcionEstado">
              <select class="form-select" [(ngModel)]="estadoSocio" (ngModelChange)="cambioEstadoSocio()">
                <option [value]="true">Socios estado activo</option>
                <option [value]="false">Socios estado baja</option>
              </select>
            </div>
        </div>
      </div>
    
      <div class="col-12 col-lg-4 d-flex flex-column">
        <app-input-form #InputFormComponentCodigo
                        [title]="'Buscar socio por código'"
                        [type]="'text'"
                        [placeHolder]="'Código...'"
                        (dataOutput)="buscarSocioPorCodigo($event)">
        </app-input-form>
      </div>
      
      <div class="col-12 col-lg-4 d-flex flex-column">  
        <app-input-form #InputFormComponentNombre
                        [title]="'Buscar socio por nombres'"
                        [type]="'text'"
                        [placeHolder]="'Nombres...'"
                        (dataOutput)="buscarSocioPorNombre($event)">
        </app-input-form>
      </div>

      <div class="col-12 col-lg-4 d-flex flex-column">
        <app-input-form #InputFormComponentApellido
                        [title]="'Buscar socio por apellidos'"
                        [type]="'text'"
                        [placeHolder]="'Apellidos...'"
                        (dataOutput)="buscarSocioPorApellido($event)">
        </app-input-form>
      </div>
    </div>
  </div>

  <div class="col-12 p-2">  
    <div *ngIf="busquedaSocioMedidor; else tablaSocios">
      <app-tabla  [tituloItems]      = tituloItems
                  [campoItems]       = campoItems
                  [idItem]           = idItemSocioMedidor
                  [listaItems]       = listaDeSociosMedidor
                  (itemSeleccionado) = "itemSeleccionadoEvent($event)">
      </app-tabla>
    </div>

    <ng-template #tablaSocios>
      <app-tabla  [tituloItems]      = tituloItems
                  [campoItems]       = campoItems
                  [idItem]           = idItemSocio
                  [listaItems]       = listaDeSocios
                  (itemSeleccionado) = "itemSeleccionadoEvent($event)">
      </app-tabla>
    </ng-template>
  </div>
</div>
