<div class="col-12 card mb-2">
  <h1 class="m-0 p-2"><b>REGISTRO DE CANASTÓN</b></h1>
</div>

<div class="col-12 card p-2 mb-2">
  <div class="row">   
    <h2>DATOS DEL CANASTÓN</h2>
  </div>

  <form [formGroup]='formularioCanaston'> 
    <div class="row">   
      <div class="col-12 col-lg-3 d-flex flex-column mb-2 mb-lg-0">
        <label for="gestion">Gestión</label>
        <select class="form-select"
                id="gestion"
                formControlName="gestion"
                [ngClass]="{'is-invalid': campoInvalido('gestion'), 'is-valid': campoValido('gestion')}">
          <option [value]="0" [disabled]="true">Seleccione la gestión...</option>
          <option [value]="anio.idAnio" *ngFor="let anio of listaGestiones">
            {{anio.anio}}
          </option>
        </select>
      </div>

      <div class="col-12 col-lg-3 d-flex flex-column mb-2 mb-lg-0">
        <label for="fechaRegistro">Fecha Registro</label>
        <input  type="date" 
                id="fechaRegistro" 
                class="form-control"
                formControlName="fechaRegistro"
                [ngClass]="{'is-invalid': campoInvalido('fechaRegistro'), 'is-valid': campoValido('fechaRegistro')}">
      </div> 

      <div class="col-12 col-lg-6 d-flex flex-column mb-2 mb-lg-0">
        <label for="nombre">Nombre del canastón</label>
        <input  type="text" 
                id="nombre" 
                class="form-control"
                autocomplete="off"
                placeholder="Nombre del canastón..."
                formControlName="nombre"
                [ngClass]="{'is-invalid': campoInvalido('nombre'), 'is-valid': campoValido('nombre') }">
      </div> 
    </div>

    <div class="row pt-2 d-flex justify-content-center">
      <div class="d-flex flex-column py-1 col-12 col-md-4 col-lg-3 col-xl-2 mb-2 mb-md-0">    
        <button class="btn btn-outline-danger"
                type="button"
                (click)="cancelarRegistroDeCanaston()">
          <span class="mdi mdi-trash-can"></span>
          Cancelar
        </button>
      </div>

      <div  class="d-flex flex-column py-1 col-12 col-md-4 col-lg-3 col-xl-2 mb-2 mb-md-0" 
            *ngIf="canastonUpdate==aux">   
        <button class="btn btn-outline-primary"
                (click)="guardarRegistroDeCanaston()">
          <span class="mdi mdi-content-save"></span>
          Guardar
        </button>
      </div>

      <div  class="d-flex flex-column py-1 col-12 col-md-4 col-lg-3 col-xl-2 mb-2 mb-md-0" 
            *ngIf="canastonUpdate!=aux">   
        <button class="btn btn-outline-success"
                type="button"
                (click)="actualizarRegistroDeCanaston()">
          <span class="mdi mdi-content-save"></span>
          Actualizar
        </button>
      </div>
    </div>
  </form>
</div>

<div class="col-12 card p-2 mb-2">
  <div class="row m-0 p-0 mb-2">   
    <h2>LISTA DE CANASTONES</h2>
  </div>

  <div class="row m-0 p-0">
    <app-tabla  #tablaCanaston
                [tituloItems]              = "tituloItems"
                [campoItems]               = "campoItems"
                [idItem]                   = "idItem"
                [listaItems]               = "listaCanastones"
                [editar]                   = true
                [eliminar]                 = "isPresidente()||isAdmin()"
                [idTable]                  = "'tablaCanaston'"
                (editarItemSeleccionado)   = "actualizarItemEvent($event)"
                (eliminarItemSeleccionado) = "eliminarItemEvent($event)">
    </app-tabla>
  </div>
</div>

<div class="col-12 card p-2 mb-2">    
  <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoXLSX()">      
  </app-imprimir-pdf>
</div>