<div class="col-12 card my-1 p-2">
  <h1 class="m-0 p-0"><b>REPORTE DE TANQUE DE AGUA</b></h1>
</div>

<div class="col-12 card my-1 p-2">
  <form [formGroup]="formularioEstadoTanqueAgua">
    <div class="row d-flex justify-content-between mb-2">
      <div class="col-12 col-md-6 col-lg-8">
        <h2>ESTADO ACTUAL TANQUE AGUA</h2>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <select class="form-select"
                formControlName="tanqueAgua"
                (change)="changeTanqueAgua()">
          <option [value]="0" [disabled]="true">Seleccione un tanque de agua...</option>
          <option [value]="tanqueAgua.idTanqueAgua" *ngFor="let tanqueAgua of listaTanquesDeAgua">
            {{tanqueAgua.nombre}}
          </option>
        </select>
      </div>
    </div>
  </form>

  <hr class="mt-0 mb-2">

  <div class="row">
    <div class="col-12 col-md-6 col-lg-3">
      <p><b>Capacidad Tanque Agua M3 : </b> {{tanqueAguaSeleccionado?.capacidadM3}} </p>
    </div>

    <div class="col-12 col-md-6 col-lg-3">
      <p><b>Capacidad Tanque Agua Lts : </b> {{tanqueAguaSeleccionado?.capacidadLts}}  </p>
    </div>

    <div class="col-12 col-md-6 col-lg-3">
      <p><b>Volumen M3 restante : </b> {{tanqueAguaSeleccionado?.volumemActualM3}} </p>
    </div>

    <div class="col-12 col-md-6 col-lg-3">
      <p><b>Volumen Lts restante : </b>{{tanqueAguaSeleccionado?.volumemActualLts}} </p>  
    </div>
  </div>
</div>