<div class="container-fluid row m-0 p-0">
    <div class="col-12 card mb-2">
        <h1 class="m-0 py-2"><b>REGISTRO DE SOCIOS</b></h1>
    </div>

    <form class="p-0"
          [formGroup]='socioForm'
          (ngSubmit)="createSocio()">
      <div class="col-12 px-2 card py-3">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-9 pb-2">
                <h2>DATOS PERSONALES PARA REGISTRO</h2>
            </div>

            <div class="col-12 col-md-4 col-lg-3 pb-4 d-flex flex-column">
              <label for="fechaCreacion" class="pb-1">Fecha Registro</label>
              <input  type="text" 
                      id="fechaCreacion"
                      autocomplete="off" 
                      class="form-control form-control-sm"
                      formControlName="fechaCreacion"
                      [ngClass]="{'is-invalid': campoInvalido('fechaCreacion'), 'is-valid': campoValido('fechaCreacion') }">
            </div>

            <div class="col-12 col-lg-2 pb-2 d-flex flex-column">
              <label for="codigoSocio" class="pb-1">Código</label>
              <input  type="text" 
                      id="codigoSocio"
                      autocomplete="off" 
                      placeholder="Ingrese un código"
                      class="form-control"
                      formControlName="codigo"
                      [ngClass]="{'is-invalid': campoInvalido('codigo'), 'is-valid': campoValido('codigo') }">

                      <div *ngIf="socioForm.get('codigo')?.status === 'PENDING'"
                           class="my-2 text-primary">
                        Verificando...
                      </div>                        

                      <div *ngIf="socioForm.get('codigo')?.errors && socioForm.get('codigo')?.value != '' && socioForm.get('codigo')?.value != undefined"
                            class="my-2 text-primary">
                        Código no disponible
                      </div>
            </div>

            <div class="col-12 col-lg-4 pb-2 d-flex flex-column">
                <label for="nombreSocio" class="pb-1">Nombres</label>
                <input  type="text" 
                        id="nombreSocio"
                        autocomplete="off" 
                        placeholder="Ingrese un nombre..."
                        class="form-control"
                        formControlName="nombre"
                        [ngClass]="{'is-invalid': campoInvalido('nombre'), 'is-valid': campoValido('nombre') }">
            </div>

            <div class="col-12 col-lg-3 pb-2 d-flex flex-column">
                <label for="apellidoPaterno" class="pb-1">Apellido Paterno</label>
                <input  type="text" 
                        id="apellidoPaterno" 
                        autocomplete="off"
                        placeholder="Ingrese el apellido paterno..."
                        class="form-control"
                        formControlName="apellidoPaterno"
                        [ngClass]="{'is-invalid': campoInvalido('apellidoPaterno'), 'is-valid': campoValido('apellidoPaterno') }">
            </div>

            <div class="col-12 col-lg-3 pb-2 d-flex flex-column">
                <label for="apellidoMaterno" class="pb-1">Apellido Materno</label>
                <input  type="text" 
                        id="apellidoMaterno"
                        autocomplete="off" 
                        placeholder="Ingrese el apellido materno..."
                        class="form-control"
                        formControlName="apellidoMaterno"
                        [ngClass]="{'is-invalid': campoInvalido('apellidoMaterno'), 'is-valid': campoValido('apellidoMaterno') }">
            </div>

            <div class="col-12 col-lg-3 pb-2 d-flex flex-column">
              <div class="row">
                <div class="col-12 col-sm-9 col-md-9 col-lg-6 col-xl-8">
                  <label for="ci" class="pb-1">CI.</label>
                  <input  type="text" 
                          id="ci" 
                          autocomplete="off"
                          placeholder="Ingrese el carnet de identidad..."
                          class="form-control"
                          formControlName="ci"
                          [ngClass]="{'is-invalid': campoInvalido('ci'), 'is-valid': campoValido('ci') }">
                  <div *ngIf="socioForm.get('ci')?.status === 'PENDING'"
                        class="my-2 text-primary">
                     Verificando...
                  </div>                        

                  <div *ngIf="socioForm.get('ci')?.errors && socioForm.get('ci')?.value != '' && socioForm.get('ci')?.value != undefined"
                        class="my-2 text-primary">
                    CI. no disponible
                  </div>
                </div>
                
                <div class="col-12 col-sm-3 col-md-3 col-lg-6 col-xl-4">
                  <label for="extencion" class="pb-1">Extensión</label>
                  <select class="form-select" 
                          aria-label="Default select example"
                          formControlName="extencion"
                          [ngClass]="{'is-invalid': campoInvalido('extencion'), 'is-valid': campoValido('extencion') }">
                    <option value="" disabled selected>Extension...</option>
                    <option value="{{departamento}}" 
                            *ngFor="let departamento of extencionDepartamento">
                      {{departamento}}
                    </option>
                  </select>
                </div>
              </div>              
            </div>

            <div class="col-12 col-lg-4 pb-2 d-flex flex-column">
                <label for="direccion" class="pb-1">Dirección</label>
                <input  type="text" 
                        id="direccion" 
                        autocomplete="off"
                        placeholder="Ingrese la dirección..."
                        class="form-control"
                        formControlName="direccion"
                        [ngClass]="{'is-invalid': campoInvalido('direccion'), 'is-valid': campoValido('direccion') }">
            </div>

            <div class="col-12 col-lg-2 pb-2 d-flex flex-column">
                <label for="nroCasa" class="pb-1">Nro. Casa</label>
                <input  type="text" 
                        id="nroCasa"
                        autocomplete="off"
                        placeholder="Ingrese el nro de casa..."
                        class="form-control"
                        formControlName="nroCasa"
                        [ngClass]="{'is-invalid': campoInvalido('nroCasa'), 'is-valid': campoValido('nroCasa') }">
            </div> 

            <div class="col-12 col-lg-3 pb-2 d-flex flex-column">
              <label for="telefono" class="pb-1">Teléfono</label>
              <input  type="number" 
                      id="telefono" 
                      autocomplete="off"
                      placeholder="Ingrese un nro. telefono..."
                      class="form-control"
                      formControlName="telefono"
                      [ngClass]="{'is-invalid': campoInvalido('telefono'), 'is-valid': campoValido('telefono') }">
            </div>
        </div>

        <div class="row pt-2 d-flex justify-content-center">
          <div class="col-12 col-md-4 col-lg-3 col-xl-2 py-1 d-flex flex-column">                
            <button type="button"
                    class="btn btn-outline-danger"
                    (click)="cancelarRegistroSocio()">
                <span class="mdi mdi-trash-can"></span>
                Cancelar
            </button>
          </div>

          <div  class="col-12 col-md-4 col-lg-3 col-xl-2 py-1 d-flex flex-column"
                *ngIf="!banderaUpdate">                
            <button type="submit" 
                    class="btn btn-outline-primary">
                <span class="mdi mdi-content-save"></span>
                Guardar
            </button>
          </div>

          <div  class="col-12 col-md-4 col-lg-3 col-xl-2 py-1 d-flex flex-column"
                *ngIf="banderaUpdate">                
            <button type="button"
                    (click)="updateSocio()" 
                    class="btn btn-outline-success">
                <span class="mdi mdi-content-save"></span>
                Actualizar
            </button>
          </div>
        </div>
      </div>
    </form>

    <div class="col-12 card my-2">
      <div class="row my-2 d-flex">
        <div class="col-12 col-lg-5">
          <h2>LISTA DE SOCIOS</h2>
        </div>

        <div class="col-12 col-lg-4 mb-2 mb-lg-0">
          <app-input-form #inputFormComponentCodigo
                        [title]="'Buscar socio por nombre'"
                        [type]="'text'"
                        [placeHolder]="'Nombre...'"
                        (dataOutput)="buscarSocioPorNombre($event)">
          </app-input-form>
        </div>

        <div class="col-12 col-lg-3 mb-2 mb-lg-0">
          <span>Estado de usuarios</span>
          <select class="form-select my-1" 
                  [(ngModel)]="estadoSocio" 
                  (change)="cambioEstadoSocio()">
            <option value="true">Socios activos</option>
            <option value="false">Socios dados de baja</option>
          </select>
        </div>
      </div>

      <app-table-paginator  #tablaRegistroSocios
                            [tituloItems]    = tituloItems
                            [campoItems]     = campoItems
                            [idItem]         = idItem
                            [listaItems]     = listaDeSocios
                            [countItems]     = countSocios                            
                            [update]         = true
                            [delete]         = true
                            [idTable]        = "'tablaRegistroSocios'"
                            (cambioDePagina) = "cambioDePagina($event)"
                            (updateItem)     = "updateSocioEvent($event)"
                            (deleteItem)     = "darDeBajaSocioEvent($event)"
                            (verItem)        = "activarSocioEvent($event)"
                            >
      </app-table-paginator>
    </div>
    
    <div class="col-12 mb-2 py-2 card">    
      <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoXLSX()">      
      </app-imprimir-pdf>
    </div>
</div>
