<div class="container-fluid m-0 p-0">
  <div class="row mb-2 card">
    <h1 class="m-0 py-2"><b>REGISTRAR LECTURA DEL MEDIDOR DE LOS SOCIOS</b></h1>
  </div>

  <div class="row mb-2 card">
    <div class="col-12 my-2">
      <div class="row">
        <div class="col-12 col-md-6">
          <h2 class="m-0 p-0">DAR LECTURA A MEDIDOR DE SOCIO</h2>
        </div>

        <div class="col-12 col-md-6 d-flex justify-content-end">
          <h3><b>Fecha</b> : {{getFechaActual()}}</h3>
        </div>
      </div>
    </div>

    <div class="col-12 mb-2">
      <form [formGroup]='formularioLecturaPeriodo'>
        <div class="row">
          <div class="col-12 col-lg-4 mb-2">
            <label for="periodo">Periodo activo</label>
            <select id="periodo"
                    class="form-select"
                    (ngModelChange)="buscarDatosSocioMedidorService()"
                    formControlName="periodo"
                    [ngClass]="{'is-invalid': formularioLecturaPeriodoSelectInvalido('periodo'), 'is-valid': formularioLecturaPeriodoSelectValido('periodo') }">
              <option [value]="0" [disabled]="true">Seleccione el periodo activo...</option>
              <option [value]="periodoActivo?.idPeriodo"> {{periodoActivo?.nombre}} - {{periodoActivo?.anio}} </option>
            </select>
          </div>

          <div class="col-12 col-lg-4 mb-2">
            <label for="codigoMedidor">Código de medidor</label>
            <input  type="text" 
                    autocomplete="off"
                    id="codigoMedidor"
                    class="form-control" 
                    placeholder="Ingrese el código del medidor..."
                    formControlName="codigoMedidor"
                    (ngModelChange)="buscarDatosSocioMedidorService()"
                    [ngClass]="{'is-invalid': formularioLecturaPeriodoInvalido('codigoMedidor'), 'is-valid': formularioLecturaPeriodoValido('codigoMedidor') }">
            <p  class="text-danger my-1" 
                *ngIf="formularioLecturaPeriodo.get('codigoMedidor')?.hasError('error')">
              No existe este código de medidor 
            </p>
          </div>

          <div class="col-12 col-lg-4 mb-2">
            <label for="lectura">Lectura actual de medidor</label>
            <input  type="number" 
                    autocomplete="off"
                    id="lectura"
                    class="form-control" 
                    placeholder="Ingrese la lectura del medidor..."
                    formControlName="lectura"
                    (keyup.enter)="(datosLecturaPeriodoSocioMedidorEditar==aux)?guardarLecturaPeriodo():actualizarLecturaPeriodo()"
                    [ngClass]="{'is-invalid': formularioLecturaPeriodoInvalido('lectura'), 'is-valid': formularioLecturaPeriodoValido('lectura') }">
          </div>
        </div>
      </form>
    </div>

    <div class="col-12 mb-2">
      <div class="row d-flex justify-content-center">
        <div class="d-flex flex-column col-12 col-md-4 col-lg-3 col-xl-2 mb-2">
          <button class="btn btn-outline-danger"
                type="button"
                (click)="cancelarLecturaPeriodo()">
            <span class="mdi mdi-trash-can"></span>
            Cancelar
          </button>
        </div>
        
        <div  class="d-flex flex-column col-12 col-md-4 col-lg-3 col-xl-2 mb-2" 
              *ngIf="datosLecturaPeriodoSocioMedidorEditar!=aux">
          <button class="btn btn-outline-success"
                    type="button"
                    (click)="actualizarLecturaPeriodo()">
            <span class="mdi mdi-content-save"></span>
            Actualizar
          </button>
        </div>

        <div  class="d-flex flex-column col-12 col-md-4 col-lg-3 col-xl-2 mb-2" 
              *ngIf="datosLecturaPeriodoSocioMedidorEditar==aux">
          <button class="btn btn-outline-primary"
                type="button"
                (click)="guardarLecturaPeriodo()">
            <span class="mdi mdi-content-save"></span>
            Guardar
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2 card" *ngIf="srcBase64!=aux">
    <div class="col-12 mb-2">
      <h2 class="m-0 py-2 text-center">IMAGEN DE LA LECTURA DEL MEDIDOR</h2>
    </div>

    <div class="col-12 d-flex justify-content-center">
      <lib-ngx-image-zoom
          [thumbImage]=srcBase64
          [fullImage]=srcBase64
          [magnification]="2"
          [enableScrollZoom]="true"
          [enableLens]="true"
          [lensWidth]="400"
          [lensHeight]="150">
      </lib-ngx-image-zoom>
    </div>
  </div>
  
  <div class="row mb-2 card">
    <div class="col-12 my-2">
      <div class="row">
        <div class="col-12 col-md-6">
          <h2 class="m-0 p-0">LISTA DE PERIODOS DE LA GESTIÓN</h2>
        </div>

        <div class="col-12 col-md-6 d-flex justify-content-end" *ngIf="datosSocioMedidor!=aux">
          <div class="mb-2 px-2">
            <h4 class="m-0 p-0"><b>Nombre socio :</b> {{datosSocioMedidor.nombreCompletoSocio}}</h4>
            <h4 class="m-0 p-0"><b>Direcion socio :</b> {{datosSocioMedidor.direccionSocio}}</h4>
            <h4 class="m-0 p-0"><b>Código socio :</b> {{datosSocioMedidor.codigoSocio}}</h4>
            <h4 class="m-0 p-0"><b>Tanque agua :</b> {{datosSocioMedidor.nombreTanque}}</h4>
            <h4 class="m-0 p-0"><b>Categoría :</b> {{datosSocioMedidor.nombreCategoria | uppercase}}</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <app-tabla  [tituloItems]            = "tituloLecturaPeriodoSocioMedidor"
                  [campoItems]             = "campoLecturaPeriodoSocioMedidor"
                  [idItem]                 = "idItemLecturaPeriodoSocioMedidor"
                  [listaItems]             = "listaDatosLecturaPeriodoSocioMedidor"
                  [editar]                 = "true"
                  (editarItemSeleccionado) = "editarLecturaMedidor($event)">
        </app-tabla>
    </div>
  </div>
</div>