<div class="container-fluid row m-0 p-0">
  <div class="col-12 card my-1">
    <h1 class="m-0 py-2"><b>REGISTRO DE INGRESO DE AGUA AL TANQUE</b></h1>
  </div>

  <div class="col-12 card my-1 pb-2">
    <form [formGroup]='formularioTanqueAgua'>
      <div class="row my-2">
        <div class="col-12 col-lg-4 col-xl-9 d-flex align-items-center">
          <h2>REGISTRO DE NUEVO INGRESO</h2>
        </div>

        <div class="col-12 col-lg-4 col-xl-3 d-flex flex-column">
          <label  for="fechaRegistro">
            <h4 class="m-0">Fecha de registro</h4>
          </label>
          <input  type="date" 
                  id="fechaRegistro" 
                  class="form-control"
                  formControlName="fechaRegistro"          
                  [ngClass]="{'is-invalid': campoInvalido('fechaRegistro'), 'is-valid': campoValido('fechaRegistro') }">
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-8 col-xl-4 py-2">
          <label for="tanqueAgua" class="mb-1">
            <h4 class="m-0">Tanque de Agua</h4>
          </label>
          <select class="form-select"
                  formControlName="tanqueAgua"
                  [ngClass]="{'is-invalid': campoInvalidoTanqueAgua(), 'is-valid': campoValidoTanqueAgua() }">
            <option value="0" [selected]="true" [disabled]="true">
              Seleccione un tanque de agua...
            </option>

            <option [value]="tanque.idTanqueAgua" 
                    *ngFor="let tanque of listaTanqueDeAguaRegistro">
              {{tanque.nombre}}
            </option>
          </select>
        </div>

        <div class="col-12 col-md-4 col-xl-2 py-2">
          <label  for = "volumenM3" class="mb-1">
            <h4 class="m-0">Volumen M3</h4>
          </label>
          <input  type = "number" 
                  autocomplete="off"
                  id = "volumenM3" 
                  class = "form-control"
                  placeholder="Volumen M3..."
                  formControlName = "volumenM3"     
                  (input)="changeCapacidadM3()"     
                  [ngClass] = "{'is-invalid': campoInvalido('volumenM3'), 'is-valid': campoValido('volumenM3')}">
        </div>

        <div class="col-12 col-md-4 col-xl-2 py-2">
          <label  for = "volumenLts" class="mb-1">
            <h4 class="m-0">
              Volumen Lts
            </h4>
          </label>
          <input  type = "number" 
                  autocomplete="off"
                  id = "volumenLts" 
                  class = "form-control"
                  placeholder="Volumen Lts..."
                  formControlName = "volumenLts"  
                  (input)="changeCapacidadLts()"      
                  [ngClass] = "{'is-invalid': campoInvalido('volumenLts'), 'is-valid': campoValido('volumenLts') }">
        </div>

        <div class="col-12 col-md-4 col-xl-2 py-2">
          <label  for = "costoTotal" class="mb-1">
            <h4 class="m-0">Costo Total</h4>
          </label>
          <input  type            = "number" 
                  id              = "costoTotal" 
                  class           = "form-control"
                  placeholder     = "Costo total..."
                  formControlName = "costoTotal"      
                  [ngClass] = "{'is-invalid': campoInvalido('costoTotal'), 'is-valid': campoValido('costoTotal') }">
        </div>

        <div  class="col-12 col-md-2 col-xl-1 py-2 d-flex flex-column justify-content-end" 
              *ngIf="ingresoTanqueAguaSeleccionadoUpdate==undefined">
          <button class   = "btn btn-outline-primary d-flex justify-content-center"
                  type    = "button"
                  (click) = "createIngresoAguaTanque()">
            <span class="material-icons">
              save
            </span>
          </button>
        </div>

        <div  class="col-12 col-md-2 col-xl-1 py-2 d-flex flex-column justify-content-end" 
              *ngIf="ingresoTanqueAguaSeleccionadoUpdate!=undefined">
          <button class   = "btn btn-outline-success d-flex justify-content-center"
                  type    = "button"
                  (click) = "updateIngresoAguaTanque()">
            <span class="material-icons">
              mode_edit_outline
            </span>
          </button>
        </div>

        <div  class="col-12 col-md-2 col-xl-1 py-2 d-flex flex-column justify-content-end">
          <button class   = "btn btn-outline-danger d-flex justify-content-center"
                  type    = "button"
                  (click) = "cancelarNuevoRegistroAgua()">
            <span class="material-icons">
              close
            </span>
          </button>
        </div>

      </div>
    </form>
  </div>

  <div class="col-12 card my-1 p-2">
    <form [formGroup]="formularioTanqueAguaVisualizacion">
      <div class="row justify-content-end mb-2">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <select class           = "form-select"
                  formControlName = "tanqueAgua"
                  (change)        = "getListaIngresoTanqueAgua()"
                  >
            <option value="0" [selected]="true" [disabled]="true">
              Seleccione un tanque de agua...
            </option>
            <option [value]="tanqueAgua.idTanqueAgua" 
                    *ngFor="let tanqueAgua of listaTanqueDeAguaVisualizacion">
              {{tanqueAgua.nombre}}
            </option>
          </select>
        </div>
      </div>
    </form>

    <div class="col-12">
      <app-table-paginator  #tablaIngresoDeAguaATanque
                            [tituloItems]    = "tituloItems"
                            [campoItems]     = "campoItems"
                            [idItem]         = "idItemIngresoTanqueAgua"
                            [listaItems]     = "listaIngresoTanqueAgua"
                            [countItems]     = "countItemsIngresoTanqueAgua"
                            [update]         = "true"
                            [delete]         = "isPresidente()||isAdmin()"
                            [idTable]        = "'tablaIngresoDeAguaATanque'"
                            (cambioDePagina) = "nuevaPaginaOCambioTamanioPaginaEvent($event)"
                            (updateItem)     = "updateItemIngresoAguaTanqueEvent($event)"
                            (deleteItem)     = "deleteItemIngresoAguaTanqueEvent($event)"
                        >
    </app-table-paginator>
    </div>
  </div> 

  <div class="col-12 mb-2 py-2 card atras">    
    <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoXLSX()">      
    </app-imprimir-pdf>
  </div>
</div>
