<div class="container-fluid row m-0 p-0">
  <div class="col-12 card my-1">
    <h1 class="m-0 py-2"><b>REGISTRO DE TANQUE DE AGUA</b></h1>
  </div>

  <div class="col-12 card my-1 py-2">
    <form class="p-0"
          [formGroup]='nuevoTanqueForm'
          (ngSubmit)="addNuevoTanque()">
      <div class="row ">
        <div class="col-12 col-md-6 col-lg-8 col-xl-10">
          <h2>NUEVO TANQUE DE AGUA</h2>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-2 d-flex flex-column">
          <label  for="fechaRegistro"><h4 class="m-0">Fecha de registro</h4></label>
          <input  type="date" 
                  id="fechaRegistro" 
                  class="form-control"
                  formControlName="fechaRegistro"          
                  [ngClass]="{'is-invalid': campoInvalido('fechaRegistro'), 'is-valid': campoValido('fechaRegistro') }">
        </div>

        <div class="col-12 col-md-4 mb-2">
          <label  for="codigo" class="pb-1">Código</label>
          <input  autocomplete="off"
                  type="text" 
                  id="codigo" 
                  class="form-control"
                  placeholder="Ingrese un código..."
                  formControlName="codigo"          
                  [ngClass]="{'is-invalid': campoInvalido('codigo'), 'is-valid': campoValido('codigo') }">
        </div>

        <div class="col-12 col-md-8 mb-2">
          <label  for="ubicacion" class="pb-1">Ubicación</label>
          <input  autocomplete="off"
                  type="text" 
                  id="ubicacion" 
                  class="form-control"
                  placeholder="Ingrese la ubicación..."
                  formControlName="ubicacion"          
                  [ngClass]="{'is-invalid': campoInvalido('ubicacion'), 'is-valid': campoValido('ubicacion') }">
        </div>

        <div class="col-12 col-md-4 mb-2 ">
          <label  for="nombre" class="pb-1">Nombre</label>
          <input  autocomplete="off"
                  type="text" 
                  id="nombre" 
                  class="form-control"
                  placeholder="Ingrese un nombre..."
                  formControlName="nombre"          
                  [ngClass]="{'is-invalid': campoInvalido('nombre'), 'is-valid': campoValido('nombre') }">
        </div>
    
        <div class="col-12 col-md-2 mb-2">
          <label  for="capacidadM3" class="pb-1">Capacidad M3</label>
          <input  autocomplete="off"
                  type="number" 
                  id="capacidadM3" 
                  class="form-control"
                  placeholder="Cap. M3..."
                  formControlName="capacidadM3"   
                  (ngModelChange)="changeCapacidadM3($event)"       
                  [ngClass]="{'is-invalid': campoInvalido('capacidadM3'), 'is-valid': campoValido('capacidadM3') }">
        </div>

        <div class="col-12 col-md-4 mb-2">
          <label  for="capacidadLts" class="pb-1">Capacidad Lts.</label>
          <input  autocomplete="off"
                  type="number" 
                  id="capacidadLts" 
                  class="form-control"
                  placeholder="Cap. Lts.."
                  formControlName="capacidadLts"
                  (ngModelChange)="changeCapacidadLts($event)"          
                  [ngClass]="{'is-invalid': campoInvalido('capacidadLts'), 'is-valid': campoValido('capacidadLts') }">
        </div>

        <div  *ngIf="tanqueAguaEditarSeleccionado==undefined"
              class="col-12 col-md-1 pt-2 pt-md-0 ps-md-0 d-flex flex-column justify-content-end mb-2">
          <button class="btn btn-outline-primary d-flex justify-content-center"
                  type="button"
                  (click)="addNuevoTanque()">
            <span class="material-icons">save</span>
          </button>
        </div>
        
        <div  *ngIf="tanqueAguaEditarSeleccionado"
              class="col-12 col-md-1 pt-2 pt-md-0 ps-md-0 d-flex flex-column justify-content-end mb-2">
          <button class="btn btn-outline-success d-flex justify-content-center"
                  type="button"
                  (click)="editarTanqueAgua()">
            <span class="material-icons">edit</span>
          </button>
        </div>
        
        <div class="col-12 col-md-1 pt-2 pt-md-0 ps-md-0 d-flex flex-column justify-content-end mb-2">
          <button class="btn btn-outline-danger d-flex justify-content-center"
                  type="button"
                  (click)="cancelarNuevoTanque()">
            <span class="material-icons">close</span>
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="col-12 card my-1">
    <div class="row d-flex justify-content-end my-2">
       <div class="col-12 col-md-5 col-xl-4">
        <span>Estado</span>
        <select class="form-select"  
                [(ngModel)]="banderaTanqueAgua" 
                (change)="cambioEstadoBandera()">
          <option [value]='true'>Tanque de agua activos</option>
          <option [value]='false'>Tanques de agua dados de baja</option>
        </select>            
       </div>
    </div>

    <div class="col-12">
      <app-tabla #tablaRegistroTanqueAgua  
                 [tituloItems]               = "itemsTitulo"
                 [campoItems]                = "campos"
                 [listaItems]                = "listaTanqueAgua"
                 [idItem]                    = "'idTanqueAgua'"
                 [editar]                    = "true"
                 [eliminar]                  = "isPresidente()||isAdmin()"
                 [habilitar]                 = "false"
                 [idTable]                   = "'tablaRegistroTanqueAgua'"
                 (editarItemSeleccionado)    = "editarItemSeleccionadoEvent($event)"
                 (eliminarItemSeleccionado)  = "habilitarInhabilitarTanqueAgua($event)"
                 (habilitarItemSeleccionado) = "habilitarInhabilitarTanqueAgua($event)">      
      </app-tabla>
    </div>
  </div>  

  <div class="col-12 mb-2 py-2 card atras">    
    <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoXLSX()">      
    </app-imprimir-pdf>
  </div>
</div>