<div class="container-fluid m-0 p-0">
  <div class="row mb-2 card">
    <h1 class="m-0 py-2"><b>CONFIGURACIÓN DE CATEGORÍAS PARA LOS MEDIDORES</b></h1>
  </div>

  <div class="row mb-2 card">
    <div class="col-12 my-2">
      <h2 class="m-0 p-0">LISTA DE CATEGORIAS PARA SOCIOS</h2>
    </div>
    
    <div class="col-12 mb-3">
      <form [formGroup]='formularioCategoria'>
        <div class="row">
          <div class="col-12 col-md-5 col-lg-2 mb-2 mb-lg-0">
            <label for="codigo">Código</label>
            <input  type="text" 
                    id="codigo"
                    autocomplete="off"
                    class="form-control" 
                    placeholder="Ingrese un código..."
                    formControlName="codigo"
                    [ngClass]="{'is-invalid': formularioCategoriaInvalido('codigo'), 'is-valid': formularioCategoriaValido('codigo') }">
          </div>

          <div class="col-12 col-md-7 col-lg-4 mb-2 mb-lg-0">
            <label for="nombre">Nombre</label>
            <input  type="text"
                    autocomplete="off"
                    id="nombre" 
                    class="form-control" 
                    placeholder="Ingrese un nombre..."
                    formControlName="nombre"
                    [ngClass]="{'is-invalid': formularioCategoriaInvalido('nombre'), 'is-valid': formularioCategoriaValido('nombre') }">
          </div>

          <div class="col-12 col-lg-6 mb-2 mb-lg-0">
            <div class="row">
              <div class="col-12 col-md-10 mb-2 mb-md-0">
                <label for="descripcion">Descripción</label>
                <input  type="text" 
                        autocomplete="off"
                        id="descripcion"
                        class="form-control" 
                        placeholder="Ingrese una descripción"
                        formControlName="descripcion"
                        [ngClass]="{'is-invalid': formularioCategoriaInvalido('descripcion'), 'is-valid': formularioCategoriaValido('descripcion') }">
              </div>
    
              <div class="col-12 col-md-1 mb-2 mb-md-0 d-flex flex-column justify-content-end" *ngIf="categoriaSeleccionada==undefined">
                <button class="btn btn-outline-primary mb-0  d-flex justify-content-center"
                        type="button"
                        (click)="createCategoria()">
                  <span class="material-icons">save</span>
                </button>
              </div>
    
              <div class="col-12 col-md-1 mb-2 mb-md-0 d-flex flex-column justify-content-end" *ngIf="categoriaSeleccionada!=undefined">
                <button class="btn btn-outline-success mb-0  d-flex justify-content-center"
                        type="button"
                        (click)="updateCategoria()">
                  <span class="material-icons">mode_edit</span>
                </button>
              </div>
    
              <div class="col-12 col-md-1 mb-0 d-flex flex-column justify-content-end">
                <button class="btn btn-outline-danger mb-0  d-flex justify-content-center"
                        type="button"
                        (click)="cancelCategoria()">
                  <span class="material-icons">close</span>
                </button>
              </div>
            </div>
          </div>

        </div>
      </form>
    </div>

    <div class="col-12">
      <app-tabla  [tituloItems]              = "tituloItemsCategoria"
                  [campoItems]               = "campoItemsCategoria"
                  [idItem]                   = "idItemCategoria"
                  [listaItems]               = "listaItemsCategoria"
                  [editar]                   = "true"
                  [eliminar]                 = isPresidente()||isAdmin()
                  (editarItemSeleccionado)   = "updateCategoriaEvent($event)"
                  (eliminarItemSeleccionado) = "deleteCategoriaEvent($event)">
      </app-tabla>
    </div>
  </div>
</div>
