.footer-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  
}

.footer-body{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 85%;
  width: 100%;
  color: #D0D3D4;
}

.footer-footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0% 0.5%;
  height: 15%;
  width: 100%;
  color: #D0D3D4;
}

.data-footer{
  height: 100%;
  width: 30%;
  padding: 1%;
}

.link{
  text-decoration: none;
  color: #7B7D7D;
}

.link:hover{
  color: white;
  
}