<div class="footer-content">
  <div class="footer-body bg-dark">
    <div class="data-footer" >
      <span class="">Acerca de nosotros</span>
      <p class="text-white-50">
        Somos la Asociacion de Agua Potable Cabaña Violeta ubicado en la Av. Petrolera Km. 6, Distrito 15 de la Mancomunidad de K'ara k'ara, el cual brinda el servicio de agua potable a nuestros socios afiliados.
      </p>
    </div>

    <div class="data-footer" >
      <span class="">Contactanos</span>
      <p class="text-white-50 m-0">
        <span class="mdi mdi-whatsapp"></span>
        75993020 - 72253433 
      </p>
      <p class="text-white-50 m-0">
        <span class="mdi mdi-email-multiple-outline"></span>
        cvioleta.adm@gmail.com 
      </p>
      <p class="text-white-50 m-0">
        <span class="mdi mdi-google-maps"></span>
        Av. Petrolera kilometro 6. Junta Vecinal Cabaña Violeta. Distrito 15
      </p>
    </div>

    <div class="data-footer" >
      <span class="mb-4">Desarrollado por</span>
      <p class="text-white-50 m-0">
        <span class="mdi mdi-account"></span>
        @Egüesst 
      </p>
      <p class="text-white-50 m-0">
        <span class="mdi mdi-whatsapp"></span>
        <a class="link" href="https://wa.me/59173791502">(+591) 73791502 </a>
      </p>
      <p class="text-white-50 m-0">
        <span class="mdi mdi-email-multiple-outline"></span>
        gerson.choque.loreno@gmail.com 
      </p>
      <p class="text-white-50 m-0">
        <span class="mdi mdi-linkedin"></span>        
        <a class="link" href="https://www.linkedin.com/in/eguesst/">
          https://www.linkedin.com/in/eguesst/
        </a>
      </p>
    </div>
  </div>

  <div class="footer-footer bg-black">
    © 2023 Asc.Cabaña Violeta. Todos derechos reservados
  </div>
</div>