<form [formGroup]='buscador'
      (ngSubmit)="buscarTexto()">
  <label class="pb-1" *ngIf="title!=''">{{title}}</label>
  <div class="input-group">
    <input  type={{type}}
            autocomplete="off"
            class="form-control"
            placeholder={{placeHolder}}
            formControlName="texto"
            (ngModelChange)="buscarTexto()">
    <button class="btn btn-outline-secondary" type="button">
        <span class="mdi mdi-account-search" (click)="buscarTexto()"></span>
    </button>
  </div>
</form>

