<div class="container-fluid row m-0 p-0">
  <div class="col-12 px-2 mb-2 card">
    <h1 class="m-0 py-2"><b>SEGUIMIENTO DE EVENTOS</b></h1>
  </div>
  
  <div class="mb-2 card">
    <div class="col-12 pt-2">
      <h2 class="my-0 py-0">REALIZAR EVENTO</h2>
    </div>

    <form [formGroup]='formularioSeguimientoEvento'>
      <div class="row py-2">
        <div class="col-12 col-lg-10">
          <label class="pb-1">Eventos pendientes</label>
          <select  type="text"
                    class="form-select"
                    formControlName="evento"
                    [ngClass]="{'is-invalid': campoSegEventoInvalido('evento'), 'is-valid': campoSegEventoValido('evento') }">
            <option value="0" [disabled]="true">Seleccione un evento...</option>
            <option value={{evento.idEvento}} *ngFor="let evento of listaEventosPendiente">{{evento.nombre}}</option>
          </select>
        </div>

        <div class="col-12 col-lg-2 d-flex flex-column">
          <label for="horaActual" class="pb-1">
            Hora actual
          </label>
          <h3 class="p-1 text-center card">
            {{now|date:'hh:mm:ss'}}</h3>
        </div>
      </div>

      <div class="row py-2 d-flex justify-content-center">
        <div class="d-flex flex-column col-12 col-md-4 col-xl-3 col-xxl-2 col-xl-2 mb-2 mb-md-0">
          <button class="btn btn-outline-danger"
                  type="button"
                  (click)="cancelar()">
            <span class="mdi mdi-close"></span>
              Cancelar
          </button>
        </div>

        <div class="d-flex flex-column col-12 col-md-4 col-xl-3 col-xxl-2 col-xl-2 mb-2 mb-md-0">
          <button class="btn btn-outline-warning"
                  type="button"
                  (click)="cancelarRealizacionEvento_pendiente()">
            <span class="mdi mdi-cancel"></span>
              Cancelar evento
          </button>
        </div>

        <div class="d-flex flex-column col-12 col-md-4 col-xl-3 col-xxl-2 col-xl-2 mb-2 mb-md-0">
          <button class="btn btn-outline-primary"
                  type="button"
                  (click)="realizarEvento()">
            <span class="mdi mdi-lock-open"></span>
              Realizar evento
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="mb-2 py-2 card">
    <div class="row mb-2">
      <div class="col-12 mb-2">
        <div class="row">
          <div class="col-12 col-lg-8 mb-2 mb-lg-0">
            <h2 class="m-0 p-0">PASAR ASISTENCIA A LOS SOCIOS REGISTRADOS EN EL EVENTO</h2>
          </div>

          <div class="col-12 col-lg-4 d-flex justify-content-center">
            <div class="col-12 col-md-6">
              <p class="m-0 p-0"><b>Nro. de socios : </b>{{nroSociosTotal}}</p>
              <p class="m-0 p-0"><b>Socios listados : </b>{{contadorSocios}}</p>
              
            </div>

            <div class="col-12 col-md-6">
              <p class="m-0 p-0"><b>En hora : </b>{{nroSociosEnHora}}</p>
              <p class="m-0 p-0"><b>Retraso : </b>{{nroSociosConRetraso}}</p>
              <p class="m-0 p-0"><b>Retraso final : </b>{{nroSociosConRetrasoFinal}}</p>
              <p class="m-0 p-0"><b>Falta : </b>{{nroSociosConFalta}}</p>
              <p class="m-0 p-0"><b>Licencia : </b>{{nroSociosConLicencia}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <form [formGroup]='formularioSeleccionEvento'>
          <div class="row mb-2">
            <div class="col-12 col-lg-3">
              <p class="mb-1">Estado del evento</p>
              <select class="form-select" 
                      (change)="chancheEstadoEvento($event)"
                      formControlName="estado">
                <option [value]="0" [disabled]="true">Estado del evento...</option>
                <option [value]="'REALIZANDO'">REALIZANDO</option>
                <option [value]="'REALIZADO'">REALIZADO</option>
                <option [value]="'CANCELADO'">CANCELADO</option>
              </select>
            </div>

            <div class="col-12 col-lg-9 buscador">
              <app-buscador #buscardorComponent
                      [titulo]                 = "'Buscar eventos por nombre'"
                      [type]                   = "'text'"
                      [placeholder]            = "'Ingrese el nombre de un evento'"
                      [idCampo]                = "'idEvento'"
                      [campo]                  = "'nombre'"
                      [listaResultadoBusqueda] = "listaEventosBusqueda"
                      (buscarTextoEvent)       = "buscarEventoBusqueda($event)"
                      (itemSeleccionadoEvent)  = "seleccionarEventoBusqueda($event)">            
              </app-buscador>
            </div>
          </div> 
          
          
          <div class="row d-flex justify-content-center">
            <div class="d-flex flex-column justify-content-center col-12 col-md-4 col-xl-3 col-xxl-2 col-xl-2 mb-2 mb-md-0">
              <button class="btn btn-outline-warning"
                      type="button"
                      [disabled]="!(estadoEventoSeleccionado == 'REALIZANDO' && eventoSeleccionado != aux)"
                      (click)="cancelarRealizacionEvento_realizando_realizado()">
                <span class="mdi mdi-cancel"></span>
                  Cancelar evento
              </button>
            </div>
      
            <div class="d-flex flex-column justify-content-center col-12 col-md-4 col-xl-3 col-xxl-2 col-xl-2 mb-2 mb-md-0">
              <button class="btn btn-outline-success"
                        type="button"
                        [disabled]="!(estadoEventoSeleccionado == 'REALIZANDO' && eventoSeleccionado != aux)"
                        (click)="finalizarEvento()">
                  <span class="mdi mdi-lock"></span>
                  Finalizar evento
                </button>
            </div>
          </div>
          
        </form>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-12">        
        <form [formGroup]='buscadorSocio'>
          <div class="row d-flex justify-content-end pb-2">
            <div class="col-12 col-lg-4 col-xl-3">
              <label for="codigo">Código socio</label>
              <div class="input-group input-group-sm">
                <input  id="codigo" 
                      type="text" 
                      autocomplete="off"  
                      class=" form-control"
                      (ngModelChange)="buscarTextoPorCodigo()"
                      formControlName="codigo">
                <button class="btn btn-outline-secondary" type="button">
                  <span class="material-icons d-flex justify-content-center">
                    search
                  </span>
                </button>
              </div>
            </div>
    
            <div class="col-12 col-lg-6 col-xl-4">
              <label for="nombre">Nombre de socio</label>
              <div class="input-group input-group-sm">
                <input  id="nombre" 
                      type="text" 
                      autocomplete="off"  
                      class=" form-control"
                      (ngModelChange)="buscarTextoPorNombre()"
                      formControlName="nombres">
                <button class="btn btn-outline-secondary" type="button">
                  <span class="material-icons d-flex justify-content-center">
                    search
                  </span>
                </button>
              </div>          
            </div>        
          </div>
        </form>
      </div>

      <div class="col-12">
        <div class="col-12 pb-2">
          <table class="table table-hover table-sm" id="tableSeguimientoEvento" >
            <thead style="background-color: #154360;">
              <tr>
                <th scope="col" class="align-middle text-center fw-normal p-2 text-white"
                    *ngFor="let tituloSocSegEvento of listaTitulosSociosSegEvento;index as i">
                  {{tituloSocSegEvento}}
                </th>
              </tr>
            </thead>
        
            <tbody>
              <tr class="pointer" 
                  *ngFor="let socioSegEvento of listaSociosEvento; index as i"
                  [ngStyle]="{'background-color': (!socioSegEvento.listado)?'#D6EAF8': (socioSegEvento.seleccionado)?'#FDF2E9':'#FFFFFF' }"
                  (click)="seleccionarSeguimientoEvento(socioSegEvento)">  
                  <td class="align-middle text-center" scope="row">
                    {{i+1}}
                  </td> 
                  
                  <td class="align-middle text-center" 
                      scope="row" 
                      *ngFor="let campo of listaCamposSociosSegEvento">
                      
                    <div *ngIf="esTipoBoolean(socioSegEvento[campo]); else elseBlock">
                      <input  class      = "form-check-input mx-2"                
                              type       = "checkbox"
                              [checked]  = socioSegEvento[campo]
                              (change)   = "checkCampoSegEventoSocio(i,socioSegEvento,campo,$event)"
                              [disabled] = "estadoEventoSeleccionado == 'CANCELADO' || (estadoEventoSeleccionado == 'REALIZADO' && !(isPresidente()||isAdmin()))">
                    </div>
                    
                    <ng-template #elseBlock>
                      {{ socioSegEvento[campo] }}
                    </ng-template>
                  </td> 
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 mb-2 py-2 card">    
    <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoXLSX()">      
    </app-imprimir-pdf>
  </div>
</div>