<form [formGroup]='formularioFiltro'
      (ngSubmit)='filtrar()'>
  <div class="row">
    <div class="col-12 mb-2 py-1">
      <div class="row">
        <div class="col-12 col-sm-3  d-flex align-items-center">
          <mat-slide-toggle [checked]="(opcionSeleccionada==1)?'true':'false'"
                            [color]="'primary'"
                            (change)="cambioOpcionSeleccionadaTodos($event)"> 
            Todo
          </mat-slide-toggle>
        </div>
      </div>              
    </div>

    <div class="col-12 mb-2 py-1">
      <div class="row">
        <div class="col-12 col-sm-3  d-flex align-items-center">
          <mat-slide-toggle [checked]="(opcionSeleccionada==2)?'true':'false'"
                        [color]="'primary'"
                        (change)="cambioOpcionSeleccionadaGestion($event)"> 
            Gestión
          </mat-slide-toggle>
        </div>

        <div class="col-12 col-sm-4">
          <label for="gestionInicio">Gestion Incio:</label>
          <input  type="number" 
                  autocomplete="off"
                  class="form-control" 
                  name="gestionInicio"
                  formControlName="gestionInicio"
                  (change)="cambioGestion()"
                  [ngClass]="{'is-invalid': gestionInicioInvalido, 'is-valid': gestionInicioValido}">
        </div>

        <div class="col-12 col-sm-4">
          <label for="gestionFin">Gestion Fin:</label>
          <input  type="number" 
                  autocomplete="off"
                  class="form-control" 
                  name="gestionFin"
                  formControlName="gestionFin"
                  (change)="cambioGestion()"
                  [ngClass]="{'is-invalid': gestionFinInvalido, 'is-valid': gestionFinValido}">
        </div>

      
      </div>
    </div>

    <div class="col-12 mb-2 py-1">
      <div class="row">
        <div class="col-12 col-sm-3 d-flex align-items-center">
          <mat-slide-toggle [checked]="(opcionSeleccionada==3)?'true':'false'"
                            [color]="'primary'"
                            (change)="cambioOpcionSeleccionadaMes($event)"> 
            Mes
          </mat-slide-toggle>
        </div>

        <div class="col-12 col-sm-4">
          <label for="mesInicio">Mes Incio:</label>
          <input type="month" 
                  class="form-control" 
                  name="mesInicio"
                  formControlName="mesInicio"
                  (change)="cambioMes()"
                  [ngClass]="{'is-invalid': mesInicioInvalido, 'is-valid': mesInicioValido}">
        </div>

        <div class="col-12 col-sm-4">
          <label for="mesFin">Mes Fin:</label>
          <input type="month" 
                  class="form-control" 
                  name="mesFin"
                  formControlName="mesFin"
                  (change)="cambioMes()"
                  [ngClass]="{'is-invalid': mesFinInvalido, 'is-valid': mesFinValido}">
        </div>
      </div>
    </div>

    <div class="col-12">
      
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-sm-3 col-xlg-2 my-1 d-flex flex-column">
          <button class="btn btn-outline-primary d-flex align-items-center justify-content-center">
            <span class="material-icons">
              search
            </span>
            Buscar
          </button>  
        </div>

        <div class="col-12 col-sm-3 col-xlg-2 my-1 d-flex flex-column">
          <button type="button" 
                  (click)="cancelar()"
                  class="btn btn-outline-success d-flex align-items-center justify-content-center ">
            <span class="material-icons">
              close
            </span>
            Cancelar
          </button>  
        </div>
      </div>
    </div>
  </div>
</form>