<div class=" table-responsive">   
  <table  class="table table-hover table-sm "
          id={{idTable}}>
    <thead style="background-color: #154360;">
      <tr>
        <th scope="col"
            class="align-middle  fw-normal p-2 text-white"
            *ngFor="let titulo of tituloItems">
          {{titulo}}
        </th>

        <th *ngIf="update || delete || show" class="fw-normal p-2 text-white">
          <div class="d-flex justify-content-center">
            Opciones
          </div>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr class="pointer"
          *ngFor="let item of listaItemsFiltrado; index as i"
          (click)="seleccionarItem(item)"
          (ngModel)="idItemSeleccionado"          
          [ngStyle]="{'background-color': (item.seleccionado)?'#85C1E9': (idItemSeleccionado==item[idItem])? '#A9CCE3':'#FFFFFF' }">  
          
          <ng-container *ngIf="item.indexLocal==0">
            <td [attr.rowspan]="item.rows"
                class="align-middle"
                scope="row">
              {{item.indexGlobal}}
            </td>
          </ng-container>
          
          <ng-container *ngIf="item.indexLocal==0">
            <td *ngFor="let campo of campoItems"
                [attr.rowspan]="item.rows"
                class="align-middle"
                scope="row"
                >
              {{item[campo]}}
            </td>
          </ng-container>

          <td>
            {{item[idCampoFilaDividida]}}
          </td>

          <td *ngIf="(update || delete || show) && item.indexLocal==0"
              [attr.rowspan]="item.rows" 
              class="align-middle">
            <div class="d-flex justify-content-center">
              <button *ngIf="update" class="btn btn-sm btn-outline-success mx-1"
                      type="button"
                      (click)="updateItemEvent(item)">
                <span class="mdi mdi-pencil"></span>
              </button>
            
              <button *ngIf="delete" class="btn btn-sm btn-outline-danger mx-1"
                      type="button"
                      (click)="deleteItemEvent(item)">
                <span class="mdi mdi-close"></span>
              </button>

              <button *ngIf="show" class="btn btn-sm btn-outline-primary mx-1"
                      type="button"
                      (click)="showItemEvent(item)">
                <span class="mdi mdi-eye"></span>
              </button>
            </div>
          </td>
      </tr>
    </tbody>
  </table>
</div>    

<div class="row" *ngIf="pagePaginator">
  <div class="col-12"> 
    <mat-paginator  [length]="lengthList"
                    [pageSize]="pageSize" 
                    [pageSizeOptions]="pageSizeOptions"
                    (page)="cambioSizePaginaOrPagina($event)"
                    aria-label="Select page">
    </mat-paginator>
  </div>
</div>