<div class="col-12 mb-2 p-2 card">
  <h1 class="m-0 py-2"><b>HISTORIAL DE APORTES EVENTUALES POR PARTE DE LOS SOCIOS</b></h1>
</div>

<div class="col-12 px-2 mb-2 card">
  <div class="row mb-2">
    <h2 class="m-0 pt-2">BUSCAR APORTES EVENTUALES</h2>
  </div>

  <div class="row py-2 buscador">
    <app-buscador #buscardorComponent
            [titulo]                 = "'Buscar aportes eventuales por nombre'"
            [type]                   = "'text'"
            [placeholder]            = "'Ingrese el nombre del aporte eventual'"
            [idCampo]                = "'idAporteEventual'"
            [campo]                  = "'nombre'"
            [listaResultadoBusqueda] = "listaAportesEventualesBusqueda"
            (buscarTextoEvent)       = "buscarAporteEventualService($event)"
            (itemSeleccionadoEvent)  = "seleccionarEventoBusqueda($event)">            
    </app-buscador>
  </div>
</div>

<div class="col-12 mb-2 card">
  <div class="row m-0 p-0">
    <h2 class="my-0 mt-2">LISTA DE SOCIOS</h2>
  </div>

  <div class="row m-0 p-0">
    <app-tabla  #sociosAporteEventual
                [tituloItems]              = "tituloItems"
                [campoItems]               = "campoItems"
                [idItem]                   = "'idSocioMedidor'"
                [idTable]                  = "'sociosAporteEventual'"
                [listaItems]               = "listaSociosSinCancelarAporte"
                [eliminar]                 = isPresidente()||isAdmin()
                [descargar]                = "true"
                (descargarItem)            = "descargarCobroAporteEventual($event)"
                (eliminarItemSeleccionado) = "cancelarCobroAporteEventual($event)">
    </app-tabla>
  </div>
</div>

<div class="col-12 mb-2 py-2 card">    
  <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoXLSX()">      
  </app-imprimir-pdf>
</div>