<div class="container-fluid row m-0 p-0">
  <div class="col-12 card mb-2">
      <h1 class="m-0 py-2"><b>LISTA DE SOCIOS REGISTRADOS EN EL SISTEMA</b></h1>
  </div>

  <div class="col-12 card mb-2">
    <div class="row my-2">    
      <div class="col-12 mb-2">
        <div class="row">
          <div class="col-12 col-md-8">
            <h2 class="m-0 p-0" >BUSCAR SOCIO</h2>
          </div>

          <div class="col-12 col-md-4 mb-2 mb-lg-0">
            <span>Estado socios</span>
            <select class="form-select" 
                    [(ngModel)]="estadoSocio" 
                    (ngModelChange)="cambioEstadoSocio()">
              <option [value]="true">Socios activos</option>
              <option [value]="false">Socios dados de baja</option>
            </select>
          </div>
        </div>
      </div>
     
      <div class="col-12 col-md-4 d-flex flex-column">
        <app-input-form #inputFormComponentCodigo
                        [title]="'Buscar socio por código'"
                        [type]="'text'"
                        [placeHolder]="'Código...'"
                        (dataOutput)="buscarSocioPorCodigo($event)">
        </app-input-form>
      </div>

      <div class="col-12 col-md-4 d-flex flex-column">  
        <app-input-form #inputFormComponentNombre
                        [title]="'Buscar socio por nombres'"
                        [type]="'text'"
                        [placeHolder]="'Nombres...'"
                        (dataOutput)="buscarSocioPorNombre($event)">
        </app-input-form>
      </div>
  
      <div class="col-12 col-md-4 d-flex flex-column">
        <app-input-form #inputFormComponentApellido
                        [title]="'Buscar socio por apellido paterno'"
                        [type]="'text'"
                        [placeHolder]="'Apellido...'"
                        (dataOutput)="buscarSocioPorApellido($event)">
        </app-input-form>
      </div>  
    </div>
  </div>

  <div class="col-12 px-2 mb-2 card py-3">  
    <app-table-paginator  #tablaListaSocios
                          [tituloItems]    = tituloItems
                          [campoItems]     = campoItems
                          [idItem]         = idItem
                          [listaItems]     = listaDeSocios
                          [countItems]     = countSocios                                                        
                          [idTable]        = "'tablaListaSocios'"
                          (cambioDePagina) = "cambioDePagina($event)"                            
                            >
    </app-table-paginator>
  </div>

  <div class="col-12 mb-2 py-2 card">    
    <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoXLSX()">      
    </app-imprimir-pdf>
  </div>
</div>

