<div class="container-fluid m-0 p-0">
  <div class="row mb-2 card">
    <h1 class="m-0 py-2"><b>CONFIGURACIÓN DE MES</b></h1>
  </div>

  <div class="row card">
    <div class="col-12 mb-2">
      <div class="row my-2 d-flex justify-content-between">
        <div class="col-12 col-md-6">
          <h2 class="">LISTA MESES DISPONIBLES</h2>
        </div>
        <div class="col-12 col-md-6">
          <form [formGroup]='formularioMes'>
            <div class="row">
              <div class="col-12 col-md-8 mb-2">
                <label for="">Mes</label>
                <input  type="text" 
                        autocomplete="off"
                        class="form-control" 
                        placeholder="Ingrese el nombre del mes..."
                        formControlName="mes"
                        [ngClass]="{'is-invalid': formularioMesInvalido('mes'), 'is-valid': formularioMesValido('mes') }">
              </div>

              <div class="col-12 col-md-2 mb-2 d-flex flex-column justify-content-end" *ngIf="mesSeleccionado==undefined">
                <button class="btn btn-outline-primary mb-0  d-flex justify-content-center"
                        type="button"
                        (click)="createMes()">
                  <span class="material-icons">save</span>
                </button>
              </div>

              <div class="col-12 col-md-2 mb-2 d-flex flex-column justify-content-end" *ngIf="mesSeleccionado!=undefined">
                <button class="btn btn-outline-success mb-0  d-flex justify-content-center"
                        type="button"
                        (click)="updateMes()">
                  <span class="material-icons">mode_edit</span>
                </button>
              </div>


              <div class="col-12 col-md-2 mb-2 d-flex flex-column justify-content-end">
                <button class="btn btn-outline-danger mb-0  d-flex justify-content-center"
                        type="button"
                        (click)="cancelMes()">
                  <span class="material-icons">close</span>
                </button>
              </div>
            </div>  
          </form>
        </div>
      </div>
    </div>

    <div class="col-12 mb-2">
      <app-tabla  #tablaMes
                  [tituloItems]             = "tituloItemsMes"
                  [campoItems]              = "campoItemsMes"
                  [idItem]                  = "idItemMes"
                  [listaItems]              = "listaItemsMes"
                  [editar]                  = isPresidente()||isAdmin()
                  [eliminar]                = isPresidente()||isAdmin()
                  (editarItemSeleccionado)  = "updateMesEvent($event)"
                  (eliminarItemSeleccionado)= "deleteMes($event)">
      </app-tabla>
    </div>
  </div>
</div>
