  <div class="col-12 p-2 card">
    <div class="row my-2">
      <div class="col-12 col-md-6">
        <h2 class="my-0">LISTA DE MEDIDORES DISPONIBLES</h2>
      </div>

      <div class="col-12 col-md-6">
        <app-input-form #inputFormComponentCodigoMedidor                        
                        [type]="'text'"
                        [placeHolder]="'Código de medidor...'"
                        (dataOutput)="buscarMedidores($event)">
        </app-input-form>
      </div>
    </div>

    <div class="row mb-2">
      <app-table-paginator #tablaMedidoresComponent
                          [tituloItems]      = "tituloItems"
                          [campoItems]       = "campoItems"
                          [idItem]           = "idItem"
                          [listaItems]       = "listaMedidores"
                          [countItems]       = "countMedidor"
                          (cambioDePagina)   = "newPageOrChangeSizePage($event)"
                          (itemSeleccionado) = "selecionarMedidor($event)"
                        >
    </app-table-paginator>
    </div>
  </div>

