.container-guest{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.nav-bar-guest{
  height: 10%;
  width: 100%;
}

.body-guest{
  height: 65%;
  width: 100%;
}

.footer-guest{
  height: 25%;
  width: 100%;
}

.footer-min{
  height: 0%;
  display: none;
}

@media (max-width: 800px) {  
  .nav-bar-guest{
    height: 5%;
    width: 100%;
  }
  
  .body-guest{
    height: 90%;
    width: 100%;
  }
  
  .footer-guest{
    display: none;
  }
  
  .footer-min{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5%;
    background-color: black;
    color: white;
  }
}

@media (max-height : 800px) {  
  .nav-bar-guest{
    height: 5%;
    width: 100%;
  }
  
  .body-guest{
    height: 100%;
    width: 100%;
  }
  
  .footer-guest{
    display: none;
  }

  .footer-min{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5%;
    background-color: black;
    color: white;
  }
}

@media (max-height : 500px) {  
  .nav-bar-guest{
    height: 5%;
    width: 100%;
  }
  
  .body-guest{
    height: 100%;
    width: 100%;
  }
  
  .footer-guest{
    display: none;
  }

  .footer-min{
    display: none;
  }
}