<div class="container-guest">
    <div class="nav-bar-guest bg-dark text-white">
        <app-navbar></app-navbar>
    </div>
    
    <div class="body-guest">
        <router-outlet></router-outlet>
    </div>

    <div class="footer-guest">
        <app-footer></app-footer>
    </div>
    
    <div class="footer-min">
        Cabaña Violeta
    </div>
</div>
  
