<div class="container-fluid row m-0 p-0">
  <div class="col-12 m-0 card mb-2">
    <h1 class="m-0 py-2"><b>REGISTRAR LECTURA DEL MEDIDOR DE LOS SOCIOS</b></h1>
  </div>

  <div class="col-12 col-xl-6 p-0 pb-2">
    <div class="row pb-2" >
      <app-buscar-socio [tituloItems]      = "tituloItems"
                        [campoItems]       = "campoItems"
                        (itemSeleccionado) = "socioSeleccionadoEvent($event)"
                        (nuevaBusqueda)    = "nuevaBusquedaBuscadorSocio($event)">
      </app-buscar-socio>
    </div>
    
    <div class="col-12 mb-2 card">
      <div class="p-2">
        <h2>MEDIDORES DE SOCIO</h2>
      </div>
  
      <div class="p-2">
        <app-tabla  #tablaMedidoresSocioComponent
                    [tituloItems]       = "tituloItemsMedidor"
                    [campoItems]        = "campoItemsMedidor"
                    [idItem]            = "idItemMedidor"
                    [listaItems]        = "listaMedidoresDeSocio"
                    [textPosition]      = "'text-center'"
                    (itemSeleccionado)  = "medidorSeleccionadoEvent($event)">
        </app-tabla>
      </div>
    </div>

    <div class="col-12 pe-0">
      <div class="card">
        <div class="row p-2 pb-0">
          <h2 class="m-0">PERIODOS</h2>
        </div>

        <form [formGroup]='formularioGestion'>
          <div class="row p-2 pt-0 d-flex justify-content-end">
            <div class="col-6 d-flex flex-column">
              <select class="form-select form-select-sm"
                      formControlName="gestion"
                      (change)="getPeriodosDeAnioConCostoAguaConLectura()">
                <option [value]="0" [disabled]="true">Gestión...</option>
                <option [value]="gestion.idAnio" *ngFor="let gestion of listaItemsGestiones">{{gestion.anio}}</option>
              </select>
            </div>
          </div>
        </form>
  
        <div class="col-12 p-2">
          <app-tabla  #tablaPeriodosComponent
                      [tituloItems]      = "tituloItemsPeriodoAnioConCostoAguaConLectura"
                      [campoItems]       = "campoItemsPeriodoAnioConCostoAguaConLectura"
                      [idItem]           = "idItemPeriodoAnioConCostoAguaConLectura"
                      [listaItems]       = "ListaPeriodoAnioConCostoAguaConLectura"
                      (itemSeleccionado) = "periodoSeleccionadoEvent($event)"
                      >
          </app-tabla>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-xl-6 pe-0 ps-0 ps-xl-2">
    <div class="card mb-2">      
      <div class="row p-2 mb-2">
        <div class="col-12 col-md-6">
          <h2>REGISTRO LECTURA DE SOCIO</h2>
        </div>

        <div class="col-12 col-md-6 d-flex justify-content-end">
          <div class="col-12 col-md-6">
            <div class="text-centers"><b>Cod. Socio : </b> {{(socioSeleccionado)?socioSeleccionado.codigo: 'NO'}}</div>
            <div class="text-centers"><b>Cod. Medidor : </b> {{(medidorSeleccionado)?medidorSeleccionado.codigo:'NO' }} </div>
            <div class="text-centers"><b>Periodo : </b> {{(periodoAnioConCostoAguaConLecturaSeleccionado)? getPeriodoSeleccionado() :'NO' }}  </div>
          </div>        
        </div>
      </div>

      <form [formGroup]='formularioRegistroPeriodoLectura'>
        <div class="row">
          <div class="col-12 col-md-6 mb-2">
            <div class="mx-2">
              <span>Fecha registro</span>
              <input type="date" 
                    class="form-control"
                    formControlName="fechaRegistroLectura"
                    [ngClass]="{'is-invalid': campoLecturaInvalido('fechaRegistroLectura'), 'is-valid': campoLecturaValido('fechaRegistroLectura') }">
            </div>          
          </div>

          <div class="col-12 col-md-6 mb-2">
            <div class="mx-2">
              <span>Responsable</span>
              <input  type="text" 
                      autocomplete="off"
                      class="form-control"
                      formControlName="usuarioResponsable">
            </div>
          </div>

          <div class="col-12">
            <div class="mx-2">
              <span>Lectura del mes</span>
              <input  type="number" 
                      autocomplete="off"
                      class="form-control"
                      placeholder="Ingrese la lectura..."
                      formControlName="lecturaPeriodo"
                      (keyup.enter)="(periodoAnioConCostoAguaConLecturaRegistroLecturaSeleccionadoEditar==aux)?guardarRegistroLecturaPeriodo():actualizarRegistroLecturaPeriodo()"
                      [ngClass]="{'is-invalid': campoLecturaInvalido('lecturaPeriodo'), 'is-valid': campoLecturaValido('lecturaPeriodo') }">
            </div>
          </div>
        </div>
      </form>

      <div class="row m-0 p-0 py-2 mt-2 d-flex justify-content-center">
        <div class="col-12 col-md-5 col-xl-3 d-flex flex-column mb-2 mb-md-0">
          <button class="btn btn-outline-danger btn-sm"
                  (click)="cancelarRegistroLecturaPeriodo()">
            <span class="mdi mdi-close">CANCELAR</span>
          </button>
        </div>
        
        <div  class="col-12 col-md-5 col-xl-3 d-flex flex-column mb-2 mb-md-0" 
              *ngIf="periodoAnioConCostoAguaConLecturaRegistroLecturaSeleccionadoEditar==aux">
          <button class="btn btn-outline-primary btn-sm"
                  (click)="guardarRegistroLecturaPeriodo()">
            <span class="mdi mdi-plus"> GUARDAR </span>
          </button>
        </div>        

        <div  class="col-12 col-md-5 col-xl-3 d-flex flex-column mb-2 mb-md-0" 
              *ngIf="periodoAnioConCostoAguaConLecturaRegistroLecturaSeleccionadoEditar!=aux">
          <button class="btn btn-outline-success btn-sm"
                  (click)="actualizarRegistroLecturaPeriodo()">
            <span class="mdi mdi-pencil"> EDITAR </span>
          </button>
        </div>    
      </div>

      <div class="col-12 p-2">
        <app-tabla  #tablaPeriodosRegistroLecturaComponent
                    [tituloItems]              = "tituloItemsPeriodoAnioConCostoAguaConLectura"
                    [campoItems]               = "campoItemsPeriodoAnioConCostoAguaConLectura"
                    [idItem]                   = "idItemPeriodoAnioConCostoAguaConLectura"
                    [listaItems]               = "ListaPeriodoAnioConCostoAguaConLectura"
                    [editar]                   = "true"
                    [eliminar]                 = "isAdmin() || isPresidente()"
                    [textPosition]             = "'text-center'"
                    (itemSeleccionado)         = "seleccionarPeriodoRegistroLecturaEvent($event)"
                    (editarItemSeleccionado)   = "editarPeriodoRegistroLecturaEvent($event)"
                    (eliminarItemSeleccionado) = "eliminarPeriodoRegistroLecturaEvent($event)">
        </app-tabla>
      </div>
    </div>

    <div class="card">
      <div class="row p-2 pb-1 mb-2">
        <div class="col-12">
          <h2 class="p-0 my-2">INFORME LECTURA SOCIO</h2>
          <hr class="mt-2 mb-4">
        </div>
        
        <div class="col-12 col-md-6">
          <p><b>Lectura inicial :</b> {{ (lecturaPeridoMinMax.length!=0)? getLecturaMesIncial()  : ''}} </p>
          <p><b>Lectura final :</b> {{ (lecturaPeridoMinMax.length!=0)? getLecturaMesFinal() : ''}}</p>
        </div>

        <div class="col-12 col-md-6">
          <p><b>Volumen consumido M3 :</b> {{ (volumenCostoGestion)? volumenCostoGestion.volumenConsumidoGestion  : ''}} </p>
          <p><b>Costo total :</b> {{ (volumenCostoGestion)? volumenCostoGestion.costoAguaGestion  : ''}} </p>
        </div>
      </div>
    </div>
  </div>

</div>