<div class="container-fluid row m-0 p-0">
  <div class="col-12 mb-2 card">
    <h1 class="m-0 py-2"><b>COBRO DE DEUDA POR FALTA O RETRASO A REUNIÓN</b></h1>
  </div>

  <div class="col-12 mb-2 card">
    <div class="row my-2">
      <div class="col-12 col-md-7">
        <h2 class="my-0 py-1">LISTA DE SOCIOS CON FALTA O RETRAZO</h2>
      </div>

      <div class="col-12 col-md-5 ">
        <p class="m-0 p-0 fw-bolder text-end">Falta : {{nroSociosConFalta}}</p>
        <p class="m-0 p-0 fw-bolder text-end">Retraso : {{nroSociosConRetraso}}</p>
      </div>
    </div>

    <div class="col-12 mb-3 buscador">
      <app-buscador #buscardorComponent 
                    [titulo]                 = "'Buscar reuniones por nombre'"
                    [type]                   = "'text'"
                    [placeholder]            = "'Ingrese el nombre de una reunión'"
                    [idCampo]                = "'idEvento'"
                    [campo]                  = "'nombre'"
                    [listaResultadoBusqueda] = "listaEventosBusqueda"
                    (buscarTextoEvent)       = "buscarEventoBusqueda($event)"
                    (itemSeleccionadoEvent)  = "seleccionarEventoBusqueda($event)">            
      </app-buscador>
    </div>

    <div class="row d-flex justify-content-end">
      <div class="col-12 col-md-6">
        <form [formGroup]='buscadorSocio'>
          <div class="row d-flex justify-content-end pb-2">
            <div class="col-12 col-md-6">
              <label for="codigo">Código socio</label>
              <div class="input-group input-group-sm">
                <input  id="codigo" 
                        type="text" 
                        autocomplete="off"  
                        class=" form-control"
                        (ngModelChange)="buscarTextoPorCodigo()"
                        formControlName="codigo">
                <button class="btn btn-outline-secondary " type="button">
                  <span class="material-icons d-flex justify-content-center">search</span>
                </button>
              </div>
            </div>
    
            <div class="col-12 col-md-6">
              <label for="nombre">Nombres socio</label>
              <div class="input-group input-group-sm">
                <input  id="nombre" 
                      type="text" 
                      autocomplete="off"  
                      class=" form-control"
                      (ngModelChange)="buscarTextoPorNombre()"
                      formControlName="nombres">
                <button class="btn btn-outline-secondary" type="button">
                  <span class="material-icons d-flex justify-content-center">search</span>
                </button>
              </div>          
            </div>        
          </div>
        </form>
      </div>

      <div class="col-12 table-reunion">
        <div class="table-responsive">
          <table class="table table-hover table-sm" id="tableCobroRetrazoFaltaAreunion">
            <thead style="background-color: #154360;">
              <tr>
                <th scope="col" class="align-middle text-center fw-normal p-2 text-white"
                    *ngFor="let tituloSocSegEvento of listaTitulosSociosSegEvento;index as i">
                  {{tituloSocSegEvento}}
                </th>
              </tr>
            </thead>
        
            <tbody>
              <tr class="pointer" 
                  *ngFor="let socioSegEvento of listaSociosEvento; index as i"
                  [ngStyle]="{'background-color': (socioSegEvento.seleccionado)?'#85C1E9':'#FFFFFF' }"
                  (click)="seleccionarSeguimientoEvento(socioSegEvento)">  
                  <td class="align-middle text-center" scope="row">
                    {{i+1}}
                  </td> 
                  
                  <td class="align-middle text-center" scope="row" 
                      *ngFor="let campo of listaCamposSociosSegEvento">
                    <div *ngIf="esTipoBoolean(socioSegEvento[campo]); else elseBlock">
                      <input  class="form-check-input mx-2"                
                              type="checkbox"
                              [checked]=socioSegEvento[campo]                           
                              [disabled]="true">
                    </div>
                    
                    <ng-template #elseBlock>
                      {{ socioSegEvento[campo] }}
                    </ng-template>                   
                  </td>
                  
                  <td class="align-middle text-center" scope="row">
                    <div *ngIf="socioSegEvento.estadoSeguimientoEvento=='RETRASO'">
                      {{ socioSegEvento.multaRetraso }}
                    </div> 

                    <div *ngIf="socioSegEvento.estadoSeguimientoEvento=='RETRASO_FINAL'">
                      {{ socioSegEvento.multaRetrasoFinal }}
                    </div> 

                    <div *ngIf="socioSegEvento.estadoSeguimientoEvento=='FALTO'">
                      {{ socioSegEvento.multaFalta }}
                    </div> 
                  </td> 

                  <td class="align-middle text-center" scope="row">
                    <input  class="form-check-input mx-2"
                            id="check{{socioSegEvento.idSeguimientoEvento}}"                
                            type="checkbox"
                            [checked]=socioSegEvento.cancelado
                            [disabled]="socioSegEvento.estadoMulta == 'NO_APLICA'"
                            (change)="cobrarMultaSocio(socioSegEvento,$event)">
                  </td> 
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 mb-2 py-2 card">    
    <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoXLSX()">      
    </app-imprimir-pdf>
  </div>
</div>