<div class="container-fluid row m-0 p-0">
  <div class="col-12 px-2 mb-2 card">
    <h1 class="m-0 py-2"><b>DETERMINACIONES DE LA EVENTO</b></h1>
  </div>
  
  <div class="mb-2 pb-2 card">
    <div class="col-12 pt-2">
      <h2 class="">ESTABLECER DETERMINACIONES</h2>
    </div>

    <form [formGroup]='formularioDeterminacionesEvento'>
      <div class="row d-flex justify-content-end">      
        <div class="col-12 mb-2 buscador">            
          <app-buscador #buscardorCreateComponent
                        [titulo]                 = "'Buscar eventos realizadas'"
                        [type]                   = "'text'"
                        [placeholder]            = "'Ingrese el nombre de un evento'"
                        [idCampo]                = "'idEvento'"
                        [campo]                  = "'nombre'"
                        [listaResultadoBusqueda] = "listaEventosCreate"
                        (buscarTextoEvent)       = "buscarEventoCreate($event)"
                        (itemSeleccionadoEvent)  = "seleccionarEventoCreate($event)">            
          </app-buscador>          
        </div>

        <div  class="col-12"
              formArrayName="determinacionesEvento">
          <div  class=" row pe-0 mb-2"
                *ngFor="let determinacionEvento of determinacionesEvento.controls;index as i"
                [formGroupName]="i">   
            <div class="col-12 col-md-2">
              <label class="pb-1">Nro.</label>
              <input  type="number"
                      autocomplete="off"
                      class="form-control"
                      placeholder="#..."
                      formControlName="nro"
                      [ngClass]="{'is-invalid': campoDeterminacionEventoInvalido(i,'nro'), 'is-valid': campoDeterminacionEventoValido(i,'nro') }">
            </div>

            <div class="col-12 col-md-9">
              <label class="pb-1">Nombre de la determinación</label>
              <input  type="text"
                      autocomplete="off"
                      class="form-control"
                      placeholder="Ingrese el nombre de la determinación..."
                      formControlName="nombreDeterminacion"
                      [ngClass]="{'is-invalid': campoDeterminacionEventoInvalido(i,'nombreDeterminacion'), 'is-valid': campoDeterminacionEventoValido(i,'nombreDeterminacion') }">
            </div>

            <div  class="col-12 col-md-1 d-flex flex-column justify-content-end mt-2 mt-md-0" 
                  *ngIf="i==0"> 
              <button [disabled]="determinacionEventoEditarSeleccionado!=aux"
                      class="btn btn-outline-primary d-flex justify-content-center"
                      type="button"
                      (click)="aniadirNuevaDeterminacionFormulario()">
                <span class="material-icons">add</span>
              </button>
            </div>

            <div class="col-12 col-md-1 d-flex flex-column justify-content-end mt-2 mt-md-0" 
                  *ngIf="i!=0">
              <button class="btn btn-outline-danger d-flex justify-content-center"
                      type="button"
                      (click)="eliminarDeterminacionEventoFormulario(i)">
                <span class="material-icons" >close</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row py-1 d-flex justify-content-center">
        <div class="d-flex flex-column col-12 col-md-4 col-lg-3 col-xl-2 mb-2 mb-md-0">
          <button class="btn btn-outline-danger"
                  type="button"
                  (click)="cancelarDeterminacionEvento()">
            <span class="mdi mdi-trash-can"></span>
            Cancelar
          </button>
        </div>

        <div  class="d-flex flex-column col-12 col-md-4 col-lg-3 col-xl-2 mb-2 mb-md-0"
              *ngIf="determinacionEventoEditarSeleccionado==aux">   
          <button class="btn btn-outline-primary"
                  type="button"
                  (click)="crearDeterminacionEvento()">
            <span class="mdi mdi-content-save"></span>
            Guardar
          </button>
        </div>

        <div  class="d-flex flex-column col-12 col-md-4 col-lg-3 col-xl-2 mb-2 mb-md-0"
              *ngIf="determinacionEventoEditarSeleccionado!=aux">   
          <button class="btn btn-outline-success"
                  type="button"
                  (click)="actualizarDeterminacionEvento()">
            <span class="mdi mdi-content-save"></span>
            Actualizar
          </button>
        </div>
      </div> 
    </form>
  </div>

  <div class="mb-3 pb-2 position-static card">
    <div class="row my-2">
      <div class="col-12 col-md-6">
        <h2 class="m-0 p-0">LISTA DE DETERMINACIONES DE UNA EVENTO</h2>
      </div>

      <div class="col-12 col-md-6 buscador">
        <app-buscador #buscardorListaComponent
                      [titulo]                 = "'Buscar eventos realizados'"
                      [type]                   = "'text'"
                      [placeholder]            = "'Ingrese el nombre de un evento'"
                      [idCampo]                = "'idEvento'"
                      [campo]                  = "'nombre'"
                      [listaResultadoBusqueda] = "listaEventosListar"
                      (buscarTextoEvent)       = "buscarEventoListar($event)"
                      (itemSeleccionadoEvent)  = "seleccionarEventoListar($event)">            
          </app-buscador>
      </div>
    </div>  
    
    <div class="row">
      <app-tabla  #tablaDeterminacionReunion
                  [tituloItems]              = "tituloDeterminacionEvento"
                  [campoItems]               = "campoDeterminacionEvento"
                  [idItem]                   = "idDeterminacionEvento"
                  [listaItems]               = "listaDeterminacionEvento"
                  [editar]                   = "true"
                  [eliminar]                 = "isPresidente()||isAdmin()"
                  [idTable]                  = "'tablaDeterminacionReunion'"
                  (editarItemSeleccionado)   = "updateDeterminacionEventoEvent($event)"
                  (eliminarItemSeleccionado) = "eliminarDeterminacionEventoEvent($event)">
      </app-tabla>
    </div>
  </div>

  <div class="col-12 mb-2 py-2 card">    
    <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoXLSX()">      
    </app-imprimir-pdf>
  </div>
</div>