.body-home{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.welcome-guest {
  display: flex;
  flex-direction: column;
  height: 10%;
  width: 100%;
}

.body-home-guest {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 100%;
}

.imagen1 {
  height: 90%;
  width: 15%;
  padding: 0.5%;
}

.imagen2 {
  height: 90%;
  width: 50%;
  padding: 0.5%;

}

.imagen3 {
  height: 90%;
  width: 15%;
  padding: 0.5%;
}

.img{
  height: 100%;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  
  
}

.flecha {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 5%;
  align-items: center;
}

.icon {
  font-size: 4em;
  background-color: aqua;
}

.welcome-guest{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
}

@media (max-width: 1200px) {
  .imagen1 {
    display: none;
  }

  .imagen3 {
    display: none;
  }

  .imagen2 {
    width: 80%;
  }
}

@media (max-width: 800px) {
  .welcome-guest {
    display: none;
  }

  .body-home {
    height: 100%;
  }
}
