<div class="body-home">
    <div class="welcome-guest">
        <span>BIENVENIDOS A LA ASOCIACIÓN DE AGUA POTABLE CABAÑA VIOLETA</span>
    </div>

    <div class="body-home-guest">
        <div class="flecha">
            <span class="material-icons pointer" (click)="girarIzquierda()">
                arrow_back_ios
            </span>
        </div>

        <div class="imagen1">
            <img src={{imagePaths[0]}} class="img">
        </div>
    
        <div class="imagen2">
            <img src={{imagePaths[1]}} class="img">
        </div>
    
        <div class="imagen3">
            <img src={{imagePaths[2]}} class="img">
        </div>

        <div class="flecha">
            <span class="material-icons pointer" (click)="girarDerecha()">
                arrow_forward_ios
            </span>
        </div>
    </div>
</div>
