<div class="container-fluid row m-0 p-0">
  <div class="col-12 card mb-2">
      <h1 class="m-0 py-2"><b>BUSQUEDA DE MEDIDORES ASIGNADOS A SOCIOS</b></h1>
  </div>

  <div class="col-12 card mb-2">
    <div class="row my-2">    
      <div class="col-12 col-lg-8">
        <h2>BUSCAR MEDIDORES DE SOCIO</h2>
      </div>
     
      <div class="col-12 col-lg-4 d-flex flex-column">
        <app-input-form #inputFormComponentCodigoSocio
                        [title]="'Buscar medidores por codigo de socio'"
                        [type]="'text'"
                        [placeHolder]="'Código de socio...'"
                        (dataOutput)="busquedaPorCodigoDeSocio($event)">
        </app-input-form>
      </div> 
    </div>
  </div>

  <div class="col-12 px-2 card py-3">
    <app-table-paginator-multiple-rows-v2 #tablaListaSocios
                                          [tituloItemsTabla]      = "tituloItemsTabla"
                                          [campoItemsFiltrado]    = "campoItemsFiltrado"
                                          [campoSubItemsFiltrado] = "campoSubItemsFiltrado"
                                          [idItemFiltrado]        = "idItemFiltrado"
                                          [idItem]                = "idItem"
                                          [countItems]            = "countSocios"
                                          [camposItem]            = "camposItem"
                                          [idCampoSubItem]        = "idCampoSubItem"
                                          [camposSubItem]         = "camposSubItem"
                                          [listaItems]            = "listaDeSociosMedidor"
                                          [pagePaginator]         = "false">
    </app-table-paginator-multiple-rows-v2>
  </div>
</div>
