<div class="col-12 mb-2 card">
  <h1 class="m-0 p-2"><b>REPORTE DE INGRESOS POR COBRO FALTA Y RETRAZOS A EVENTOS REALIZADOS</b></h1>
</div>

<div class="col-12 mb-2 card">
  <div class="row m-0 p-0 py-2">
    <div class="col-12 col-md-6 d-flex align-items-center">
      <h2 class="m-0 p-0">BUSQUEDA EN RANGO FECHA</h2>
    </div>

    <div class="col-12 col-md-6">
      <app-rango-fecha  #rangoFechaComponent
                        (cambioFechaEvent)="getReporte($event)">          
      </app-rango-fecha>
    </div>
  </div>
</div>

<div class="col-12 mb-2 card">
  <h3 class="m-0 p-0 ms-2"><b>RESUMEN DE LAS MULTAS</b></h3>

  <div class="table-responsive m-2">
    <table  class="table table-hover table-sm" 
            id="tableResultadosGenerales">
      <thead style="background-color: #154360;">
        <tr>
          <th scope="col" class="align-middle fw-normal p-2 text-white text-center">#</th>
          <th scope="col" class="align-middle fw-normal p-2 text-white text-center">Nombre</th>
          <th scope="col" class="align-middle fw-normal p-2 text-white text-center">Total</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngIf="historialCobroReunionesData && banderaLecturaCorrecta">
          <td class="text-center" [ngStyle]="{'border-right':'1px solid #ABB2B9'}"> 1 </td>
          <td class="text-center" [ngStyle]="{'border-right':'1px solid #ABB2B9'}"> Multa por retrazo </td>
          <td class="text-center" [ngStyle]="{'border-right':'1px solid #ABB2B9'}">{{ historialCobroReunionesData?.sumaIngresoRetrazoAReuniones }}</td>
        </tr>

        <tr *ngIf="historialCobroReunionesData && banderaLecturaCorrecta">
          <td class="text-center" [ngStyle]="{'border-right':'1px solid #ABB2B9'}"> 2 </td>
          <td class="text-center" [ngStyle]="{'border-right':'1px solid #ABB2B9'}"> Multa por retrazo final </td>
          <td class="text-center" [ngStyle]="{'border-right':'1px solid #ABB2B9'}">{{ historialCobroReunionesData?.sumaIngresoRetrazoFinalAReuniones }}</td>
        </tr>

        <tr *ngIf="historialCobroReunionesData && banderaLecturaCorrecta">
          <td class="text-center" [ngStyle]="{'border-right':'1px solid #ABB2B9'}"> 3 </td>
          <td class="text-center" [ngStyle]="{'border-right':'1px solid #ABB2B9'}"> Multa por falta </td>
          <td class="text-center" [ngStyle]="{'border-right':'1px solid #ABB2B9'}">{{ historialCobroReunionesData?.sumaIngresoFaltaAReuniones }}</td>
        </tr>

        <tr [ngStyle]="{'background-color': '#EBEDEF'}" 
            class="text-center fw-bold"
            *ngIf="historialCobroReunionesData && banderaLecturaCorrecta">
          <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}">4</td>
          <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}">Suma total</td>
          <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}">{{ historialCobroReunionesData?.sumaIngresoTotal }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="col-12 mb-2 py-2 card">    
  <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoXLSX('tableResultadosGenerales')">      
  </app-imprimir-pdf>
</div>

<div class="col-12 mb-2 card">
  <h3 class="m-0 p-0 ms-2"><b>REPORTE DETALLADO DEL REPORTE</b></h3>

  <div class="table-responsive m-2">
    <table  class="table table-hover table-sm" 
            id="tableResultadosIngresoCobroReuniones">
      <thead style="background-color: #154360;">
        <tr>
          <th scope="col" 
              class="align-middle fw-normal p-2 text-white text-center"
              *ngFor="let titulo of listaTituloItems">
            {{titulo}}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let eventoSocio of listaHistorialCobroReunionesDataTratado"
            (click)="seleccionarItem(eventoSocio)"     
            [ngStyle]="{'background-color': (eventoSocio.seleccionado)?'#85C1E9':'#FFFFFF'}"
            class="pointer">

          <!-- evento -->
          <ng-container *ngIf="eventoSocio.indexGlobalEvento==0">
            <td class="align-middle text-center"
                scope="row"
                [attr.rowspan]="eventoSocio.nroRowsListaSocioSeguimiento"
                [ngStyle]="{'color': (isTypeOfBoolean(eventoSocio[campoEvento]))? (eventoSocio[campoEvento])?'red':'#28B463' : 'black', 'font-weight': (isTypeOfBoolean(eventoSocio[campoEvento]))?'bold':'', 'border-right':'1px solid #EAECEE'}"
                *ngFor="let campoEvento of listaCampoEvento">                      
                {{ getValue(eventoSocio[campoEvento]) }}
            </td>
          </ng-container>
          
          <!-- estado socio seguimineot reunion -->
          <td class="align-middle text-center"
              scope="row"
              [attr.rowspan]="1"
              [ngStyle]="{'color': (isTypeOfBoolean(eventoSocio[seguimientoReunion]))? (eventoSocio[seguimientoReunion])?'red':'#28B463' : 'black', 'font-weight': (isTypeOfBoolean(eventoSocio[seguimientoReunion]))?'bold':'', 'border-right':'1px solid #EAECEE'}"
              *ngFor="let seguimientoReunion of listaCampoSocioSeguimiento">                      
              {{ getValue(eventoSocio[seguimientoReunion]) }}
          </td>
        </tr>

        <tr class="text-center fw-bold"
            [ngStyle]="{'background-color': '#EBEDEF'}"
            *ngIf="historialCobroReunionesData!=aux">
          <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}">
              {{ historialCobroReunionesData?.eventoList.length+1 }}
          </td>  
          <td [attr.colspan]="14"
              [ngStyle]="{'border-right':'1px solid #ABB2B9'}">
              Suma total
          </td>
          <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}">
              {{ historialCobroReunionesData?.sumaIngresoTotal }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="col-12 mb-2 py-2 card">    
  <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoXLSX('tableResultadosIngresoCobroReuniones')">      
  </app-imprimir-pdf>
</div>
