
<div class="col-12 mb-2 p-2 card">
  <h1 class="m-0 p-0"><b>ASIGNAR / DESASIGNAR MEDIDOR DE SOCIO</b></h1>
</div>       

<div class="row m-0 p-0">
  <div class="col-12 col-xl-8 mb-2 p-0">
    <div class="row m-0 p-0">
      <div class="col-12 m-0 p-0 mb-2">
        <app-buscar-socio #buscarSocioComponent
                          [tituloItems]      = "tituloItems"
                          [campoItems]       = "campoItems"
                          (itemSeleccionado) = "socioSeleccionadoEvent($event)"
                          (nuevaBusqueda)    = "nuevaBusquedaBuscadorSocio($event)">
        </app-buscar-socio>
      </div>

      <div class="col-12 m-0 p-0 mb-2">
        <app-lista-medidores-sin-asignar-a-socio  #medidoresDisponiblesComponent
                                                  (seleccionarMedidor)="seleccionarMedidorEvent($event)">      
        </app-lista-medidores-sin-asignar-a-socio>
      </div>

      <div class="col-12 m-0 p-2 mb-2 card">
        <h2>LISTA DE MEDIDORES ASIGNADOS A SOCIO</h2>
        <app-tabla  #medidoresDeSocioTable
                    [tituloItems]              = "tituloItemsMedidor"
                    [campoItems]               = "campoItemsMedidor"
                    [idItem]                   = "idItemMedidor"
                    [listaItems]               = "listaMedidoresDeSocio"
                    [editar]                   = "true"
                    [eliminar]                 = isPresidente()||isAdmin()
                    (editarItemSeleccionado)   = "actualizarAsignacionDeMedidorEvent($event)"
                    (eliminarItemSeleccionado) = "desasignarAsignacionDeMedidorEvent($event)"                  >
        </app-tabla>
      </div>

    </div>
  </div>
  
  <div class="col-12 col-xl-4 p-0 ps-xl-2">    
    <form [formGroup]='formularioAsignarMedidor'>
      <div class="card p-2">
        <div class="row m-0">
          <div class="col-12 ">
            <h2 class="my-0" *ngIf="!banderaDesasignar">REGISTRO PARA ASIGNAR MEDIDOR DE SOCIO</h2>
            <h2 class="my-0" *ngIf="banderaDesasignar">REGISTRO PARA DESASIGNAR MEDIDOR DE SOCIO</h2>
          </div>

          <div class="col-12 px-1 pb-2">
            <h3 class="my-0 mx-2 text-end"><strong>Código de socio : </strong>{{(socioSeleccionado==undefined)?'':socioSeleccionado.codigo}}</h3>

            <h3 class="my-0 mx-2 text-end" *ngIf="banderaGuardar"><strong>Código de medidor : </strong>{{(medidorSeleccionado==undefined)?'':medidorSeleccionado.codigo}}</h3>
            <h3 class="my-0 mx-2 text-end" *ngIf="banderaActualizar"><strong>Código de medidor : </strong>{{(medidorSeleccionadoActualizar==undefined)?'':medidorSeleccionadoActualizar.codigo}}</h3>
            <h3 class="my-0 mx-2 text-end" *ngIf="banderaDesasignar"><strong>Código de medidor : </strong>{{(medidorSeleccionadoDesasignar==undefined)?'':medidorSeleccionadoDesasignar.codigo}}</h3>
          </div>

          <div class="col-12 d-flex flex-column my-2">
            <label for="lecturaActual" class="pb-1">Lectura Actual</label>
            <input  type            = "number" 
                    class           = "form-control"  
                    [disabled]      = 'true'
                    placeholder     = "Ingrese lectura actual..."
                    formControlName = "lecturaActual"
                    [ngClass]       = "{'is-invalid': campoInvalido('lecturaActual'), 'is-valid': campoValido('lecturaActual') }">
          </div>
          
          <div class="col-12 d-flex flex-column my-2">
            <label for="fechaAsignacion" class="pb-1">Fecha Registro</label>
            <input  type="date"
                    autocomplete="off" 
                    class="form-control"
                    formControlName="fechaAsignacion"
                    [ngClass]="{'is-invalid': campoInvalido('fechaAsignacion'), 'is-valid': campoValido('fechaAsignacion') }">
            
          </div> 

          <div class="col-12 d-flex flex-column my-2">
            <label for="categoria" class="pb-1">Categoria</label>
            <select class="form-select"
                    formControlName="categoria"
                    [ngClass]="{'is-invalid': campoInvalido('categoria'), 'is-valid': campoValido('categoria')}">
              <option [value]="0"[disabled]="true">Seleccione una categoría...</option>
              <option [value]="categoria.idCategoria" *ngFor="let categoria of listaItemsCategoria">
                {{categoria.codigo}} - {{categoria.nombre}}
              </option>
            </select>
          </div>

          <div class="col-12 d-flex flex-column my-2">
            <label for="tanqueAgua" class="pb-1">
              Tanque de Agua
            </label>
            <select class="form-select"
                    formControlName="tanqueAgua"
                    [ngClass]="{'is-invalid': campoInvalido('tanqueAgua'), 'is-valid': campoValido('tanqueAgua')}">
              <option [value]="0" [disabled]="true">
                Seleccione un tanque de agua...
              </option>
              <option [value]="tanqueAgua.idTanqueAgua" 
                      *ngFor="let tanqueAgua of listaTanqueAgua">
                {{tanqueAgua.codigo}} - {{tanqueAgua.nombre}}
              </option>
            </select>
          </div>

          <div class="col-12 mt-2 d-flex flex-column">
            <label for="direccion" class="pb-1" *ngIf="banderaGuardar || banderaActualizar">
              Direccion
            </label>
            <label for="direccion" class="pb-1" *ngIf="banderaDesasignar">
              Motivo
            </label>
            <textarea type="text" 
                      id="direccion"
                      rows="3" 
                      placeholder="Descripción..."
                      class="form-control"  
                      formControlName="direccion"
                      [ngClass]="{'is-invalid': campoInvalido('direccion'), 'is-valid': campoValido('direccion') }">
            </textarea>
          </div> 

          <div class="col-12 mt-2">
            <div class="row d-flex justify-content-center">
              <div class="col-12 col-lg-4 col-xl-6 py-1 d-flex flex-column">    
                <button class="btn btn-outline-danger"
                        type="button"
                        (click)="cancelarRegistroSocioMedidor()">
                  <span class="mdi mdi-trash-can"></span>
                  Cancelar
                </button>
              </div>
              
              <div class="col-12 col-lg-4 col-xl-6 py-1 d-flex flex-column" *ngIf="banderaGuardar">   
                <button class="btn btn-outline-primary"
                        type="button"
                        (click)="guardarRegistroSocioMedidor()">
                  <span class="mdi mdi-content-save"></span>
                  Guardar
                </button>
              </div>

              <div class="col-12 col-lg-4 col-xl-6 py-1 d-flex flex-column" *ngIf="banderaActualizar">   
                <button class="btn btn-outline-success"
                        type="button"
                        (click)="guardarActualizarMedidor()">
                  <span class="mdi mdi-content-save"></span>
                  Editar
                </button>
              </div>

              <div class="col-12 col-lg-4 col-xl-6 py-1 d-flex flex-column" *ngIf="banderaDesasignar">   
                <button class="btn btn-outline-warning"
                        type="button"
                        (click)="guardarDesasignarMedidor()">
                  <span class="mdi mdi-content-save"></span>
                  Desasignar
                </button>
              </div>
            </div> 
          </div>

        </div>
      </div>
    </form>
  </div> 
</div>
