<div class="container-fluid row m-0 p-0">
  <div class="col-12 px-2 mb-2 card">
    <h1 class="m-0 py-2"><b>ACTAS Y/O DOCUMENTOS DE EVENTOS</b></h1>
  </div>

  <div class="col-12 mb-2 card">
    <div class="row pt-2">
      <h2 class="m-0 py-0">CONFIGURAR ACTA DE EVENTO</h2>
    </div>

    <form [formGroup]='formularioActaEvento'>
      <div class="row py-1">
        <div class="col-12 col-md-5 buscador">
          <app-buscador #buscardorComponent
                        [titulo]                 = "'Buscar eventos realizados'"
                        [type]                   = "'text'"
                        [placeholder]            = "'Ingrese el nombre del evento'"
                        [idCampo]                = "'idEvento'"
                        [campo]                  = "'nombre'"
                        [listaResultadoBusqueda] = "listaEventosSinActa"
                        (buscarTextoEvent)       = "buscarEvento($event)"
                        (itemSeleccionadoEvent)  = "seleccionarEvento($event)">
          </app-buscador>
        </div>

        <div class="col-12 col-md-7">
          <label class="pb-1">Seleccionar acta y/o documento</label>
          <input  id="file"
                  type="file" 
                  class="form-control"
                  formControlName="acta"
                  accept="application/pdf"
                  (change)="changeFile($event)"
                  [ngClass]="{'is-invalid': campoEventoInvalido('acta'), 'is-valid': campoEventoValido('acta') }">          
        </div>

        <div class="row m-0 p-0 pt-2 d-flex justify-content-center">
          <div class="d-flex flex-column col-12 col-md-4 col-lg-3 col-xl-2 py-1">    
            <button class="btn btn-outline-danger"
                    type="button"                    
                    (click)="cancelarUploadActa()">
              <span class="mdi mdi-close"></span>
              Cancelar
            </button>
          </div>
          
          <div  class="d-flex flex-column col-12 col-md-4 col-lg-3 col-xl-2 py-1" 
                *ngIf="eventoEditar!=aux">   
            <button class="btn btn-outline-success"
                    type="button"
                    (click)="actualizarActa()">
              <span class="mdi mdi-content-save"></span>
              Actualizar
            </button>
          </div>
  
          <div  class="d-flex flex-column col-12 col-md-4 col-lg-3 col-xl-2 py-1" 
                *ngIf="eventoEditar==aux">   
            <button class="btn btn-outline-primary"
                    type="button"
                    (click)="createActa()">
              <span class="mdi mdi-content-save"></span>
              Guardar
            </button>
          </div>
        </div> 
      </div>
    </form>
  </div>

  <div class="col-12 mb-2 position-static card" *ngIf="srcBase64!=aux">
    <div class="row pt-2">
      <div class="col-12">
        <h2 class="m-0 py-2 text-center">ACTA DEL EVENTO</h2>
      </div>

      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-3 col-lg-2">
          <div class="row">
            <div class="col-12 col-md-4 d-flex justify-content-end">
              <button type="button" 
                      class="btn btn-outline-secondary"
                      (click)="zoomMinus()">
                <span class="material-icons md-24 m-0 p-0 d-flex align-items-center">
                  remove_circle_outline
                </span>
              </button>
            </div>
    
            <div class="col-12 col-md-4 d-flex d-block">
              <input  type="number" 
                      autocomplete="off"
                      disabled class="form-control form-control-sm text-center" 
                      [value]="zoomValue">
            </div>
    
            <div class="col-12 col-md-4 d-flex justify-content-start">
              <button type="button" 
                      class="btn btn-outline-secondary"
                      (click)="zoomPlus()">
                <span class="material-icons md-24 d-flex align-items-center pointer">
                  add_circle_outline
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row pt-2 px-5">
      <div class="pdf-container">
        <pdf-viewer
          [src]="srcBase64"
          [rotation]="0"
          [original-size]="false"
          [show-all]="true"
          [fit-to-page]="false"
          [zoom]="zoomValue"
          [zoom-scale]="'page-width'"
          [stick-to-page]="false"
          [render-text]="true"
          [external-link-target]="'blank'"
          [autoresize]="true"
          [show-borders]="false"
          style="width: 100%; height: 60rem"
        ></pdf-viewer>
      </div> 
    </div> 
  </div>

  <div class="col-12 mb-2 position-static card">
    <div class="row pt-2">
      <h2 class="m-0 py-0">LISTA DE EVENTOS REALIZADOS</h2>
    </div>

    <div class="row pt-2">
      <app-table-paginator  #tablaEventosRealizados
                            [tituloItems]    = tituloEventosConActa
                            [campoItems]     = campoEventosConActa
                            [idItem]         = idEventosConActa
                            [listaItems]     = listaEventosConActa
                            [countItems]     = countlistaEventosConActa
                            [descargar]      = true
                            [ver]            = true
                            [update]         = true
                            [idTable]        = "'tablaEventosRealizados'"
                            (verItem)        = "verActaDeEvento($event)"
                            (descargarItem)  = "descargarActaDeEvento($event)"
                            (updateItem)     = "updateEvento($event)"
                            (cambioDePagina) = "cambioDePagina($event)">
      </app-table-paginator>
    </div>
  </div>

  <div class="col-12 mb-2 py-2 card">    
    <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoXLSX()">      
    </app-imprimir-pdf>
  </div>
</div>
