<div class=" table-responsive">   
  <table class="table" id={{idTable}}>
    <thead style="background-color: #154360;">
      <tr>
        <th scope="col"
            class="align-middle fw-normal p-2 text-white"
            *ngFor="let titulo of tituloItemsTabla">
          {{titulo}}
        </th>

        <th *ngIf="update || delete" class="fw-normal p-2 text-white">
          <div class="d-flex justify-content-center">
            Opciones
          </div>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr class="pointer"
          *ngFor="let item of listaItemsFiltrado; index as i"
          (click)="seleccionarItem(item)"
          (ngModel)="idItemSeleccionado"          
          [ngStyle]="{'background-color': (item.seleccionado)?'#85C1E9': (idItemSeleccionado==item[idItemFiltrado])? '#A9CCE3':'#FFFFFF' }">          
                    
          <ng-container *ngIf="item.indexLocal==1">
            <td *ngFor="let campo of campoItemsFiltrado"
                [attr.rowspan]="item.rows"
                class="align-middle"
                scope="row"
                [ngStyle]="{'color': (tipoBoolean(item[campo]))? (item[campo])?'#28B463':'red' : 'black', 'font-weight': (tipoBoolean(item[campo]))?'bold':''}"
                >
              {{ getResultData(item[campo]) }}
            </td>
          </ng-container>

          <td *ngFor="let campo of campoSubItemsFiltrado"
              class="align-middle"
              scope="row"
              [ngStyle]="{'color': (tipoBoolean(item[campo]))? (item[campo])?'#28B463':'red' : 'black', 'font-weight': (tipoBoolean(item[campo]))?'bold':''}">
            {{ getResultData(item[campo]) }}
          </td>
         
          <!-- Opciones: update, delete --> 
          <td *ngIf="(update || delete) && item.indexLocal==1"
              [attr.rowspan]="item.rows" 
              class="align-middle">
            <div class="d-flex justify-content-center">
              <button *ngIf="update" class="btn btn-outline-success mx-1"
                      type="button"
                      (click)="updateItemEvent(item)">
                <span class="mdi mdi-pencil"></span>
              </button>
            
              <button *ngIf="delete" class="btn btn-outline-danger mx-1"
                      type="button"
                      (click)="deleteItemEvent(item)">
                <span class="mdi mdi-close"></span>
              </button>
            </div>
          </td>
      </tr>
    </tbody>
  </table>
</div>    

<div class="row" *ngIf="pagePaginator">
  <div class="col-12"> 
    <mat-paginator  [length]          = "lengthList"
                    [pageSize]        = "pageSize" 
                    [pageSizeOptions] = "pageSizeOptions"
                    (page)            = "cambioSizePaginaOrPagina($event)"
                    aria-label        = "Select page">
    </mat-paginator>
  </div>
</div>