.body-home{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
}

.img {
  height: 80%;
  width: 80%;
  border-radius: 5px;
}

.content-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
}

.card-login {
  height: 80%;
  width: 80%;
  padding: 10% 7%;
  border: 1px solid #D5D8DC;
  border-radius: 5px;
}


.spinner-on {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.spinner-off {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 10%;
  width: 100%;
  height: 65%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.rec-password:hover{
  color: #85C1E9;
}

@media (max-width: 1500px) {
  .logo {
    width: 50%;
  }

  .content-login {
    width: 50%;
  }
}

@media (max-width: 1000px) {
  .logo {
    display: none;
  }

  .content-login {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .logo {
    display: none;
  }

  .content-login {
    width: 80%;
  }
}


@media only screen and (min-height: 0px) and (max-height: 400px) {
	.logo {
    height: 80%;
  }

  .content-login {
    height: 95%;
    border: none;
    border-radius: 0px;
  }

  .card-login {
    height: 100%;
    border: none;
    border-radius: 0px;
  }
}

@media only screen and (min-height: 400px) and (max-height: 600px) {
	.logo {
    height: 80%;
  }

  .content-login {
    height: 95%;
    border: 1px solid #D5D8DC;
    border-radius: 5px;
  }

  .card-login {
    height: 100%;
    border: none;
    border-radius: 0px;
  }
}

