<div class="body-home">
  <div class="logo">
    <img src="./assets/img.jpg" class="img">
  </div>

  <div class="content-login">
    <form class="card-login"
          [formGroup]="formularioLogin"
          (keyup.enter)="loginUser()">
          <div class="d-flex justify-content-center mb-4">
              <span><b>INICIO DE SESIÓN</b></span>
          </div>

          <div class="mb-4">
            <div class="mb-3">
              <label  for="userInput" 
                      class="form-label">
                Usuario
              </label>

              <input  type="email" 
                      class="form-control" 
                      formControlName="usuario"
                      email="true"
                      [ngClass]="{'is-invalid': campoInvalido('usuario'), 'is-valid': campoValido('usuario') }">
            </div>

            <div class="mb-4">
              <label  for="passwordInput" 
                      class="form-label">
                Contraseña
              </label>
              <input  type="password" 
                      autocomplete="off"
                      class="form-control"
                      formControlName="password"
                      [ngClass]="{'is-invalid': campoInvalido('password'), 'is-valid': campoValido('password') }">              
            </div>
          </div>
          
          <div class="row px-2">
              <button type="button" 
                      class="mb-3 btn btn-outline-primary"
                      (click)="loginUser()"
                      >
                Entrar
              </button>

              <button type="button" 
                      class="btn btn-outline-danger"
                      (click)="cancelarLogin()">
                Cancelar
              </button>
          </div>

          <div class="row mt-3">
            <span class="text-center pointer rec-password"
                  (click)="recuperarContrasenia(modalRecuperarContrasenia)">
              Recuperar contraseña
            </span>
          </div>
    </form>        
  </div>
</div>

<div class="spinner-off" #spinnerElement>
  <app-spinner></app-spinner>
</div>

<!-- RECUPERAR CONTRASEÑA -->
<ng-template #modalRecuperarContrasenia let-modal>
  <form [formGroup]="formuRecuperarContra"
        (keyup.enter)="enviarCorreoParaRecuperarContrasenia(modalNuevaContrasenia)">
    <div class="modal-header d-flex justify-content-center">
      <span class="modal-title">
        <b>RECUPERAR CONTRASEÑA</b>
      </span>
    </div>
  
    <div class="modal-body">
      <div>
        <span>Ingrese su nombre de usuario (correo elctronico)</span>
        <input  type="email"
                class="form-control form-control-sm my-1"
                email="true"
                formControlName="email"
                [ngClass]="{'is-invalid': campoInvalidoRecContra('email'), 'is-valid': campoValidoRecContra('email') }">
      </div>

      <div class="d-flex justify-content-center mt-3" *ngIf="banderaSpinnerCorreoElectronico">
        <span class="spinner-sm"></span>
      </div>
    </div>
    
    <div class="modal-footer">  
      <button type="button" 
              class="btn btn-outline-danger btn-sm" 
              (click)="modal.close('Close click')">
        CANCELAR
      </button>

      <button type="button" 
              class="btn btn-outline-primary btn-sm"
              (click)="enviarCorreoParaRecuperarContrasenia(modalNuevaContrasenia)"
              [disabled]="banderaSpinnerCorreoElectronico">
        ENVIAR
      </button>
    </div>
  </form>
</ng-template>

<!-- RECUPERAR CONTRASEÑA -->
<ng-template #modalNuevaContrasenia let-modal>
  <form [formGroup]="formuNuevaContra"
        (keyup.enter)="confirmarRecuperarContrasenia()">
    <div class="modal-header d-flex justify-content-center">
      <span class="modal-title">
        <b>RECUPERAR CONTRASEÑA</b>
      </span>
    </div>
    
    <div class="modal-body">
      <div>
        <span>Ingrese el código enviado a su correo electronico</span>
        <input  type="text" 
                class="form-control form-control-sm my-1"
                formControlName="codigo"
                [ngClass]="{'is-invalid': campoInvalidoNuevaContrasenia('codigo'), 'is-valid': campoValidoNuevaContrasenia('codigo') }">
    
        <span>Ingrese la nueva contraseña (mínimo 5 caracteres, sin espacio)</span>
        <input  type="password" 
                class="form-control form-control-sm my-1"
                formControlName="contrasenia1"
                [ngClass]="{'is-invalid': campoInvalidoNuevaContrasenia('contrasenia1'), 'is-valid': campoValidoNuevaContrasenia('contrasenia1') }">
    
        <span>Repita la nueva contraseña (mínimo 5 caracteres, sin espacio)</span>
        <input  type="password" 
                class="form-control form-control-sm my-1"
                formControlName="contrasenia2"
                [ngClass]="{'is-invalid': campoInvalidoNuevaContrasenia2('contrasenia2'), 'is-valid': campoValidoNuevaContrasenia2('contrasenia2') }">
      </div>

      <div class="d-flex justify-content-center mt-3" *ngIf="banderaSpinnerNuevaContrasenia">
        <span class="spinner-sm"></span>
      </div>
    </div>
  
    <div class="modal-footer">  
      <button type="button" 
              class="btn btn-outline-danger  btn-sm" 
              (click)="modal.close('Close click')">
        CANCELAR
      </button>

      <button type="button" 
              class="btn btn-outline-primary btn-sm"
              (click)="confirmarRecuperarContrasenia()">
        RECUPERAR CONTRASEÑA
      </button>
    </div>
  </form>
</ng-template>
