<div class=" table-responsive">   
  <table  class="table table-hover table-sm" 
          style="width:100%"
          id={{idTable}}>
    <thead style="background-color: #154360;">
      <tr>
        <th scope="col"
            class="align-middle  text-center fw-normal p-2 text-white"
            *ngFor="let titulo of tituloItems">
          {{titulo}}
        </th>

        <th scope="col"
            class="align-middle  text-center fw-normal p-2 text-white" 
            *ngIf="update || delete || ver || descargar"
            style="width:10%">
          Opciones
        </th>
      </tr>
    </thead>

    <tbody>
      <tr class="pointer"
          *ngFor="let item of listaItems; index as i"
          (click)="seleccionarItem(item)"
          (ngModel)="idItemSeleccionado"
          [ngStyle]="{'background-color': (item.seleccionado)?'#A9CCE3': (idItemSeleccionado==item[idItem])? '#85C1E9':'#FFFFFF' }">
          
          <td class="align-middle text-center"  
              scope="row">
              {{i+1}}
          </td>

          <td class="align-middle" 
              *ngFor="let campo of campoItems"
              [ngStyle]="{'color': (tipoBoolean(item[campo]))? (item[campo])?'#28B463':'red' : 'black', 
                          'font-weight': (tipoBoolean(item[campo]))?'bold':'',
                          'border-right':'1px solid #EAECEE'}">
            {{ getResultData(item[campo]) }}
          </td>
          
          <td *ngIf="update || delete || ver || descargar"
              class="align-middle">
            <div class="d-flex justify-content-center">
              <button *ngIf="ver" 
                      class="btn btn-sm btn-outline-primary mx-1"
                      type="button"
                      (click)="verItemEvent(item)">
                <span class="mdi mdi-eye"></span>
              </button>
              
              <button *ngIf="descargar" 
                      class="btn btn-sm btn-outline-success mx-1"
                      type="button"
                      (click)="descargarteItemEvent(item)">
                <span class="mdi mdi-download"></span>
              </button>

              <button *ngIf="update" 
                      class="btn btn-sm btn-outline-success mx-1"
                      type="button"
                      (click)="updateItemEvent(item)">
                <span class="mdi mdi-pencil"></span>
              </button>
          
              <button *ngIf="delete" 
                      class="btn btn-sm btn-outline-danger mx-1"
                      type="button"
                      (click)="deleteItemEvent(item)">
                <span class="mdi mdi-close"></span>
              </button>
            </div>
          </td>
      </tr>
    </tbody>
  </table>
</div>    

<div class="row">
  <div class="col-12"> 
    <mat-paginator  [length]="lengthList"
                    [pageSize]="pageSize" 
                    [pageSizeOptions]="pageSizeOptions"
                    (page)="cambioSizePaginaOrPagina($event)"
                    aria-label="Select page">
    </mat-paginator>
  </div>
</div>
