<div class="container-fluid m-0 p-0">
  <div class="row mb-2 card">
    <h1 class="m-0 py-2"><b>DATOS DE LA ASOCIACIÓN DE AGUA POTABLE</b></h1>
  </div>
  
  <div class="row mb-2 card">
    <div class="col-12 py-2">
      <h2 class="m-0 p-0">ESTABLECER DATOS DE LA ASOCIACIÓN AGUA</h2>
    </div>

    <div class="col-12 pb-2">
      <form [formGroup]='formularioDatosComiteDeAgua'>
        <div class="row mb-2">
          <div class="col-12 col-lg-6 mb-2">
            <label for="costoM3">Nombre de la asociación de agua potable</label>
            <input  type="text" 
                    id="nombreComite"
                    class="form-control" 
                    autocomplete="off"
                    formControlName="nombreComite"
                    placeholder="Nombre de la asociación de agua..."
                    [ngClass]="{'is-invalid': formularioDatosComiteInvalido('nombreComite'), 'is-valid': formularioDatosComiteValido('nombreComite') }">
          </div>

          <div class="col-12 col-lg-3 mb-2">
            <label for="personeriaJuridica">Personería Jurídica</label>
            <input  type="text" 
                    id="personeriaJuridica"
                    class="form-control" 
                    autocomplete="off"
                    formControlName="personeriaJuridica"
                    placeholder="Personeria juridica..."
                    [ngClass]="{'is-invalid': formularioDatosComiteInvalido('personeriaJuridica'), 'is-valid': formularioDatosComiteValido('personeriaJuridica') }">
          </div>

          <div class="col-12 col-lg-3 mb-2">
            <label for="fechaFundacion">Fecha Fundación</label>
            <input  type="date" 
                    id="fechaFundacion"
                    formControlName="fechaFundacion"
                    class="form-control"
                    [ngClass]="{'is-invalid': formularioDatosComiteInvalido('fechaFundacion'), 'is-valid': formularioDatosComiteValido('fechaFundacion') }">
          </div>

          <div class="col-12 col-lg-4 mb-2">
            <label for="telefono1">Telefono #1</label>
            <input  type="number" 
                    autocomplete="off"
                    id="telefono1"
                    class="form-control"
                    formControlName="telefono1"
                    placeholder="Telefono..."
                    [ngClass]="{'is-invalid': formularioDatosComiteInvalido('telefono1'), 'is-valid': formularioDatosComiteValido('telefono1') }">
          </div>

          <div class="col-12 col-lg-4 mb-2">
            <label for="telefono2">Telefono #2</label>
            <input  type="number" 
                    autocomplete="off"
                    id="telefono2"
                    formControlName="telefono2"
                    class="form-control"
                    placeholder="Telefono..."
                    [ngClass]="{'is-invalid': formularioDatosComiteInvalido('telefono2'), 'is-valid': formularioDatosComiteValido('telefono2') }">
          </div>

          <div class="col-12 col-lg-4 mb-2">
            <label for="nombreDepartamento">Departamento</label>
            <select id="nombreDepartamento" 
                    formControlName="nombreDepartamento"
                    class="form-select"
                    [ngClass]="{'is-invalid': formularioDatosComiteDptoInvalido('nombreDepartamento'), 'is-valid': formularioDatosComiteDptoValido('nombreDepartamento') }">
              <option value="0" [disabled]="true">Seleccione un departamento...</option>
              <option value="{{departamento}}" *ngFor="let departamento of listaDepartamentos">{{departamento}}</option>
            </select>
          </div>
        </div>
      </form>

      <div class="row mb-2 d-flex justify-content-center">
        <div class="d-flex flex-column col-12 col-md-4 col-lg-3 col-xl-2 mb-2 mb-md-0" >
          <button class="btn btn-outline-danger" 
                  type="button"
                  (click)="cancelarRegistroDatosComite()">
            <span class="mdi mdi-trash-can"></span>
            Cancelar
          </button>
        </div>
        
        <div  class="d-flex flex-column col-12 col-md-4 col-lg-3 col-xl-2 mb-2 mb-md-0" 
              *ngIf="datosComiteAguaEditar==aux">
          <button class="btn btn-outline-primary" 
                  type="button"
                  (click)="createRegistroDatosComite()">
            <span class="mdi mdi-content-save"></span>
            Guardar
          </button>
        </div>

        
        <div  class="d-flex flex-column col-12 col-md-4 col-lg-3 col-xl-2 mb-2 mb-md-0" 
              *ngIf="datosComiteAguaEditar!=aux">   
          <button class="btn btn-outline-success"
                  type="button"
                  (click)="updateRegistroDatosComite()">
            <span class="mdi mdi-content-save"></span>
            Actualizar
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2 card">
    <div class="col-12 py-2">
      <h2 class="m-0 p-0">DATOS GUARDADOS DEL COMITE DE AGUA</h2>
    </div>

    <div class="col-12">
      <app-tabla  [tituloItems]            = "listaTituloDatosComite"
                  [campoItems]             = "listaCampoDatosComite"
                  [idItem]                 = "idDatosComite"
                  [listaItems]             = "listaItemsDatosComite"
                  [editar]                 = "true"
                  (editarItemSeleccionado) = "updateRegistroDatosComiteEvent($event)">
      </app-tabla>
    </div>
  </div>
</div>