<div class="col-12 card my-1 p-2">
  <div class="row">
    <div class="col-12 mb-2">
      <h2 class="m-0 p-0"><b>REPORTE  GENERAL DE INGRESOS ECONÓMICOS </b></h2>
    </div>

    <div class="col-12 mb-2">
      <div class="table-responsive m-2">
        <table  class="table table-hover table-sm" 
                id="tablaReporteIngreso">
          <thead style="background-color: #154360;">
            <tr>
              <th scope="col" 
                    class="align-middle fw-normal p-2 text-white text-center"
                    *ngFor="let itemTitle of tituloItems" >
                  {{ itemTitle }}
              </th>
            </tr>
          </thead>
    
          <tbody>
            <tr class="pointer">    
              <td [ngStyle]="{'border-right':'1px solid #EAECEE'}"
                  class="align-middle text-center" 
                  scope="row"> {{ 1 }}
              </td>

              <td [ngStyle]="{'border-right':'1px solid #EAECEE'}"
                  class="align-middle text-end fw-bold" 
                  scope="row">
                {{ 'Consumo de agua' }}
              </td>

              <td [ngStyle]="{'border-right':'1px solid #EAECEE','background-color':'#FDF2E9'}"
                  class="align-middle text-center" 
                  scope="row">
                {{ reporteIngresoVO?.ingresoNetoConsumoAgua }}
              </td>

              <td [ngStyle]="{'border-right':'1px solid #EAECEE'}"
                  class="align-middle text-center" 
                  scope="row">
                {{ reporteIngresoVO?.ingresoFijoConsumoAgua }}
              </td>

              <td [ngStyle]="{'border-right':'1px solid #EAECEE'}"
                  class="align-middle text-center" 
                  scope="row">
                {{ reporteIngresoVO?.deudaIngresoFijoConsumoAgua }}
              </td>

              <td [ngStyle]="{'border-right':'1px solid #EAECEE'}"
                  class="align-middle text-center" 
                  scope="row">
                {{ reporteIngresoVO?.totalFijoConsumoAgua }}
              </td>
            </tr>

            <tr class="pointer">    
              <td [ngStyle]="{'border-right':'1px solid #EAECEE'}"
                  class="align-middle text-center" 
                  scope="row"> {{ 2 }}
              </td>

              <td [ngStyle]="{'border-right':'1px solid #EAECEE'}"
                  class="align-middle text-end fw-bold" 
                  scope="row">
                {{ 'Cobros extra por consumo agua' }}
              </td>  
              
              <td [ngStyle]="{'border-right':'1px solid #EAECEE','background-color':'#FDF2E9'}"
                  class="align-middle text-center" 
                  scope="row">
                {{ reporteIngresoVO?.ingresoNetoCobroExtra }}
              </td>

              <td [ngStyle]="{'border-right':'1px solid #EAECEE'}"
                  class="align-middle text-center" 
                  scope="row">
                {{ reporteIngresoVO?.ingresoFijoCobroExtra }}
              </td>

              <td [ngStyle]="{'border-right':'1px solid #EAECEE'}"
                  class="align-middle text-center" 
                  scope="row">
                {{ reporteIngresoVO?.deudaIngresoFijoCobroExtra }}
              </td>

              <td [ngStyle]="{'border-right':'1px solid #EAECEE'}"
                  class="align-middle text-center" 
                  scope="row">
                {{ reporteIngresoVO?.totalFijoCobroExtra }}
              </td>
            </tr>

            <tr class="pointer">    
              <td [ngStyle]="{'border-right':'1px solid #EAECEE'}"
                  class="align-middle text-center" 
                  scope="row"> {{ 2 }}
              </td>

              <td [ngStyle]="{'border-right':'1px solid #EAECEE'}"
                  class="align-middle text-end fw-bold" 
                  scope="row">
                {{ 'Multa por falta o retrazo a eventos' }}
              </td>  
              
              <td [ngStyle]="{'border-right':'1px solid #EAECEE','background-color':'#FDF2E9'}"
                  class="align-middle text-center" 
                  scope="row">
                {{ reporteIngresoVO?.ingresoNetoEventosRealizados }}
              </td>

              <td [ngStyle]="{'border-right':'1px solid #EAECEE'}"
                  class="align-middle text-center" 
                  scope="row">
                {{ reporteIngresoVO?.ingresoFijoEventosRealizados }}
              </td>

              <td [ngStyle]="{'border-right':'1px solid #EAECEE'}"
                  class="align-middle text-center" 
                  scope="row">
                {{ reporteIngresoVO?.deudaIngresoFijoEventosRealizados }}
              </td>

              <td [ngStyle]="{'border-right':'1px solid #EAECEE'}"
                  class="align-middle text-center" 
                  scope="row">
                {{ reporteIngresoVO?.totalFijoEventosRealizados }}
              </td>
            </tr>

            <tr class="pointer">    
              <td [ngStyle]="{'border-right':'1px solid #EAECEE'}"
                  class="align-middle text-center" 
                  scope="row"> {{ 3 }}
              </td>

              <td [ngStyle]="{'border-right':'1px solid #EAECEE'}"
                  class="align-middle text-end fw-bold" 
                  scope="row">
                {{ 'Aportes eventuales' }}
              </td>

              <td [ngStyle]="{'border-right':'1px solid #EAECEE','background-color':'#FDF2E9'}"
                  class="align-middle text-center" 
                  scope="row">
                {{ reporteIngresoVO?.ingresoNetoAporteEventual }}
              </td>

              <td [ngStyle]="{'border-right':'1px solid #EAECEE'}"
                  class="align-middle text-center" 
                  scope="row">
                {{ reporteIngresoVO?.ingresoFijoAporteEventual }}
              </td>

              <td [ngStyle]="{'border-right':'1px solid #EAECEE'}"
                  class="align-middle text-center" 
                  scope="row">
                {{ reporteIngresoVO?.deudaIngresoFijoAporteEventual }}
              </td>

              <td [ngStyle]="{'border-right':'1px solid #EAECEE'}"
                  class="align-middle text-center" 
                  scope="row">
                {{ reporteIngresoVO?.totalFijoAporteEventual }}
              </td>
            </tr>

            <tr class="pointer">    
              <td [ngStyle]="{'border-right':'1px solid #EAECEE'}"
                  class="align-middle text-center" 
                  scope="row"> {{ 4 }}
              </td>

              <td [ngStyle]="{'border-right':'1px solid #EAECEE'}"
                  class="align-middle text-end fw-bold" 
                  scope="row">
                {{ 'Ingreso extra' }}
              </td>

              <td [ngStyle]="{'border-right':'1px solid #EAECEE','background-color':'#FDF2E9'}"
                  class="align-middle text-center" 
                  scope="row">
                {{ reporteIngresoVO?.ingresoExtra }}
              </td>

              <td>                
              </td>

              <td [ngStyle]="{'border-right':'1px solid #EAECEE'}"></td>

              <td [ngStyle]="{'border-right':'1px solid #EAECEE'}"
                  class="align-middle text-center" 
                  scope="row">
                {{ reporteIngresoVO?.ingresoExtra }}
              </td>
              
            </tr>

            <tr class="text-center fw-bold" 
                [ngStyle]="{'background-color': '#EBEDEF'}">    
              <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}"
                  class="align-middle text-center" 
                  scope="row">{{ 5 }}
              </td>

              <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}"
                  class="align-middle text-center" 
                  scope="row">
                {{ 'Total' }}
              </td>

              <td [ngStyle]="{'border-right':'1px solid #ABB2B9','background-color':'#F6DDCC'}"
                  class="align-middle text-center" 
                  scope="row">
                {{ reporteIngresoVO?.sumaTotalIngresoNetoConsumoAgua }}
              </td>

              <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}"
                  class="align-middle text-center" 
                  scope="row">
                {{ reporteIngresoVO?.sumaTotalIngresoFijoCobroExtra }}
              </td>

              <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}"
                  class="align-middle text-center" 
                  scope="row">
                {{ reporteIngresoVO?.sumaTotalDeudaFijoEventosRealizados }}
              </td>

              <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}"
                  class="align-middle text-center" 
                  scope="row">
                {{ reporteIngresoVO?.sumaTotalFijoAporteEventual }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="col-12 mb-2 py-2 card">    
  <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoXLSX()">      
  </app-imprimir-pdf>
</div>


<div class="col-12 mb-2 p-2 card">
  <div class="row">
    <div class="col-12">
      <h2 class="m-0 p-0"><b>REPORTE  DETALLADO DE INGRESOS NETOS </b></h2>
    </div>
  
    <div class="col-12 col-md-6 col-lg-3">
      <div class="row m-0 p-0">
        <h3 class="m-0 p-0 text-center">CONSUMO DE AGUA</h3>
      </div>
  
      <div class="row m-0 p-0">
        <div class="table-responsive m-0 p-0">
          <table  class="table table-hover table-sm" 
                  id="tablaReporteIngreso">
            <thead style="background-color: #154360;">
              <tr>
                <th scope="col" class="align-middle fw-normal p-2 text-white text-center">#</th>
                <th scope="col" class="align-middle fw-normal p-2 text-white text-center">Gestión</th>
                <th scope="col" class="align-middle fw-normal p-2 text-white text-center">Ingreso</th>
              </tr>
            </thead>
      
            <tbody>
              <tr *ngFor="let item of reporteIngresoVO?.reporteIngresoNetoConsumoAguaDetallado.ingresoNetoDetalladoList; let i = index" class="pointer">    
                <td [ngStyle]="{'border-right':'1px solid #EAECEE'}" class="align-middle text-center" scope="row"> 
                  {{ i+1 }}
                </td>
  
                <td [ngStyle]="{'border-right':'1px solid #EAECEE'}" class="align-middle text-center" scope="row">
                  {{ item.gestion }}
                </td>
  
                <td [ngStyle]="{'border-right':'1px solid #EAECEE'}" class="align-middle text-center" scope="row">
                    {{ item.ingreso }}
                </td>
              </tr>

              <tr *ngIf="reporteIngresoVO!=null" 
                  [ngStyle]="{'background-color': '#EBEDEF'}"
                  class="text-center fw-bold">
                <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}" class="align-middle text-center" scope="row">
                  {{ reporteIngresoVO?.reporteIngresoNetoConsumoAguaDetallado.countRows+1 }}
                </td>
                <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}" class="align-middle text-center" scope="row">
                  {{ 'Total' }}
                </td>
                <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}" class="align-middle text-center" scope="row">
                  {{ reporteIngresoVO?.reporteIngresoNetoConsumoAguaDetallado.sumaIngreso }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
    <div class="col-12 col-md-6 col-lg-3">
      <div class="row m-0 p-0">
        <h3 class="m-0 p-0 text-center">COBRO EXTRA</h3>
      </div>
  
      <div class="row m-0 p-0">
        <div class="table-responsive m-0 p-0">
          <table  class="table table-hover table-sm" 
                  id="tablaReporteIngreso">
            <thead style="background-color: #154360;">
              <tr>
                <th scope="col" class="align-middle fw-normal p-2 text-white text-center">#</th>
                <th scope="col" class="align-middle fw-normal p-2 text-white text-center">Gestión</th>
                <th scope="col" class="align-middle fw-normal p-2 text-white text-center">Ingreso</th>
              </tr>
            </thead>
      
            <tbody>
              <tr *ngFor="let item of reporteIngresoVO?.reporteIngresoNetoCobroExtraDetallado.ingresoNetoDetalladoList; let i = index" class="pointer">    
                <td [ngStyle]="{'border-right':'1px solid #EAECEE'}" class="align-middle text-center" scope="row"> 
                  {{ i+1 }}
                </td>
  
                <td [ngStyle]="{'border-right':'1px solid #EAECEE'}" class="align-middle text-center" scope="row">
                  {{ item.gestion }}
                </td>
  
                <td [ngStyle]="{'border-right':'1px solid #EAECEE'}" class="align-middle text-center" scope="row">
                    {{ item.ingreso }}
                </td>
              </tr>

              <tr *ngIf="reporteIngresoVO!=null" 
                  [ngStyle]="{'background-color': '#EBEDEF'}"
                  class="text-center fw-bold">
                <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}" class="align-middle text-center" scope="row">
                  {{ reporteIngresoVO?.reporteIngresoNetoCobroExtraDetallado.countRows+1 }}
                </td>
                <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}" class="align-middle text-center" scope="row">
                  {{ 'Total' }}
                </td>
                <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}" class="align-middle text-center" scope="row">
                  {{ reporteIngresoVO?.reporteIngresoNetoCobroExtraDetallado.sumaIngreso }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
    <div class="col-12 col-md-6 col-lg-3">
      <div class="row m-0 p-0">
        <h3 class="m-0 p-0 text-center">MULTA POR EVENTOS</h3>
      </div>
  
      <div class="row m-0 p-0">
        <div class="table-responsive m-0 p-0">
          <table  class="table table-hover table-sm" 
                  id="tablaReporteIngreso">
            <thead style="background-color: #154360;">
              <tr>
                <th scope="col" class="align-middle fw-normal p-2 text-white text-center">#</th>
                <th scope="col" class="align-middle fw-normal p-2 text-white text-center">Gestión</th>
                <th scope="col" class="align-middle fw-normal p-2 text-white text-center">Ingreso</th>
              </tr>
            </thead>
      
            <tbody>
              <tr *ngFor="let item of reporteIngresoVO?.reporteIngresoNetoMultaEventoDetallado.ingresoNetoDetalladoList; let i = index" class="pointer">    
                <td [ngStyle]="{'border-right':'1px solid #EAECEE'}" class="align-middle text-center" scope="row"> 
                  {{ i+1 }}
                </td>
  
                <td [ngStyle]="{'border-right':'1px solid #EAECEE'}" class="align-middle text-center" scope="row">
                  {{ item.gestion }}
                </td>
  
                <td [ngStyle]="{'border-right':'1px solid #EAECEE'}" class="align-middle text-center" scope="row">
                    {{ item.ingreso }}
                </td>
              </tr>

              <tr *ngIf="reporteIngresoVO!=null" 
                  [ngStyle]="{'background-color': '#EBEDEF'}"
                  class="text-center fw-bold">
                <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}" class="align-middle text-center" scope="row">
                  {{ reporteIngresoVO?.reporteIngresoNetoMultaEventoDetallado.countRows+1 }}
                </td>
                <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}" class="align-middle text-center" scope="row">
                  {{ 'Total' }}
                </td>
                <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}" class="align-middle text-center" scope="row">
                  {{ reporteIngresoVO?.reporteIngresoNetoMultaEventoDetallado.sumaIngreso }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
    <div class="col-12 col-md-6 col-lg-3">
      <div class="row m-0 p-0">
        <h3 class="m-0 p-0 text-center">APORTES EVENTUALES</h3>
      </div>
  
      <div class="row m-0 p-0">
        <div class="table-responsive m-0 p-0">
          <table  class="table table-hover table-sm" 
                  id="tablaReporteIngreso">
            <thead style="background-color: #154360;">
              <tr>
                <th scope="col" class="align-middle fw-normal p-2 text-white text-center">#</th>
                <th scope="col" class="align-middle fw-normal p-2 text-white text-center">Gestión</th>
                <th scope="col" class="align-middle fw-normal p-2 text-white text-center">Ingreso</th>
              </tr>
            </thead>
      
            <tbody>
              <tr *ngFor="let item of reporteIngresoVO?.reporteIngresoNetoAporteEventualDetallado.ingresoNetoDetalladoList; let i = index" class="pointer">    
                <td [ngStyle]="{'border-right':'1px solid #EAECEE'}" class="align-middle text-center" scope="row"> 
                  {{ i+1 }}
                </td>
  
                <td [ngStyle]="{'border-right':'1px solid #EAECEE'}" class="align-middle text-center" scope="row">
                  {{ item.gestion }}
                </td>
  
                <td [ngStyle]="{'border-right':'1px solid #EAECEE'}" class="align-middle text-center" scope="row">
                    {{ item.ingreso }}
                </td>
              </tr>

              <tr *ngIf="reporteIngresoVO!=null" 
                  [ngStyle]="{'background-color': '#EBEDEF'}"
                  class="text-center fw-bold">
                <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}" class="align-middle text-center" scope="row">
                  {{ reporteIngresoVO?.reporteIngresoNetoAporteEventualDetallado.countRows+1 }}
                </td>
                <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}" class="align-middle text-center" scope="row">
                  {{ 'Total' }}
                </td>
                <td [ngStyle]="{'border-right':'1px solid #ABB2B9'}" class="align-middle text-center" scope="row">
                  {{ reporteIngresoVO?.reporteIngresoNetoAporteEventualDetallado.sumaIngreso }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>