/* You can add global styles to this file, and also import other style files */

.pointer  {
    cursor: pointer;
}

html, body { 
  height: 100%; 
}
  
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

::-webkit-scrollbar {
  height: 0.5em;              /* height of horizontal scrollbar ← You're missing this */
  width: 0.5em;               /* width of vertical scrollbar */
  overflow-y: scroll;
  background: #FFF;
}

::-webkit-scrollbar-thumb {
  background: #ABB2B9; 
  border-radius: 0.5em;
}

.adelante{
  z-index: 3;
}

.atras{
  z-index: 1;
}


.spinner-sm {
  width: 25px;
  height: 25px;
  border: 3px solid #BFC9CA;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  z-index: 5;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
} 

.spinner-md {
  width: 50px;
  height: 50px;
  border: 5px solid #BFC9CA;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  z-index: 5;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.spinner-lg {
  width: 75px;
  height: 75px;
  border: 8px solid #BFC9CA;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  z-index: 5;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}


