<div class="container-fluid row m-0 p-0">
  <div class="col-12 px-2 mb-2 card">
    <h1 class="m-0 py-2"><b>TIPOS DE EVENTOS</b></h1>
  </div>
  
  <div class="mb-2 pb-2 card">
    <div class="col-12 my-2">
      <h2 class="my-0 py-0">CONFIGURACIÓN DE TIPOS DE EVENTO</h2>
    </div>

    <form [formGroup]='formularioTipoEvento'>
      <div class="row">
        <div class="col-12  col-md-6">
          <label class="pb-1">Nombre de tipo de evento</label>
          <input  type="text" 
                  class="form-control" 
                  placeholder="Nombre del tipo de evento..."
                  formControlName="nombre"
                  [ngClass]="{'is-invalid': tipoEventoInvalido('nombre'), 'is-valid': tipoEventoValido('nombre') }">
        </div>

        <div class="col-12 col-md-6">
          <label class="pb-1">Descripcion de tipo de evento</label>
          <input  type="text" 
                  autocomplete="off"
                  class="form-control" 
                  placeholder="Descripción del tipo de evento..."
                  formControlName="descripcion"
                  [ngClass]="{'is-invalid': tipoEventoInvalido('descripcion'), 'is-valid': tipoEventoValido('descripcion') }">
        </div>
      </div>

      <div class="row mt-2 d-flex justify-content-center">
        <div class="d-flex flex-column col-12 col-md-4 col-lg-3 col-xl-2 mb-2 mb-md-0">
          <button class="btn btn-outline-danger d-flex justify-content-center"
                  type="button"
                  (click)="cancelTipoEvento()">
            <span class="mdi mdi-close" ></span>
            Cancelar
          </button>
        </div>
        
        <div  class="d-flex flex-column col-12 col-md-4 col-lg-3 col-xl-2 mb-2 mb-md-0" 
              *ngIf="tipoEventoEditar==undefined">
          <button class="btn btn-outline-primary"
                  type="button"
                  (click)="createTipoEvento()">
            <span class="mdi mdi-content-save"></span>
              Guardar
          </button>
        </div>

        <div  class="d-flex flex-column col-12 col-md-4 col-lg-3 col-xl-2 mb-2 mb-md-0" 
              *ngIf="tipoEventoEditar!=undefined">
          <button class="btn btn-outline-success"
                  type="button"
                  (click)="updateTipoEvento()">
            <span class="mdi mdi-pencil"></span>
              Actualizar
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="col-12 card">
    <div class="col-12 pt-2">
      <h2 class="">LISTA TIPOS DE EVENTOS</h2>
    </div>

    <div class="row">
      <div class="col-12">
        <app-tabla  #idTablaTipoReunion
                    [tituloItems]              = "tituloItemsCategoria"
                    [campoItems]               = "campoItemsCategoria"
                    [idItem]                   = "idItemCargo"
                    [listaItems]               = "listaItemsTipoEvento"
                    [editar]                   = "true"
                    [eliminar]                 = "isPresidente()||isAdmin()"
                    [idTable]                  = "'idTablaTipoReunion'"
                    (editarItemSeleccionado)   = "updateTipoeEventoEvent($event)"
                    (eliminarItemSeleccionado) = "deleteTipoEventoEvent($event)">
        </app-tabla>
      </div>
    </div>
  </div>

  <div class="col-12 my-2 py-2 card">    
    <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoXLSX()">      
    </app-imprimir-pdf>
  </div>
</div>