<form [formGroup]="formularioPeriodo">
  <div class="row">
    <div class="col-12">
      <span class="m-0 text-dark">Busqueda en rango de periodos</span>
    </div>
    
    <div class="col-12 col-md-3 mb-2 mb-lg-0">
      <select class="form-select"
              formControlName="gestionInicio"
              (change)="changeGestionIncio()"
              [ngClass]="{'is-invalid': campoInvalido('gestionInicio'), 'is-valid': campoValido('gestionInicio') }">
        <option [value]="0" [disabled]="true">Gestión inicio...</option>
        <option [value]="anio.idAnio" *ngFor="let anio of listaGestionInicio">
          {{anio.anio}}
        </option>
      </select>
    </div>

    <div class="col-12 col-md-3 mb-2 mb-lg-0">
      <select class="form-select"
              formControlName="mesInicio"
              (change)="changeMesInicio()"
              [ngClass]="{'is-invalid': campoInvalido('mesInicio'), 'is-valid': campoValido('mesInicio') }">
        <option [value]="0" [disabled]="true" >Mes inicio...</option>
        <option [value]="mes.idPeriodo" *ngFor="let mes of listaMesInicio">
          {{mes.nombre}}
        </option>
      </select>
    </div>

    <div class="col-12 col-md-3 mb-2 mb-lg-0">
      <select class="form-select"
              formControlName="gestionFin"
              (change)="changeGestionFin()"
              [ngClass]="{'is-invalid': campoInvalido('gestionFin'), 'is-valid': campoValido('gestionFin') }">
        <option [value]="0" [disabled]="true">Gestión fin...</option>
        <option [value]="anio.idAnio" *ngFor="let anio of listaGestionFin">
          {{anio.anio}}
        </option>
      </select>
    </div>

    <div class="col-12 col-md-3 mb-2 mb-lg-0">
      <select class="form-select"
              formControlName="mesFin"
              (change)="changeMesFin()"
              [ngClass]="{'is-invalid': campoInvalido('mesFin'), 'is-valid': campoValido('mesFin') }">
        <option [value]="0" [disabled]="true">Mes fin...</option>
        <option [value]="mes.idPeriodo" *ngFor="let mes of listaMesFin">
          {{mes.nombre}}
        </option>
      </select>
    </div>
  </div>
</form>