/*
mat-sidenav {
  width: 300px;
}
*/
.menu-content-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5%; 
}

.menu-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.menu-icon {
  display: none;
}

.menu-text {
  color:white;
}

.submenu-text{
  display: flex;
  flex-direction: row;
  padding: 2% 0%;
  color:white;
}

.submenu-text-selected {
  display: flex;
  flex-direction: row;
  padding: 2% 0%;
  color:#85C1E9;
}

.menu-text:hover{
  color:#3498DB;
  font-weight: bold;
  font-style: italic;
}

.submenu-text:hover{
  color: #85C1E9;
}

.mat-toolbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 30px;
}

.user-name{
  font-size: small;
}

.font-text {
  font-size: 1.2em;
}


@media (max-width: 500px) {
  .menu-title{
    display: none;
  }

  .menu-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .user-name{
    display: none;
  }
}

@media only screen and (min-width: 0px) and (max-width: 500px) {
	mat-sidenav {
    width: 100%;
  }
}

@media only screen and (min-width: 501px) and (max-width: 600px) {
	mat-sidenav {
    width: 50%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 750px) {
	mat-sidenav {
    width: 40%;
  }
}

@media only screen and (min-width: 751px) and (max-width: 950px) {
	mat-sidenav {
    width: 30%;
  }
}

@media only screen and (min-width: 951px) and (max-width: 1200px) {
	mat-sidenav {
    width: 25%;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1500px) {
	mat-sidenav {
    width: 20%;
  }
}


@media only screen and (min-width: 1501px) and (max-width: 1800px) {
	mat-sidenav {
    width: 18%;
  }
}


@media (min-width: 1801px) {
  mat-sidenav {
    width: 18%;
  }
}
