<mat-sidenav-container fullscreen class="contenedor">  
  <mat-sidenav  #sidenav 
                mode="side" 
                class="bg-black text-white sidenav" 
                [opened]="banderaSidenavAbierto"
                position="start"> 

    <div class="menu-content-title">
      <div class="menu-title">
        <h1 class="m-0 p-0">Menú</h1>
      </div>

      <div class="menu-icon">
        <h1 class="m-0 p-0">Menú</h1>
        <button mat-icon-button
            (click)="openSideNav()">
          <mat-icon>menu</mat-icon>  
        </button>
      </div>
    </div>
    
    <mat-divider class="bg-white mx-1"></mat-divider>

    <mat-tree [dataSource]="dataSource" 
              [treeControl]="treeControl" 
              class="bg-black ps-1 pe-2">
      <mat-tree-node *matTreeNodeDef="let nodeF; when: hasChild" 
                      matTreeNodePadding 
                      class="menu-text">
        <button mat-icon-button 
                matTreeNodeToggle>
          <mat-icon class="pointer">
            {{nodeF.icono}}
          </mat-icon>
        </button>

        <span matTreeNodeToggle 
              class="font-text pointer"
              (click)="clickMenu(nodeF.id)">
          {{nodeF.nombre}}
        </span>

        <button mat-icon-button 
                matTreeNodeToggle 
                [attr.aria-label]="'toggle ' + nodeF.name"  
                class="">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(nodeF) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
      </mat-tree-node>  
      
      <mat-tree-node *matTreeNodeDef="let nodeC" 
                      matTreeNodePadding 
                      id="sub-menu{{nodeC.id}}"
                      class="submenu-text">                      
        <mat-icon mat-list-icon
                  class="pointer">
          {{nodeC.icono}}
        </mat-icon>
        
        <span class=" ms-1 pointer" 
              (click)="clickSubMenu(nodeC.path,nodeC.id)">
          {{nodeC.nombre}}
        </span>
      </mat-tree-node>
    </mat-tree>
  </mat-sidenav>

  <mat-toolbar class="mat-toolbar">
    <button mat-icon-button
            (click)="openSideNav()">
      <mat-icon>menu</mat-icon>  
    </button>

    <span class="user-name">
      USUARIO : {{getUserName() | uppercase }}
    </span>

    <div  class="pointer"
          (click)="salir()">
      <span class="mdi mdi-logout"></span>
      Salir
    </div>
  </mat-toolbar>
  
  <div class="mx-4 my-2">
    <router-outlet></router-outlet>   
  </div>
</mat-sidenav-container>
