<div class="container-fluid row m-0 p-0">
  <div class="col-12 card mb-2">
    <h1 class="m-0 py-2"><b>REGISTRO DE USUARIOS</b></h1>
  </div>

  <div class="col-12 mb-2">
    <div class="row">
      <div class="col-12 col-lg-8 col-xl-9 card">
        <form [formGroup]='formularioUsuario'>
          <div class="row py-2">
            <div class="col-12 mb-2">
              <h2>DATOS DE USUARIO</h2>
            </div>

            <div class="col-12 col-lg-6 col-xl-4 mb-2">
              <label for="nombreUsuario" class="pb-1">Nombre</label>
              <input  type="text" 
                      class="form-control"
                      autocomplete="off"
                      id="nombre"                      
                      placeholder="Ingrese el nombre..."
                      formControlName="nombre"
                      [ngClass]="{'is-invalid': formularioUsuarioInvalido('nombre'), 'is-valid': formularioUsuarioValido('nombre') }">
            </div>

            <div class="col-12 col-lg-6 col-xl-4 mb-2">
              <label for="apellidoPaterno" class="pb-1">Apellido Paterno</label>
              <input  type="text" 
                      class="form-control"
                      autocomplete="off"
                      id="apellidoPaterno"                      
                      placeholder="Ingrese el apellido paterno..."
                      formControlName="apellidoPaterno"
                      [ngClass]="{'is-invalid': formularioUsuarioInvalido('apellidoPaterno'), 'is-valid': formularioUsuarioValido('apellidoPaterno') }">
            </div>

            <div class="col-12 col-lg-6 col-xl-4 mb-2">
              <label for="apellidoMaterno" class="pb-1">Apellido materno</label>
              <input  type="text" 
                      class="form-control"
                      autocomplete="off"
                      id="apellidoMaterno"                      
                      placeholder="Ingrese el apellido materno..."
                      formControlName="apellidoMaterno"
                      [ngClass]="{'is-invalid': formularioUsuarioInvalido('apellidoMaterno'), 'is-valid': formularioUsuarioValido('apellidoMaterno') }">
            </div>

            <div class="col-12 col-lg-6 col-xl-4 mb-2">
              <label for="email" class="pb-1">Email</label>
              <input  type="email" 
                      class="form-control"
                      autocomplete="off"
                      id="email" 
                      [email]="true"                    
                      placeholder="Ingrese el email..."
                      formControlName="email"
                      [ngClass]="{'is-invalid': formularioUsuarioInvalido('email'), 'is-valid': formularioUsuarioValido('email') }">
            </div>

            <div class="col-12 col-lg-6 col-xl-4 mb-2">
              <label for="contrasenia" class="pb-1">Contraseña</label>
              <input  type="password" 
                      class="form-control"
                      autocomplete="off"
                      id="password1"                      
                      placeholder="Ingrese la contraseña..."
                      formControlName="password1"
                      [ngClass]="{'is-invalid': passwordInvalido('password1'), 'is-valid': passwordValido('password1') }">
            </div>

            <div class="col-12 col-lg-6 col-xl-4 mb-2">
              <label for="contrasenia" class="pb-1">Repetir Contraseña</label>
              <input  type="password" 
                      class="form-control"
                      autocomplete="off"
                      id="password2"                      
                      placeholder="Repita la contraseña..."
                      formControlName="password2"
                      [ngClass]="{'is-invalid': passwordInvalido('password2'), 'is-valid': passwordValido('password2') }">
            </div>
          </div>
        </form>

        <div class="row pt-2 d-flex justify-content-center mb-2">
          <div class="col-12 col-md-5 col-lg-4 col-xl-3 py-1 d-flex flex-column">                
            <button type="button"
                    class="btn btn-outline-danger"
                    (click)="cancelarCrearUsuario()">
                <span class="mdi mdi-trash-can"></span>
                Cancelar
            </button>
          </div>

          <div  class="col-12 col-md-5 col-lg-4 col-xl-3 py-1 d-flex flex-column"
                *ngIf="!banderaUpdate">                
            <button type="submit" 
                    class="btn btn-outline-primary"
                    (click)="crearUsuario()">
                <span class="mdi mdi-content-save"></span>
                Guardar
            </button>
          </div>

          <div  class="col-12 col-md-5 col-lg-4 col-xl-3 py-1 d-flex flex-column"
                *ngIf="banderaUpdate">                
            <button type="button"
                    (click)="actualizarUsuario()" 
                    class="btn btn-outline-success">
              <span class="mdi mdi-content-save"></span>
              Actualizar
            </button>
          </div>
        </div>
      </div>
      
      <div class="col-12 col-lg-4 col-xl-3 px-0">
        <div class="py-2 ms-0 ms-lg-2 mt-2 mt-lg-0 px-2 card">
          <div class="col-12">
            <h2>ROLES</h2>
          </div>

          <div class="col-12">
            <div class="d-flex" *ngFor="let rol of listaRoles">
              <input  type="checkbox" 
                      class="me-1" 
                      [checked]=rol.check 
                      (click)="checkRol(rol)" 
                      id='rol{{rol.id}}'>
              <span> {{rol.nombre}} </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 card mb-2">
    <div class="row my-2 d-flex ">
      <div class="col-12 col-lg-5">
        <h2>LISTA DE USUARIOS</h2>
      </div>

      <div class="col-12 col-lg-4">
        <app-input-form #inputFormComponentNombre
                      [title]="'Buscar usuario por nombre'"
                      [type]="'text'"
                      [placeHolder]="'Nombre...'"
                      (dataOutput)="buscarUsuarioPorNombre($event)">
        </app-input-form>
      </div>

      <div class="col-12 col-lg-3">
        <span>Estado de usuarios</span>
        <select class="form-select my-1" 
                [ngModel]="estadoUsuario" 
                (change)="cambioEstadoUsuario()">
          <option value="true">
            Usuarios activos
          </option>
          <option value="false">
            Usuarios dados de baja
          </option>
        </select>
      </div>
    </div>

    <div class="row">
      <app-table-paginator  #tablaComponent
                            [tituloItems]      = "tituloItemsUsuario"
                            [campoItems]       = "campoItemsUsuario"
                            [idItem]           = "idUsuario"
                            [listaItems]       = "listaUsuarios"
                            [countItems]       = "countItemsUsuario"
                            [update]           = "isPresidente()||isAdmin()"
                            [delete]           = "isPresidente()||isAdmin()"
                            [ver]              = "false"
                            [idTable]          = "'tableUsuarios'" 
                            (updateItem)       = "updateUsuarioEvent($event)"
                            (deleteItem)       = "cambioEstadoUsuarioEvent($event,false)"
                            (verItem)          = "cambioEstadoUsuarioEvent($event,true)"
                            (cambioDePagina)   = "cambioDePagina($event)">
      </app-table-paginator>
    </div>
  </div>

  <div class="col-12 mb-2 py-2 card">    
    <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoXLSX()">      
    </app-imprimir-pdf>
  </div>
</div>