  <div class="row mb-2 card">
    <h1 class="m-0 py-2"><b>CONFIGURACIÓNES DE ROLES DE USUARIO</b></h1>
  </div>

  <div class="row mb-2 card">
    <div class="col-12 mb-2">
      <div class="row my-2 d-flex justify-content-between">
        <div class="col-12 col-md-7">
          <h2 class="m-0 p-0">LISTA ROLES DISPONIBLES</h2>
        </div>
        <div class="col-12 col-md-5">
          <form [formGroup]='formularioRol'>
            <div class="row">
              <div class="col-12 col-md-8 mb-2">
                <label for="rol">Rol</label>
                <input  type="text" 
                        autocomplete="off"
                        id="rol"
                        class="form-control" 
                        placeholder="Ingrese el rol..."
                        formControlName="rol"
                        [ngClass]="{'is-invalid': formularioRolInvalido(), 'is-valid': formularioRolValido() }">
              </div>

              <div class="col-12 col-md-2 mb-2 d-flex flex-column justify-content-end" *ngIf="!banderaUpdate">
                <button class="btn btn-outline-primary mb-0  d-flex justify-content-center"
                        type="button"
                        (click)="crearRol()">
                  <span class="material-icons">save</span>
                </button>
              </div>

              <div class="col-12 col-md-2 mb-2 d-flex flex-column justify-content-end" *ngIf="banderaUpdate">
                <button class="btn btn-outline-success mb-0  d-flex justify-content-center"
                        type="button"
                        (click)="actualizarRol()">
                  <span class="material-icons">mode_edit</span>
                </button>
              </div>

              <div class="col-12 col-md-2 mb-2 d-flex flex-column justify-content-end">
                <button class="btn btn-outline-danger mb-0  d-flex justify-content-center"
                        type="button"
                        (click)="cancelarCrearRol()">
                  <span class="material-icons">close</span>
                </button>
              </div>
            </div>  
          </form>
        </div>
      </div>
    </div>

    <div class="col-12 mb-2">
      <app-tabla  #tablaRoles
                  [tituloItems]              = "tituloItemsRol"
                  [campoItems]               = "campoItemsRol"
                  [idItem]                   = "idItemRol"
                  [listaItems]               = "listaItemsRol"
                  [editar]                   = "isPresidente()||isAdmin()"
                  [eliminar]                 = "isPresidente()||isAdmin()"
                  [idTable]                  = "'tablaRoles'"
                  (editarItemSeleccionado)   = "actualizarRolEvent($event)"
                  (eliminarItemSeleccionado) = "eliminarRolEvent($event)">
      </app-tabla>
    </div>
  </div>

  <div class="row mb-2 py-2 card">    
    <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoXLSX()">      
    </app-imprimir-pdf>
  </div>