<div class="container-fluid row m-0 p-0">
  <div class="col-12 px-2 mb-2 card">
    <h1 class="m-0 py-2"><b>MIEMBROS DE MESA DIRECTIVA</b></h1>
  </div>
  
  <div class="mb-3 pb-2 card">
    <div class="col-12 pt-2">
      <h2 class="">ASIGNAR MIEMBROS A LA MESA DIRECTIVA</h2>
    </div>

    <form [formGroup]='formularioMesaDirectiva'>
      <div class="row d-flex justify-content-end mb-2 pb-2">      
        <div class="col-12 col-lg-6">
          <label class="pb-1">Mesa directiva</label>
          <select  type="text"
                    class="form-select"
                    formControlName="nombreMesaDirectiva"
                    [ngClass]="{'is-invalid': formularioMesaDirectivaInvalido('nombreMesaDirectiva'), 'is-valid': formularioMesaDirectivaValido('nombreMesaDirectiva') }">
            <option value="-1" [disabled]="true">Seleccione una mesa directiva...</option>
            <option value={{mesaDirectiva.id}} *ngFor="let mesaDirectiva of listaMesaDirectiva">{{mesaDirectiva.nombre}}</option>
          </select>
        </div>

        <div  class="col-12 col-lg-6 m-0"
              formArrayName="miembrosMesaDirectiva">
          <div  class=" row pe-0 mb-2"
                *ngFor="let miembroMesaDirectiva of miembrosMesaDirectiva.controls;index as i"
                [formGroupName]="i">   

            <div class="col-12 col-md-10 mb-1 mb-md-0">
              <label class="pb-1">Usuario</label>
              <select class="form-select"
                      formControlName="nombreSocio"
                      [ngClass]="{'is-invalid': formularioSocioMesaDirectivaInvalido(i,'nombreSocio'), 'is-valid': formularioSocioMesaDirectivaValido(i,'nombreSocio') }">
                <option value="-1" [disabled]="true">Seleccione un usuario...</option>
                <option value={{socio.id}} *ngFor="let socio of listaUsuarios">{{socio.nombre}} {{socio.apellidoPaterno}} {{socio.apellidoMaterno}}</option>
              </select>
            </div>

            <div class="col-12 col-md-2 d-flex flex-column justify-content-end" *ngIf="i==0"> 
              <button id="btnNuevoMiembro"
                      class="btn btn-outline-primary d-flex justify-content-center"
                      type="button"
                      (click)="aniadirNuevoMiembroMesaDirectivaFormulario()">
                <span class="material-icons">add</span>
              </button>
            </div>

            <div class="col-12 col-md-2 d-flex flex-column justify-content-end" *ngIf="i!=0">
              <button class="btn btn-outline-danger d-flex justify-content-center"
                      type="button"
                      (click)="eliminarMiembroMesaDirectivaFormulario(i)">
                <span class="material-icons" >close</span>
              </button>
            </div>            
          </div>
        </div>
      </div>

      <div class="row pt-2 d-flex justify-content-center">
        <div class="d-flex flex-column col-12 col-md-4 col-lg-3 col-xl-2 mb-2 mb-md-0">    
          <button class="btn btn-outline-danger"
                  type="button"
                  (click)="cancelarRegistroMesaDirectiva()">
            <span class="mdi mdi-trash-can"></span>
            Cancelar
          </button>
        </div>
        
        <div class="d-flex flex-column col-12 col-md-4 col-lg-3 col-xl-2 mb-2 mb-md-0">   
          <button class="btn btn-outline-primary"
                  type="button"
                  (click)="crearMesaDirectiva()">
            <span class="mdi mdi-content-save"></span>
            Guardar
          </button>
        </div>
      </div> 
    </form>
  </div>

  <div class="mb-3 pb-2 card">
    <div class="row my-2">
      <div class="col-12 col-lg-5">
        <h2 class="m-0 p-0">LISTA MIEMBROS DE MESA DIRECTIVA</h2>
      </div>

      <div class="col-12 col-lg-7">
        <form [formGroup]='formularioListaMiembrosMesaDirectiva'>
          <div class="row">
            <div class="col-12 col-xl-5 mb-2 mb-xl-0">
              <span>Estado mesa directiva</span>
              <select class="form-select"
                      formControlName="activo"
                      (change)="changeEstadoMesaDirectiva()">
                <option value="1">Mesa dierctiva vigente</option>
                <option value="0">Mesa directiva no vigente</option>
              </select>
            </div>
    
            <div class="col-12 col-xl-7 mb-2 mb-xl-0">
              <span>Mesa directiva</span>
              <select class="form-select"
                      formControlName="mesaDirectiva"
                      (change)="changeMesaDirectiva()">
                <option value="-1" [disabled]="true">
                  Seleccione Mesa directiva...
                </option>
                <option value={{mesaDirectiva.id}} *ngFor="let mesaDirectiva of listaMesaDirectivaFiltrado">
                  {{mesaDirectiva.nombre}}
                </option>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>  
      
      
    <div class="row">
      <app-tabla  #tablaMiembrosMesaDirectiva
                  [tituloItems]             = "tituloItemsMiembroMesaDirectiva"
                  [campoItems]              = "campoItemsMiembroMesaDirectiva"
                  [idItem]                  = "idItemMiembroMesaDirectiva"
                  [listaItems]              = "listaUsuariosMesaDirectiva"
                  [eliminar]                = "true"
                  [idTable]                 = "'tablaMiembrosMesaDirectiva'"
                  (eliminarItemSeleccionado)= "removeMiembroDeMesaDirectiva($event)">
      </app-tabla>
    </div>
  </div>

  <div class="col-12 mb-2 py-2 card atras">    
    <app-imprimir-pdf (generateArchivoXSLS)="genearteArchivoXLSX()">      
    </app-imprimir-pdf>
  </div>
</div>