<div class="table-responsive"> 
  <table  class="table table-hover table-sm"
          id={{idTable}}>
    <thead style="background-color: #154360;">
      <tr>
        <th scope="col" 
            class="align-middle fw-normal p-2 text-white text-start"
            *ngFor="let itemTitle of tituloItems" >
          {{ itemTitle }}
        </th>

        <th scope="col"
            class="align-middle text-start fw-normal p-2 text-white"
            *ngIf="checkItems">
          {{labelCheck}}
        </th>

        <th scope="col" 
            class="align-middle text-center fw-normal p-2 text-white text-center"
            *ngIf="editar || eliminar || habilitar || ver || descargar">
          Opc.
        </th>
      </tr>
    </thead>

    <tbody>
      <tr class="pointer"
          *ngFor="let item of listaItems; index as i"
          (click)="seleccionarItem(item)"
          (ngModel)="idItemSeleccionado"
          [ngStyle]="{'background-color': (idItemSeleccionado==item[idItem])?'#A9CCE3':'#FFFFFF'}">

          <td class="align-middle text-center" 
              scope="row">{{i+1}}
          </td>
          
          <td class="align-middle {{textPosition}}" 
              *ngFor="let campo of campoItems"
              [ngStyle]="{'color': (tipoBoolean(item[campo]))? (item[campo])?'#1D8348':'red' : 'black', 
                          'font-weight': (tipoBoolean(item[campo]))?'bold':'',
                          'text-align':( tipoNumero(item[campo]) || tipoBoolean(item[campo]) || esAcronimo(item[campo]) || item[campo]==undefined || item[campo]==null )?'center':'',
                          'border-right':'1px solid #EAECEE'}">
            {{ getResultData(item[campo]) }}
          </td>

          <td class="align-middle text-center"
              *ngIf="checkItems">
            <input  class      = "form-check-input" 
                    [disabled] = "disableCheck"
                    type       = "checkbox"
                    [checked]  = "false"
                    [id]       = "item[idItem]"
                    (change)   = "itemCheck(item)">
          </td>

          <td *ngIf="editar || eliminar || habilitar || ver || descargar"
              class="align-middle" 
              scope="row">
            <div class="d-flex justify-content-center">
              <button *ngIf="ver" class="btn btn-outline-warning mx-1"
                      type="button"
                      (click)="verItemEvent(item)">
                <span class="mdi mdi-eye"></span>
              </button>
              
              <button *ngIf="descargar" class="btn btn-outline-primary mx-1"
                      type="button"
                      (click)="descargarteItemEvent(item)">
                <span class="mdi mdi-download"></span>
              </button>
              
              <button *ngIf="editar" class="btn btn-sm btn-outline-success mx-1"
                      type="button"
                      (click)="editarItem(item)">
                <span class="mdi mdi-pencil"></span>
              </button>

              <button *ngIf="inhabilitar" class="btn btn-sm btn-outline-warning mx-1"
                      type="button"
                      (click)="inhabilitarItem(item)">
                <span class="mdi mdi-eye-off"></span>
              </button>

              <button *ngIf="reload" class="btn btn-sm btn-outline-secondary mx-1"
                      type="button"
                      (click)="reloadItemEvent(item)">
                <span class="mdi mdi-reload"></span>
              </button>

              <button *ngIf="habilitar" class="btn btn-sm btn-outline-success mx-1"
                      type="button"
                      (click)="habilitarItem(item)">
                <span class="mdi mdi-eye"></span>
              </button>
              
              <button *ngIf="eliminar" class="btn btn-sm btn-outline-danger mx-1"
                      type="button"
                      (click)="eliminarItem(item)">
                <span class="mdi mdi-delete"></span>
              </button>
            </div>
          </td>
      </tr>
    </tbody>
  </table>
</div>
